$include-pictos-font: false;
$include-default-icons: false;

@import 'sencha-touch/boston';
@import 'sencha-touch/boston/all';
@import 'mobileclient/shared';
@import 'mobileclient/component';
@import 'mobileclient/svg';

// Override list padding for the Facility and Service lists
.component-list .x-dataview-inner {
  padding: 0!important;
}
