$include-pictos-font: false;
$include-default-icons: false;

@import 'sencha-touch/boston';
@import 'sencha-touch/boston/all';
@import 'mobileclient/shared';
@import 'mobileclient/svg';

.document-list .x-img {
  background: #eee;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @include border-radius(0.35em);

  width: 80px;
  height: 80px;
}

.highlighted-list-item-field {
  color: $boston-header-text;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.phone-highlighted-list-item-field {
  color: $boston-header-text;
  font-weight: bold;
}
