<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<style>
<!-- 
 h4 {font-style: italic; margin-top: 6px; margin-bottom: 2px;} 
 h3 {margin-top: 4px; margin-bottom: 3px;}
 h2 {margin-top: 4px; margin-bottom: 3px;}
--> 
</style>
</head>
<body>

<h1>ARCHIBUS Web Central Accessibility Navigator</h1>
<h2>508 Compliant Views</h3>
-------------------------------------------------------------------------------
<h3>SPACE OCCUPANCY</h3>

<a href="ab508-emstd-define.axvw" target="_top">Define Employee Standards Console</a><br>
<a href="ab508-em-add-or-update.axvw" target="_top">Add or Update Staff and Contractor Data</a><br>
<a href="ab508-rm-val.axvw" target="_top">Define Rooms</a><br>
<a href="ab508-dp-chargeback.axvw" target="_top">Review the Current Space Chargeback</a><br>
<a href="ab508-em-setup.axvw" target="_top">Setup or Move Staff Member</a><br>

<br>-------------------------------------------------------------------------------
<h3>ASSET MANAGEMENT</h3>
<a href="ab508-eqstd-book.axvw" target="_top">View Equipment Standards Book</a><br>
<a href="ab508-eqxdp.axvw" target="_top">View Equipment by Department</a><br>
<a href="ab508-fnstd-book.axvw" target="_top">Furniture Standards Book</a><br>
<a href="ab508-softinvxsoftstd.axvw" target="_top">View Software by Standards</a><br>

<br>-------------------------------------------------------------------------------
<h3>REAL PROPERTY</h3>
<a href="ab508-bl-performance.axvw" target="_top">Building Performance</a><br>
<a href="ab508-bl-abstract.axvw" target="_top">Building Abstract</a><br>
<a href="ab508-regcompliancexproperty.axvw" target="_top">Regulatory Compliance Items by Property</a><br>

<br>-------------------------------------------------------------------------------
<h3>BUILDING OPERATIONS</h3>
<a href="ab508-wrtr-workload.axvw" target="_top">Review Trades Workload Levels</a><br>
<a href="ab508-eq-maintenance-history.axvw" target="_top">Review an Equipment Item's Maintenance History</a><br>

<br>-------------------------------------------------------------------------------
<h3>WORKPLACE PORTAL</h3>
<a href="ab508-visitor-view.axvw" target="_top">View Visitor or Parking Pass Information</a><br>



</body>
</html>