<html>
	<head>
	
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		
		<link rel="stylesheet" type="text/css"
			href="/archibus/schema/ab-core/libraries/ext/resources/css/ext-all.css">
		<link rel="stylesheet" type="text/css"
			href="/archibus/schema/ab-core/css/abcascadingstylesheet.css">
		<link rel="stylesheet" type="text/css"
			href="/archibus/schema/ab-core/css/abcascadingstylesheet-slate.css">
	</head>
	<body>
		<center>
			<h1>You have signed out of Web Central.</h1>
	        <h1>To sign in again, press "Refresh" button of the browser.</h1>
			<img align="middle" alt="ARCHIBUS"
				src="/archibus/schema/ab-system/graphics/ab-pnav-opener.gif" />
		</center>
	</body>
</html>

