$include-default-icons: false !default;

$background-color: #fff;
$primary-text-color: #000;

$boston-blue: #0F407A;
$boston-red:#fc3e39;
$boston-green:#53d769;

$boston-blue-lighten: lighten($boston-blue, 30%);
$boston-red-lighten: lighten($boston-red, 30%);
$boston-green-lighten: lighten($boston-green, 30%);

$boston-buttonbar-background: #0F407A;
$boston-buttonbar-icon: #fff;

$boston-titlebar-background: #000;
$boston-titlebar-text: #FFF;
$boston-titlebar-edge: #E4EBF6;

$boston-searchbar-background: #EFF3F9;
$boston-searchbar-border: #748FB7;
$boston-action: #FF7915;

$boston-header-background: #D6DFED;
$boston-header-border: #3271A0;
$boston-header-text: #3271A0;

$boston-label-background: #f9f9f9;

