
.occurrenceChart {
    border-collapse: collapse;
    width: 99%;
}

.occurrenceChart th {
    border-bottom: 1px solid #ECEEF4;
    border-left: 1px solid #ECEEF4;
    font-weight: bold;
}

.occurrenceChart th,
.occurrenceChart td {
    padding: 2px 8px;
    border-bottom: 1px solid #ECEEF4;
}

.occurrenceChart td {
    color: #537AC0;
    font-weight: bold;
}

.occurrenceChart td img {
    float: left;
    opacity: 0.75;
    padding-right: 4px;
}

.occurrenceChart td.site {
    border-bottom: none;
}

.occurrenceChart td.timeline {
    padding: 0px;
    width: 6px;
}

.occurrenceChart td.timeline.even {
    background-color: #ECEEF4;
}

.occurrenceChart td.timemark {
    color: #777;
    font-weight: normal;
    padding-bottom: 8px;
}

.occurrenceChart td.timeline div.currentTime {
    background-color: black;
    border-right: 1px solid #777;
    width: 1px;
    height: 22px;
    position: absolute;
    margin-top: -10px;
    z-index: 100;
}