
body, td {
	margin: 0; border: none; padding: 0;
	overflow: hidden;
	font-size: 12px;
}

/* div default style */
.div {	
	position: relative;
	display: block;
	width: auto;
	background-color: #FFF;
	color: #006;	
	/* use border box size as default */
	box-sizing: border-box;  
    -moz-box-sizing: border-box;   
	 z-index: 1;  
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;		
}

/* try to use a table */
.grid {   
	 position: absolute;	 
	 table-layout: fixed;
	 width: auto;	
	 border-collapse: collapse;  
	 border: 0px; padding: 0px; margin: 0px;
}

/* div for navigation */
#navigation {
   position: absolute;   
   left: 200px;	
   display: block;
   height: 40px;
   width: auto;   
	box-sizing: border-box;  
    -moz-box-sizing: border-box;   
}

#navigation table {
	position: relative;
	top: 0px;
	height: 20px; 
}

#header td {  	
	background-color: #369;
	color: #FFF; 
	text-align: center;
	font-weight: bold;
} 

.title { 
	border-left: 1px solid #FFF;  
	border-right: 1px solid #FFF;  
	line-height: 20px;
	cursor: default;
	text-align: center; 
}	

.arrow { 
	width: 80px; 	
	line-height: 20px;
	cursor: pointer;
	text-align: center; 
}	

#timeline td {   
	background-color: #EEF;  	 
	text-align: center; 
	color: #006;
	border: 1px solid #999;
	cursor: pointer;	 
} 


a.yuimenuitemlabel {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.selected {
	font-size: 12px !important;
}

ul {
	list-style: none;
	font-size: 12px;
}

#menu { 
	/* set the menu float left */
	float: left;	 
	width: 250px;
	height: 100%;
	margin: 0; border: none; padding: 0;
	background-color: #FFF;
}

/** do we use a legend for statusses **/

#legend {	 
	position: absolute;
	display: block; 	
	width: 250px;
	height: 120px;
	z-index: 9;
	overflow: hidden;
	left:20px;
	bottom: 0px; 
}

#legend ul {
	list-style: none;
	font-size: 12px;
	color: #000080;
	margin-left: -30px;
	*margin-left: 0px;
}

#legend ul li {
	height: 16px;
	line-height: 16px;	
}

.icon {
	display: inline-block;
	float: left;
	vertical-align: middle;	 
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-right: 2px;
}

/** global container **/

#doc {
	position: relative;
	display: block; 
	width: auto;
	height: 100%;
	background-color: #FFF;
	margin: 0; border: none; padding: 0;
	overflow: hidden;
}

/** planning area (doc minus menu) **/
 
#content {
	/* width is set to auto to maximize it to available space */
	width: auto;
	height: 100%;	
	margin: 0; border: none; padding: 0;
	background-color: #FFF;
}

/**
	define styles for a panel container
*/
div.panel {
	 position: relative;
	 display: block;
	 font-size: 12px;
	 line-height: 12px;
	 color: #000080; 
	 z-index: 1; 
	 /* this makes the panel a correct clear container */
	 overflow: hidden;
	 width: 100%; 
}

div.panel_header {
	position: relative;
	display: block;
    background-image: url("/archibus/schema/ab-system/graphics/ab-slate-gradient-panelheader.png");       
    height: 24px; 
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif ;
    text-indent: 4px;
    letter-spacing: 1px;
	line-height: 24px;
    color: #000000;
    vertical-align: middle;
    white-space: nowrap;
	 z-index: 1; 
}

div.panel_body {
	 position: relative;
	 display: block;
	/* this makes the panel a correct clear container */
	 overflow: hidden;
	 width: 100%; 
}	

div.panel_body {
	/* padding: 4px; */
	border: 1px solid #99F; 
    z-index: 1; 
	overflow: hidden;
}	

/** arrow pointer for collapsible panel **/
.arrow_down {
	float: left;
	background-image: url('/archibus/schema/ab-system/graphics/dn.gif' );	 
	background-repeat:no-repeat;  
	width: 20px;
	height: 16px;
	margin: 2px;
}

label {
	display: block; 
}

body {
	height: 100%;
}	

/** scrolling area for planning **/
#scheduleView {
	position: relative;	 
	width: auto; 
	zoom: 1;
	z-index: 1; 
	overflow: auto;
	font-size: 12px; 
}
/** navigation **/ 
div.topContainer { 	
	position: relative;
	display: block; 	 
	height: 40px;
	width: auto;
	background-color: #EEF;
	border-bottom: 1px solid #999; 
	z-index: 1; 
}

div.bodyContainer { 	
	position: relative;
	display: block; 	 
	width: auto; 
	height: 100%;
	z-index: 1; 
	overflow: hidden;
}

/* button container */
div.selector {
   position: absolute;
   left: 0px;
   display: block;	
   width: 201px;	
   height: 40px;
   display: block; 
   padding: 0px; 
   margin: 0px; 
   line-height: 30px;   
   cursor: pointer;
   background-color: #EEF;
   border-left: 1px solid #DDF;
   box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}

/** buttons **/
div.select {
	position: relative;
	float: left;
	width: 40px;
	height: 28px;
	background-color: #9CE;
	border: 1px solid #369; 
	cursor: pointer;
	color: #339;
	font-weight: bolder;
	font-size: 20px;
	line-height: 28px;
	text-align: center; 
	margin-left: 4px;
	margin-top: 5px;
}
/* timeline navigator */	
div.timeline { 
   position: absolute;
   left: 201px;	
   right: 0px;
   display: block;
   height: 40px;
   width: auto;
   display: block; 
   padding: 0px;	 
}

div.timeline div {
	
	width: auto; 
	height: 20px;	
}

div.nav div {
	position: relative;
	float: left;
	border-bottom: 1px solid #999;		
	background-color: #369;
	color: #FFF; 
	overflow-x: hidden;
	overflow-y: hidden;
}

div.nav div.title {
	position: absolute;
	right: 100px;
	left: 100px;	
	line-height: 20px;
	font-weight: bold; 	
	border-left: 1px solid #DDF;
	border-right: 1px solid #DDF;
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}

div.nav div.arrow {
	float: left;
	width: 100px; 
	font-weight: bold;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}
.rightArrow {
	position: absolute !important;
 	right: 0px; 
}

/** cells in the timeline header **/
div.date {
	float: left;
	height:  19px;  
	z-index: 2;	
	line-height: 20px;    
	border-left: 1px solid #999;	
	background-color: #EEF; 
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
	cursor: pointer; 
	color: #339; 
	text-align: center; 
}
/** used by cell and date for IE shift prevention **/
.last {
	position: absolute !important;
	right: 0px; 
}

/** mouse over styles **/
.active {
	background-color: #DDF !important;
	color: #009 !important;
}

.active_dark {
	background-color: #69C !important;
	color: #FFF !important;
}
/** text inside date **/
div.date span {
	margin-left: 4px;	 
}	
 
/* resource container : label + schedule */ 
div.resourceContainer { 	
	position: relative;
	display: block; 	 
	height: 36px; /** 3 rows of 12 px **/
	width: auto; 
	background-color: #EEF;
	border-bottom: 1px solid #999; 
	z-index: 1; 
}

/* label is 200px wide */
div.resourceLabel {
   position: absolute;
   left: 0px;
   display: block;	
   width: 200px;	
   height: 36px;
   display: block; 
   padding: 0px; 
   margin: 0px;
   line-height: 36px;   
   text-indent: 4px;
   cursor: pointer;
}
/* schedule board is 200px to the left */
div.resourceSchedule { 
   position: absolute;   
   display: block;
   left: 200px;	
   height: 36px;  
   /* make container */  
    overflow: hidden;
	width: 100%;    
   /* use border box */   
    box-sizing: border-box;  
   -moz-box-sizing: border-box;      
}

/** cell inside a drop container **/

div.cell {
	position: relative;	   
	float: left;
	height:  35px; /* -1px for IE */
	border-left: 1px solid #999; 	
	z-index: 2;	
	overflow: visible; /* can be overriden for daily view */ 
	
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}

/** color cells **/
div.work {
	background-color: #EEF;  
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}

div.weekend { 
	background-color: #FFC;  
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}

div.holiday { 
	background-color: #CFF;  
	box-sizing: border-box;  
	 -moz-box-sizing: border-box;
}

/** task entrees in the navigation tree **/


.wrapper {
	position: relative;
	background: #FFF;	  
	height: 19px;		
}

.task { 	 
    color: #FFF;
    cursor: move;	
    height: 12px;		 
    width: 200px;
    z-index: 99; 
    font-size: 10px;
    line-height: 12px; 
	overflow: hidden;
}

/** progress under task bar **/
.progress {
	background: #666;	 
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 6px;
	line-height: 4px; 
	font-size: 4px;  
}
 


/** entry on the planning board **/
.entry {
   position: absolute;
   left: 0px;
   top: 0px;    
   color: #FFF;
   margin-bottom: 1px;      
   height: 12px;	
   border-bottom: 1px solid white;
   border-right: 1px solid white;
   min-width: 20px;
   width: 60px;
   z-index: 999; 
   font-size: 10px;
   line-height: 10px;
   overflow: hidden;
   box-sizing: border-box;  
   -moz-box-sizing: border-box;   
}

.edit {
	background: #F99;	   
	cursor: move;	
}



/** select button container **/
.selector {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 200px;
   height: 40px;
}

/** coloring entries **/

.NEW {
	background: #999;	   
}

.A {
	background: #B37F00;	   
}

.AA {
	background: #A2003E;	        
}


.I {
	background: #1FAD00;	 
}


.Com {
	background: #140F7B;	   
}

.dimmed {
	background: #CCC !important;	   
}

.readOnly {
	background: #CCC !important;	  	    
}



