$include-pictos-font: false;
$include-default-icons: false;

@import 'sencha-touch/boston';
@import 'sencha-touch/boston/all';
@import 'mobileclient/shared';
@import 'mobileclient/svg';
@import 'mobileclient/map';
@import 'mobileclient/svg';

.document-list .x-img {
  background: #eee;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @include border-radius(0.35em);

  width: 80px;
  height: 80px;
}

.workrequest-list {
  .x-field-checkbox {
    background-color: transparent;
  }

  .x-list-item-inner {
    padding: $list-padding;
  }

  .x-list-item-body {
    padding: 0px !important;
  }

  .workrequest-list-hbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start;
    -webkit-box-pack: start;

    .workrequest-list-workrequest {
      font-weight: bold;
    }

    .workrequest-list-date {
      font-size: 80%;
      color: royalblue;
      font-weight: normal;
    }

    .workrequest-list-status {
      font-size: 80%;
      color: royalblue;
      text-align: right;
      -webkit-box-flex: 1;

      .pending-action-img {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXRJREFUeNrMmN9HBFEUx8/usCxDLPUSsU8RS0/71GtERCxLTxGXWPYP6M/ZvyBiH3qvpywloqdStpdSlrKU6Xs5wzX2x525M3PP5WNexszHOXfunHMoIiILQtADQ/ALoiVMwQVQoG75jqU31Fji3UJgHmOWClxk2uDRQSLJPWhlkemC7xxFYibgMI3MWQESSfo2Mt0SRCL+CA4WybQLSs2ilLVmydRy3qxpNnWQlOl5EIlRpkzoeI648sIOVAUKNMjfWgdHxJEZeYxKzJWOTCXidHlef2CtSjJWAHakyOi1KUlmQ5LMiiQZkiTzJUnmWZLMnbhD70aAzDX40DIDATIDMkqIsecSom4WV6ceZY6llJ2jWWWnZrvkgvxzXkEe0ymxVdm3aeL6JYioNO1tp8D2di9L46/z+ZCjyC3YchmJBBxSl3PoCZzkMZ8xh0WKB0BTCwGd4nM+Q6yHRZUMf8kQ7IJV0DR6rjfwytdL8JP2wf8CDACMOPd3mxBs7AAAAABJRU5ErkJggg==);
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        height: 1.1em;
      }
    }

    h3 {
      font-size: 80%;
      color: gray;
    }
  }
}

.x-list-header {
  color: #827777 !important;
}

