<html>
	<head>
		<title>Grid Test</title>
		<script type="text/javascript" src="..\..\javascript\common.js"></script>
		<script type="text/javascript" src="..\..\javascript\base\base.js"></script>
		<script type="text/javascript" src="..\..\javascript\yui\yahoo.js"></script>
		<script type="text/javascript" src="..\..\javascript\yui\event.js"></script>
		<script type="text/javascript" src="..\..\javascript\yui\dom.js"></script>
		<script type="text/javascript" src="..\..\javascript\json\jsonrpc.js"></script>
		<script type="text/javascript" src="..\..\component\ab-namespace.js"></script>
		<script type="text/javascript" src="..\..\component\ab-workflow.js"></script>
		<script type="text/javascript" src="..\..\component\ab-view.js"></script>
		<script type="text/javascript" src="..\..\component\ab-component.js"></script>
		<script type="text/javascript" src="..\..\component\ab-command.js"></script>
		<script type="text/javascript" src="ab-grid.js"></script>
		<script type="text/javascript" src="ab-reportgrid.js"></script>
		<script type="text/javascript" src="ab-miniconsole.js"></script>
		<script type="text/javascript" src="ab-grid-test.js"></script>
		<link type="text/css" rel="stylesheet" href="..\..\style\abcascadingstylesheet-slate.css"/>
	</head>
	<body onLoad="createGrid()">
		<h1>Simple Grid</h1>
		<div id="grid-simple"></div>
		
		<h1>Complex Grid</h1>
		<div id="grid-complex"></div>
		
		<h1>Two-tier Column Grid</h1>
		<div id="grid-2column"></div>
	</body>
</html>
