<?xml version="1.0" encoding="UTF-8"?>
<html isEditForm="false" isErrorMessage="false" requestId="null"><title> </title>
	<head>
	<link href="/archibus/schema/ab-system/style/abcascadingstylesheet-slate.css" type="text/css" rel="stylesheet"/>
	<script src="/archibus/schema/ab-system/javascript/common.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/locale.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/date-time.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/inputs-validation.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/edit-forms.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/reports.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/calendar.js" language="JavaScript"> </script>
	<script language="JavaScript">
				SetLocaleCommonJSVariables('name','en_US');
			
				SetLocaleCommonJSVariables('dbExtension','');
			
				SetLocaleCommonJSVariables('currencySymbol','$');
			
				SetLocaleCommonJSVariables('decimalSeparator','.');
			
				SetLocaleCommonJSVariables('groupingSeparator',',');
			
				SetLocaleDateJSVariables("short","M/d/yyyy");
			
				SetLocaleDateJSVariables("long","MMMM d, yyyy");
			
				SetLocaleDateJSVariables("monthNames","January,February,March,April,May,June,July,August,September,October,November,December,");
			
				SetLocaleTimeJSVariables("short","h:mm a");
			
				SetLocaleTimeJSVariables("long","h:mm:ss a z");
			
				SetLocaleTimeJSVariables("amPmStrings","AM,PM");
			</script>
	<script src="/archibus/dwr/engine.js" language="JavaScript"> </script>
	<script src="/archibus/dwr/util.js" language="JavaScript"> </script>
	<script src="/archibus/dwr/interface/workflow.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/base/base.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/json/jsonrpc.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/yui/yahoo.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/yui/dom.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/javascript/yui/event.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/ab-namespace.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/ab-workflow.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/ab-view.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/ab-command.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/ab-component.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/ab-form.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/grid/ab-grid.js" language="JavaScript"> </script>
	<script src="/archibus/schema/ab-system/component/grid/ab-miniconsole.js" language="JavaScript"> </script>
    </head>
	<body bottomMargin="0" topmargin="0" rightmargin="0" leftmargin="0" class="body">
		<script language="javascript">
				SetDebugVariable(false);
				afmHiddenFormName='afmHiddenForm';
			
				xmlName='xml';
			</script>
		<form style="margin:0;display:none;" name="afmHiddenForm" method="post">
			<input value="" name="xml" type="hidden"/>
		</form>
		<span id="general_warning_message_empty_required_fields" style="display:none">Some required fields have not been entered, please enter or select values for them!</span>
		<span id="general_delete_warning_message_empty_required_fields" style="display:none">Are you sure you want to delete this record?</span>
		<span id="general_invalid_input_warning_message_integer" style="display:none">Invalid input! Please enter an integer.</span>
		<span id="general_invalid_input_warning_message_numeric" style="display:none">Invalid input! Please enter a numeric value.</span>
		<span id="document_delete_warning_message" style="display:none">This action will delete the reference to the version of this document stored on the server.  Only the archived versions will remain on the server.  Do you wish to continue?</span>
		<span name="sun" id="sun" style="display:none">Sun</span>
		<span name="mon" id="mon" style="display:none">Mon</span>
		<span name="tue" id="tue" style="display:none">Tue</span>
		<span name="wed" id="wed" style="display:none">Wed</span>
		<span name="thur" id="thur" style="display:none">Thur</span>
		<span name="fri" id="fri" style="display:none">Fri</span>
		<span name="sat" id="sat" style="display:none">Sat</span>
		<span name="sat" id="today" style="display:none">Today</span>
		<span name="close" id="close" style="display:none">Close</span>
		<div style="position:absolute;display:none;background-color:white;layer-background-color:white;border:1px solid black;z-index:100" id="AFM_CALENDAR"> </div>
		<iframe style="position:absolute;top:0px;left:0px;display:none;" frameborder="0" scrolling="no" src="javascript:false;" id="AFM_CALENDAR_IFRAME"> </iframe>
		<table id="_head" class="tgrpHeader" width="100%"><tr><td id="_title" style="" class="">Rooms</td></tr></table>
		<form style="display:inline" name="N104B4">
			<script language="javascript">
            system_form_onload_handlers.push(
                function() {
					var filterValues = {'rm.bl_id': 'HQ', 'rm.fl_id': '18', 'rm.xr_id': '17', 'rm.rm_id': ''};

                    var control = new AFM.grid.MiniConsole(
                        '/archibus/schema/ab-products/solutions/forms/miniconsole/ab-ex-miniconsole-rm.axvw',
                        0,
                        'rm_report', 
                        'rm.rm_id', 
                        'rm.rm_id', 
                        'panelReport', 
                        true, 
                        false,
                        false,
						true,
	                    '',
						filterValues);            
                });
		    </script>
			<div id="rm_report"/>
		</form>
	</body>
</html>