 #esriTOS {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 40;
    background: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	color: #FFF;
    cursor: pointer;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    font-size: 0.75em;
	z-index: 99;
 }
#esriLegendContainer {
    position: absolute;
	right: 10px;
	top: 41px;
	height: 250px;
	width: 250px;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	opacity: 0.75;
	filter: alpha(opacity = 75);
	background: #000;
	z-index: 99;
	overflow: auto;
	overflow-x: hidden;
	visibility: visible;
}
#esriLegendCloseButton {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 16px;
	height: 16px;
	background-image: url('../graphics/icons/view/ab-filter-clear-white.png');
	z-index: 100;
}
#esriLegend {
	opacity: 1;
	filter: alpha(opacity = 100);
}
.esriLegendLayerLabel {
	font-size: 10pt;
	font-weight: bold;
	color: #FFF;
}
.esriLegendServiceLabel {
	display: none; 
}
.esriLegendService {
	font-size: 9pt;
	color: #FFF;
}
.esriLegendService img {
	width: 20px;
	height: 20px;
}
#meta {
    position: absolute;
    right: 20px;
    top: 46px;
    width: 210px;
    height: 210px;
	margin: 5px;
    z-index: 50;
    background: #000;
	opacity: 0.75;
    filter: alpha(opacity = 75);
	color: #FFF;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px; 
    font-size: 9pt;
  }
#metaCloseButton {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 16px;
	height: 16px;
	background-image: url('../graphics/icons/view/ab-filter-clear-white.png');
	z-index: 100;
}
#meta h3 {
    color: #FFF;
    font-size: 1.0em;
    text-decoration: underline;
	padding: 0px;
    margin: 0px;
    display: inline-block;
} 
.mapLegend .x-window-header-text {
  	font-size: 16px;
  	font-weight: bold;
  	padding 2px;
} 

#markerTooltip {
        background-color: black;
        border: 1px solid #000000;
        border-radius: 4px 4px 4px 4px;
        color: white;
        font-size: 8pt;
		opacity:0.75;
		filter:alpha(opacity=35); /* IE8 and earlier */
		padding: 5px;
        position: absolute;
        z-index: 9999;
 }