.leaflet-map-pane {
    cursor: default !important;
}

.leaflet-map-marker-tooltip {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 4px 4px 4px 4px;
    color: black;
    font-size: 8pt;
    opacity:0.75;
    filter:alpha(opacity=35); /* IE8 and earlier */
    min-width: 20px;
    padding: 5px;
    position: absolute;
    text-align: center; 
    z-index: 999;
}

div.leaflet-map-marker-infowindow {
        position: absolute;
        padding: 0;
        padding-right: 8px;
        left: 10px;
        bottom: 10px;
        /*height: 275px; */
        min-width: 200px;
        max-width: 400px;
        max-height: 350px;
        overflow: auto;
        overflow-x: hidden;

        background-color: white;
        border: 1px solid #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        border: 0px;

        /* display: none; */
        color: black;
        font-size: 8pt;
        opacity:0.90;
        filter: alpha(opacity=25); /* IE8 and earlier */
        z-index: 999;
        cursor: pointer;
 }

div.leaflet-map-marker-infowindow-content table {
    border-collapse: collapse;
}

.leaflet-map-marker-infowindow-closebutton {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
        background-image: url('../graphics/icons/view/ab-filter-clear.png');
        z-index: 100;
}

.leaflet-map-marker-infowindow-title {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #000;
}

.leaflet-map-marker-infowindow-subtitle {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #000;
}

.leaflet-map-marker-infowindow-photo {
    /** background-image: url("http://localhost:9200/archibus/schema/brg/campus-map/bldg-photo-alt-525x350.jpg"); **/
    background-image: url("");
    background-size: 100px 100px;
    height: 100px;
    width: 108px;
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-right: 8px;
}

.leaflet-map-marker-infowindow-text-title {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;    
    font-size: 10pt;
    font-weight: bold;
    color: #000;
    padding-right: 5px;
}

.leaflet-map-marker-infowindow-text {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;    
    font-size: 10pt;
    color: #000;
}

.leaflet-map-marker-infowindow-action {
    font-size: 11pt !important;
    text-align: center;
    color: #000;
    border-style: solid;
    border-width: thin;
}

.leaflet-legend-container {
    position: absolute;
    right: 10px;
    top: 41px;
    /** height: 250px;
    width: 250px;*/
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.90;
    filter: alpha(opacity = 90);
    background: #fff;
    z-index: 99;
    overflow: auto;
    overflow-x: hidden;
    visibility: visible;
}
.leaflet-legend-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-image: url('../graphics/icons/view/ab-filter-clear.png');
    z-index: 100;
}
.leaflet-legend-content {
    margin: 5px;
    opacity: 1;
    filter: alpha(opacity = 100);
}

.leaflet-legend-title {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;    
    font-size: 11pt;
    font-weight: bold;
    color: #000;
}

.leaflet-legend-image {
    text-align: center;
    vertical-align: center;
}
.leaflet-legend-label {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 9pt;
    color: #000;
    vertical-align: center;
    padding-left: 5px;
}
.leaflet-popup-content-title {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: : 11pt !important;
    font-weight: bold;
}
.leaflet-popup-content-fields {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 9pt;
}
.leaflet-popup-action {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 9pt; 
}
.leaflet-div-cluster-marker
{
  background:black;
  border:5px solid rgba(255,255,255,0.5);
  color:white;
  border-radius:50%;
  line-height:25px;
  text-align:center;
}
.leaflet-div-cluster-marker-label
{
  color:white;  
  font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
  font-size: 11pt;  
}

