.panelToolbar{background-image:none;}
.panelToolbar.x-toolbar .ytb-text{font-size:28px;font-weight:normal;padding-left:8px;}
.panelToolbar .x-btn-text{font-size:16px;}
a.button,.panel td a.mediumAction,.panelTop td a.mediumAction,.panelReport td.button input{font-size:16px;font-weight:normal;}
.panel td,.panelTop td{padding-top:8px;padding-bottom:8px;}
.panel .space td,.panelTop .space td{padding:0;}
.panel .fieldsetBottom td{padding:0;}
.panel td.fieldset{padding:0 4px;}
.panel td.labelFieldset{font-size:22px;}
.panel td.label,.panel td.labelValidated,.panelTop td.labelTop,.panelTop td.labelValidatedTop{padding-top:8px;font-size:16px;width:250px;}
.panelTop td.labelTop,.panelTop td.labelValidatedTop{padding-bottom:0;height:0;}
.panel td span,.panelTop td span{font-size:16px;}
input.inputField,input.inputField_cell,.inputField_multi_col,.inputField_box,textarea{font-size:16px;}
span.inputField,span.inputField_cell,td.hovered span.inputField,td.hovered span.inputField_cell,.defaultEditForm_textareaABData_readonly{border-width:1px;}
input.inputField,.inputField_cell,.inputField_multi_col,textarea.inputField{width:307px;}
select.inputField_box{width:311px;}
input.shortField,textarea.shortField{width:150px;}
select.shortField{width:154px;}
input.longField,textarea.longField{width:464px;}
select.longField{width:468px;}
.selectValue_Button{left:-21px;margin-bottom:-4px;}
.selectValue_Button.multiEdit{margin-bottom:0;}
.panel td.label.short{width:125px;}
.panel td.label.long{width:375px;}
.panel td input[type="radio"],.panel td input[type="checkbox"],.panelTop td input[type="radio"],.panelTop td input[type="checkbox"]{margin-top:5px;}
