/*************************************************************************************************
 Default Web Central CSS file. Contains CSS classes used for all color schemes. 
 See notes on afm_users.clr_scheme, which dictates which style sheet is in use for each user.
 *************************************************************************************************/

body {
    margin: 0px;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

form {
    margin: 0px;
}

p {
    font-size: 12px;
    padding: 4px;
}

h1, h2, h3, h4 {
    padding: 4px;
}

a {
    font-size: 11px;
    font-family: arial, geneva, helvetica, sans-serif;
    text-decoration: none;
    color: #000080;
}

a:hover {
    font-size: 11px;
    font-family: arial, geneva, helvetica, sans-serif;
    color: #A51818; /* red */
}

.copyright {
    font-size: xx-small;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

div.instructions {
    border-bottom: 1px solid #bbb;
    background-color: #eee;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 18px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.instructionsText {
    background-color: #eee;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 0px;
}

.instructions li {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.instructions p {
    color: #444;
}

/* --------------------------- Dashboard IFrames ----------------------------------------------- */

.iframes_dashboard {
    background-color: #FFFFFF;
    margin-top: 6px;
}

.iframes_body {
    background-color: #99C5EB; /* Matches processes tab row (theme) */
    margin: 0px;
}

.iframes_wrapper td {
    vertical-align: top;
    height: 100%;
}

/* --------------------------- Process Navigator ----------------------------------------------- */

.nav {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F3F7FA;
    height: 100%;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    position: relative; bottom: 0px; /* Required for IE */
}

.nav li {
    display: block;
    padding-top: 4px;
}

.nav span {
    background-repeat: no-repeat;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
}

.nav_body {
    vertical-align: top;
    background-color: #F3F7FA; /* (theme) */
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px;
    scrollbar-track-color: #F5FAF4;
    scrollbar-arrow-color: #000000;
    scrollbar-face-color: #7498A6;
    scrollbar-shadow-color: #7498A6;
    scrollbar-highlight-color: #7498A6;
}

.nav_wrapper {
    background-color: #F3F7FA; /* (theme) */
    height: 100%;
    border-right: 1px solid #1E4949; /* (theme) */
    vertical-align: top;
}

.nav_parents_title {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-parentstitle.png); /* (theme) */
    background-repeat: repeat-x;
    width: 100%;
    height: 27px;
    color: #000000;
    font-size: 11px;
    line-height: 1.9;
    font-weight: bold;
    padding-left: 12px;
    white-space: nowrap;
}

.selectedparents {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-selected.png); /* (theme) */
    background-repeat: repeat-x;
    background-color: #99C5EB; /* (theme) */
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    cursor: pointer;
    vertical-align: middle;
    border-bottom: 1px solid #000080;
}

.selectedparents_over {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-unselected.png); /* (theme) */
    background-repeat: repeat-x;
    background-color: #386AA5; /* (theme) */
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    cursor: pointer;
    vertical-align: middle;
    border-bottom: 1px solid #7DA6CF;
}

.selectedparents_text {
    width: 100%;
    font-size: 11px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 5px;
}

.parentnodes {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-unselected.png); /* (theme) */
    background-repeat: repeat-x;
    background-color: #386AA5; /* (theme) */
    width: 100%;
    padding-left: 6px;
    text-align: left;
    font-size: 11px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #7DA6CF;
}

.parentnodes_over {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-selected.png); /* (theme) */
    background-repeat: repeat-x;
    background-color: #99C5EB; /* (theme) */
    width: 100%;
    padding-left: 6px;
    text-align: left;
    font-size: 11px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #7DA6CF;
}

.parentnodes_text {
    width: 100%;
    font-size: 11px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 5px;
}

.leafnodes {
    width: 100%;
    color: #000000;
    padding-left: 6px;
    padding-right: 18px;
    text-align: left;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000080;
    cursor: pointer;
    background-color: #F3F7FA; /* (theme) */
    border-bottom: 1px solid #F3F7FA; /* (theme) */
}

.leafnodes_over {
    width: 100%;
    color: #000000;
    padding-left: 6px;
    padding-right: 18px;
    text-align: left;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000080;
    cursor: pointer;
    background-color: #C3D2D9; /* (theme) */
    border-bottom: 1px solid #000080;
}

.leafnodes_img {
    position: relative;
    top: 3px;
    left: 0px;
}

.leafnodes span {
    padding-top: 0;
    padding-left: 16px;
}

.leafnodes_over span {
    padding-top: 0;
    padding-left: 16px;
}

.leafnodes_text {
	white-space: normal;
    padding-right: 12px;
	line-height: 10px;
}

.nav span.leafgrouptitles {
    padding-left: 6px;
    font-size: 13px;
    color: #000080;
    font-weight: bold;
    margin-top: 12px;
}

.navigatorContextMenu {
    display: block;
    margin-left: 26px;
    margin-right: 8px;
    width: 400px;
    white-space: normal;
}

.navigatorContextMenu div {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* --------------------------- Solution Explorer ----------------------------------------------- */

.sol_body {
    margin: 0px;
    background-color: #F5FAF4;
    scrollbar-track-color: #7498A6;
    scrollbar-arrow-color: #000000;
    scrollbar-face-color: #7498A6;
    scrollbar-shadow-color: #7498A6;
    scrollbar-highlight-color: #7498A6;
}

.sol_wrapper {
    background-color: #F5FAF4;
    height: 100%;
    border-right: 2px solid #000000;
    vertical-align: top;
}

.sol_tasks {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
}

#employee_info_area img {
    position: relative;
    top: 4px;
    left: 10px;
    border: 1px solid #000000;
    margin-top: 6px;
    margin-bottom: 6px;
}

#employee_info_area span {
    position: relative;
    top: -60px;
    left: 18px;
    color: #000000;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.table-model {
    position: relative;
    width: 100%;
}

.table-model td {
    background-color: #B9DCF9; /* (theme) */
    width: 50%;
    border: 1px solid #B9DCF9; /* (theme) */
    vertical-align: top;
    padding: 5px;
}

.table-cell {
    position: relative;
}

.table-cell-graphic { /* Images should be sized 110px x 110px */
    position: relative;
    top: 0px;
    left: 0px;
    width: 110px;
    height: 110px;
    border: 1px solid #000000;
}

.table-cell-info {
    margin-top: -110px;
    margin-left: 120px;
    padding-bottom: 15px !important;
    padding-bottom: 0px;
}

.table-cell-info .nodetitle {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.table-cell-info .nodesummary {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 4px;
}

.table-cell-info img {
    cursor: pointer;
    margin-right: 6px;
}

.table-cell-info a {
    position: relative;
    top: -3px;
    color: #000080;
}

.table-cell-info a:hover {
    color: #FF0000;
}

.sol_parents_title {
    background-image: url(../../ab-system/graphics/ab-olive-gradient-pnav-parentstitle.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 27px;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding-left: 6px;
    padding-top: 7px;
    white-space: nowrap;
}

.parent-detail {
    background-image: url(../../ab-system/graphics/ab-olive-gradient-pnav-selected.png);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    text-align: left;
    cursor: pointer;
}

.parent-detail_title {
    font-size: 11px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

/* --------------------------- Dashboard Activity Tabs ----------------------------------------- */

#activities {
    width: 100%;
    height: 33px;
}

#activities td {
    background-image: url(../../ab-system/graphics/ab-slate-gradient-activities.png); /* (theme) */
    padding-right: 16px;
    letter-spacing: 1px;
    white-space: nowrap;
}

#activities span {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    height: 33px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 10px !important; /* Firefox */
    display: inline;
    position: relative !important;
    top: -2px !important; /* Firefox */
    position: relative;
    top: 0px;
    cursor: pointer;
}

#activities hr {
    width: 2px;
    height: 16px;
    border-left: 1px solid #0054BF; /* (theme) */
    border-right: 1px solid #7CB6E5; /* (theme) */
    margin-left: 16px;
    display: inline;
    position: absolute !important;
    top: 1px !important;
    right: 0px !important;
    position: absolute;
    top: 7px;
    right: 0px;
}

#activities .selected hr {
    width: 2px;
    visibility: hidden;
}

#activities .selected {
    background-image: url(../../ab-system/graphics/ab-slate-gradient-activities-selected.png); /* (theme) */
    color: #000000;
    font-weight: normal;
    margin-left: -3px;
    margin-right: 3px;
    position: relative !important;
    top: -1px !important; /* Firefox */
    position: relative;
    top: 0px;
    cursor: default;
}

/* --------------------------- Dashboard Process Tabs ------------------------------------------ */

#processes {
    width: 100%;
    height: 100%;
}

#processes td {
    background-image: url(../../ab-system/graphics/ab-slate-gradient-processes.png); /* (theme) */
    padding-right: 16px;
    letter-spacing: 1px;
    white-space: nowrap;
}

#processes span {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    height: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 4px !important; /* Firefox */
    display: inline;
    position: relative !important;
    top: -2px !important; /* Firefox */
    position: relative;
    top: 0px;
    cursor: pointer;
}

#processes hr {
    width: 2px;
    height: 16px;
    border-left: 1px solid #5EA5DE; /* (theme) */
    border-right: 1px solid #C6BBEF; /* (theme) */
    margin-left: 16px;
    display: inline;
    position: absolute !important;
    top: -5px !important;
    right: 0px !important;
    position: absolute;
    top: 1px;
    right: 0px;
}

#processes .selected {
    color: #000000;
    font-weight: normal;
    cursor: default;
}

/* --------------------------- Drawing Control ------------------------------------------------- */

.AbHeaderLegend {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.AbDataLegend {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    vertical-align: middle;
    font-size: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

/* --------------------------- Edit Form ------------------------------------------------------- */

.showingDateAndTimeLongFormat {
    color: #A51818;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: relative;
    top: -1px;
}

.inputFieldLabel {
    padding-top: 6px;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.inputFieldLabel_validated {
    padding-top: 6px;
    color: #000080;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


.inputField, .inputField_cell {
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 150px;
    height: 20px;
    border: 1px solid #7F9DB9;
    margin-top: 2px;
    padding: 0;
    padding-top: 0 !important;
    padding-top: 2px;
    vertical-align: baseline;
}

.inputField_multi_col {
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 96%;
    height: 20px;
    border: 1px solid #7F9DB9;
    padding-top: 2px;
    margin-top: 2px;
}


.inputField_box {
    height: 20px;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 1px;
}
/*	Memo fields in default edit forms */
.defaultEditForm_textareaABData {
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    height: 74px;
    width: 350px;
    border: 1px solid #7F9DB9;
    margin-right: 2px;
}

.defaultEditForm_textareaABData_readonly {
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 350px;
    padding-top: 3px;
    border: none;
    overflow: scroll;

	background-color: #dcdcdc;
    border: 1px solid #7F9DB9;
}

.defaultEditForm_textareaABData [disabled='disabled'] {
	background-color: #dcdcdc;
}

/* Memo fields in custom edit forms */
.textareaABData {
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/*	SELECT BUTTONS */
/*	Used by Ellipses or Calendar to position in-line graphics relative to the associated text control */
.selectValue_Button {
    position: relative;
    left: -1px;
    margin-bottom: -5px !important;
    margin-bottom: -4px; /* top positioning triggers an IE8 bug. Used margin instead. */
    height: 20px;
    width: 19px;
}
/*	Used by non-ellipses or calendar select value buttons defined by <input> rather than <img> */
.selectValue_AbActionButtonFormStdWidth {
    position: relative;
    left: 2px;
    top: 1px;
    margin-right: 4px;
    padding: 0;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    height: 21px;
    font-weight: normal;
}

.instruction {
    color: #A51818; /* red */
    font-size: 10px;
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
}

.perRowButton {
    margin-right: 4px;
    padding: 0;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    height: 19px;
    font-weight: normal;
    color: #000000;
}

/* --------------------------- Tree Control ---------------------------------------------------- */

/*
 leaf nodes in navigator tree  and selectV tree
 */

.treeLeafNodeTitles {
    height: 16px;
    padding-left: 6px;
    padding-right: 10px;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.treeLeafNodeTitles a {
    text-decoration: none;
    color: blue;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.treeLeafNodeTitles a:hover {
    text-decoration: none;
    color: #A51818; /* red */
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*
 owner nodes in navigator tree and selectV tree
 */

.treeParentNodeTitles {
    padding-left: 6px;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

A.treeParentNodeTitles:link {
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

A.treeParentNodeTitles:hover {
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: #A51818; /* red */
}

.cursorSelector {
    cursor: pointer;
}

/* --------------------------- Toolbars -------------------------------------------------------- */

div.navigatorToolbar {
    background-image: url('../../ab-core/graphics/ab-slate-gradient-maintoolbar.png'); /* (theme) */
    background-repeat: repeat-x;
    border: 0px;
    padding-top: 3px;
}

div.navigatorToolbar a {
	background-image: url('../../ab-core/graphics/ab-icon-afm-title-main.png');
	background-repeat: no-repeat;
	width: 114px;
	height: 17px;
    margin-left: 6px;
    padding-left: 120px;
    font-size: 14px;
    font-weight: bold;
}

div.navigatorToolbar a:hover {
    font-size: 14px;
}

.navigatorToolbar span {
    color: #15428b;
    font-family: Arial;
    font-size: 130%;
    font-weight: bold;
    padding: 2px 2px 2px 8px;
    vertical-align: middle;
}

a.navigatorToolbar  {
    color: #15428b;
    font-family: Arial;
    font-size: 130%;
    font-weight: bold;
    padding: 2px 2px 2px 8px;
    vertical-align: middle;
}


div.viewToolbar {
    background-image: url('../../ab-core/graphics/ab-slate-gradient-viewtoolbar.png'); /* (theme) */
    border: 0px;
    height: 28px;
}

.viewToolbar span {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    position: absolute; top: 2px; left: 6px;
}


.panelToolbar {
    background-image: url('../../ab-core/graphics/ab-slate-gradient-paneltoolbar.png'); /* (theme) */
}

.panelToolbar span {
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    line-height: 1.9;  /* forces all toolbars to match height - adjust with font-size */
    font-weight: bold;
    margin-left: 6px;
}

.panelToolbar span.changed {
    color: #2E8B57; // SeaGreen
}

.panelToolbar button {
    color: #000080;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    /*  letter-spacing: 1px;  */ 
    padding-left: 8px;
    padding-right: 8px;
}

.x-tab-strip span.x-tab-strip-text {
    font-size: 110%;
}

/* --------------------------- Panel Elements -------------------------------------------------- */

.borderButton button {
   color:#050;   
   background-color:#FFFFAA;   
   border-color: #669966 #336633 #336633 #669966;   
   border-style:solid;
   border-width: 1px;
   padding-left: 10px;
   padding-right: 10px;
   color: #005500;
 }   


.panelButton {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 5px;
    display: inline;
    white-space: nowrap;
    position: relative;
    top: 1px;
}

.panelButton_input {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    border: 0px;
    background-color: transparent;
}

.panelButton_icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 4px;
    border: 0px none;
    background: transparent;
    background-position: center;
}

.panel {
    width: 100%;
    border-collapse: collapse;
}

.panel td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    border-top: 1px solid #E8E8F0;
    border-right: 1px solid #E8E8F0;
    height: 28px;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 2px;
    padding-bottom: 2px;
    background-color: #FAFAFE; /* #F3F7FA; very light blue grey (theme) */
}

.panel td.formErrorInput {
    background-color: #ffccdd;
}

.panel td span.inputField {
    display: block;
    border: none;
}

.panel td.label {
    padding-top: 5px;
    padding-left: 11px;
    text-align: right;
    /*bh modified to make label black
	color: #666666;*/
	color: #222222;
    background-color: #FFFFFF;
    border-top: 1px solid #E8E8F0;
}

.panel td.labelValidated {
    padding-top: 5px;
    padding-left: 8px;
    text-align: right;
    color: #000080;
    background-color: #FFFFFF;
    border-top: 1px solid #E8E8F0;
}

.panel td.labelTop {
     /*bh modified to make label black
	color: #666666;*/
	color: #222222;
    background-color: #FFFFFF;
}

.panel td.labelValidatedTop {
    color: #000080;
    background-color: #FFFFFF;
}

.panel td.labelFieldset {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

.panel .space td {
    height: 4px;
    background-color: #F3F7FA; /* #F3F7FA; very light blue grey */
}

.panel .space .formTopSpace {
    border-top: 0px;
    border-bottom: 1px solid #E8E8F0;
}

.panel .space .formBottomSpace {
    border-top: 1px solid #E8E8F0;
}

/* FORM PANELS with labelPosition = top   */

.panelTop {
    width: 100%;
    border-collapse: collapse;
}

.panelTop td span.inputField {
    display: block;
    border: none;
}

.panelTop td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    border-top: 1px solid #E8E8F0;
    height: 28px;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 2px;
    background-color: #F3F7FA;
}

.panelTop td.formErrorInput {
    background-color: #ffccdd;
}

.panelTop td.labelTop {
     /*bh modified to make label black
	color: #666666;*/
	color: #222222;
    background-color: #F2F7FB; /* (theme) */
    height: 5px;
}

.panelTop td.inputCellTop {
    color: #666666;
    background-color: #FFFFFF;
}

.panelTop td.labelValidatedTop {
    color: #000080;
    background-color: #F2F7FB; /* (theme) */
    height: 5px;
}

.panelTop .space td {
    height: 4px;
    background-color: #F2F7FB; /* very light blue grey (theme) */
}

.panelTop .space .formTopSpace {
    border-top: 0px;
    border-bottom: 1px solid #F2F7FB; /* (theme) */
}

.panelTop .space .formBottomSpace {
    border-top: 0px;
    height: 0px;
}

.panelReportButton {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 5px;
    display: inline;
    white-space: nowrap;
    position: relative;
    top: 1px;
}

.panelReportButton_input {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    border: 0px;
    background-color: transparent;
}

.panelReport {
    width: 100%;
    border-bottom: 1px solid #9F9F9F;
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

.panelReportAutoWidth {
	width: auto;
    margin: 4px;
    border: 1px solid #d5d5d5;
}

.panelReport th {
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 2px 6px 2px 6px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    background-color: #E0E0E0;
}

.panelReport td {
    border-right: 1px solid #E8E8F0;
    border-bottom: 1px solid #E8E8F0;
    padding: 2px 6px 2px 6px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    white-space: nowrap;
}

.panelReport td.count {
    border-top: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    background-color: #C0D8F8;
    font-weight: bold;
}

.panelReport td.totals {
    border-top: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    background-color: #C0D8F8;
    font-weight: bold;
    text-align: right;
}

.panelReport table.x-btn td {
    border: none;
    padding: 0;
}

.panelReport .x-btn-center {
    background: none;
    padding: 0;
}

.panelReport .x-btn-left {
    background: none;
    padding: 0;
}

.panelReport .x-btn-right {
    background: none;
    padding: 0;
}

.panelReport input {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
}

.panelReport input.panelButton {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.panelReport th.index {
    background-color: #DDFFDD;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #99BBE8;
}

.panelReport tr.indexRow {
    background-color: #DDFFDD;
    border: 0px none #DDFFDD;
}

.panelReport div.indexBody, div.indexTitle {
    padding: 2px 2px 4px 2px;
}

.panelReport div.indexTitle {
    float: left;
    padding: 2px 6px 3px 6px;
}

.panelReport div.indexBody a {
    font-weight: bold;
    margin-right: 4px;
}

.panelReport div.indexBody span.all {
    color: #000;
}

.panelReport th.index span.count {
    color: #8A8A8A; /* Blue #0000C8; */
    font-size: 10px;
    font-weight: normal;
    vertical-align: text-top;
    margin-left: 1px; /* space between index label & bracketed count */
    margin-right: 2px;
}

.panelReport th.headerButtons {
    padding: 2px;
    white-space: nowrap;
}

.panelReport th.headerTitleNumber {
    text-align: left;
    padding-right: 18px;
    vertical-align: bottom;
}

.panelReport th.headerTitleText {
    text-align: left;
    padding-right: 18px;
    vertical-align: bottom;
}

.panelReport th.headerTitleTextTop {
	text-align: left;
    padding-right: 18px;
    vertical-align: top;
}

.panelReport th.headerTitleText img {
    float: right;
    position: relative; top: 6px !important; top: -8px; right: -20px;
    margin-bottom: 6px !important; 
    margin-bottom: -3px; 
}

.panelReport th.headerTitleNumber img {
    float: right;
    position: relative; top: -8px; right: -20px;
    margin-bottom: -3px;
}

.panelReport th.filterCellNumber {
    text-align: right;
}

.panelReport th.filterCellText {
    text-align: left;
}

.panelReport tr.selected {
    background-color: #FFFF00;
	font-weight:bold;
}

.panelReport .odd {
    background-color: #F5F5F5; /* (theme) */
}

.panelReport td.message {
    font-weight: bold;
    text-align: left;
    background-color: #D7DCD8;
    white-space: normal;
}

/* --------------------------- Calendar Control ------------------------------------------------ */

/*
 xxxxx_s is for small size
 */

.calendarTable td {
    font-weight: normal;
}

.calendarTableDays td {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    border-bottom: 1px solid black;
    font-size: 12px;
    color: #CCCCCC;
    line-height: 14px;
}

.calendarTableDays_s td {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    border-bottom: 1px solid black;
    font-size: 10px;
    color: #CCCCCC;
    line-height: 14px;
}

.calendar A {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
    width: 22px;
    height: 12px;
    line-height: 14px;
}

.calendar A:hover {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    font-size: 11px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 22px;
    height: 12px;
    line-height: 14px;
}

.calendar_s A {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    font-size: 10px;
    text-decoration: none;
    width: 22px;
    height: 12px;
    line-height: 14px;
}

.calendar_s A:hover {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    width: 22px;
    height: 12px;
    line-height: 14px;
}

.calendarTop {
    background-color: #CCCCCC;
    width: 100%;
}

.calendarmmyyyyA {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    font-size: 12px;
}

.calendarmmyyyyA_s {
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
    font-size: 10px;
}

.calendarmmyyyyB {
    background-color: gray;
    color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid
}

.calendarPN {
    background-color: gray;
    color: #E0E0E0;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.calendarContainerTable {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    vertical-align: top;
}

p.formMessage, a.formMessage {
    color: #888;
    font-weight: bold;
}

p.formError, a.formError {
    color: #A51818;
    font-weight: bold;
}

p.formDetailedMessage {
    color: #888;
}

span.formErrorText {
    color: #A51818;
}
/* --------------------------- Timeline Control ------------------------------------------------ */

div.timeline_unavailable {
    background-color: #AAAABB;
}

div.timeline_future {
    background-color: #CCCCDD;
}

div.timeline_block {
    background-color: #FFF066;
}

div.timeline_event {
    background: #00FF00 url('../controls/timeline/arrow-left.jpg') no-repeat left center;
}

div.timeline_event_short {
    background: #00FF00;
}

div.timeline_eventSelected {
    background-color: #A51818;
}

div.timeline_eventReadOnly {
    background: #6699FF url('../controls/timeline/arrow-left-ro.jpg') no-repeat left center;
}

div.timeline_eventReadOnly_short {
    background: #6699FF;
}

div.rightArrow {
    position: absolute;
    width: 12px;
    height: 24px;
    top: 0px;
    right: 0px;
    z-index: 1000;
    background: #00FF00 url('../controls/timeline/arrow-right.jpg') no-repeat right center;
}

div.rightArrow_readOnly {
    position: absolute;
    width: 12px;
    height: 24px;
    top: 0px;
    right: 0px;
    z-index: 1000;
    background: #6699FF url('../controls/timeline/arrow-right-ro.jpg') no-repeat right center;
}

div.timelineLayer {
    position: absolute;
    overflow: auto;
    width: 100%;
    z-index: 998;
}

div.timelineLayer tr.dataRow, #timeline tr.dataRow, #timeline-0 tr.dataRow, #timeline-1 tr.dataRow, #timeline-2 tr.dataRow, #timeline-3 tr.dataRow, #timeline-4 tr.dataRow {
    height: 24px;
}

td.timeslot_10 {
    background:#F8F8FF url('../controls/timeline/grid-78.jpg') repeat;
}

td.timeslot_15 {
    background:#F8F8FF url('../controls/timeline/grid-52.jpg') repeat;
}

#tooltip {
    position: absolute;
    z-index: 1001;
    padding: 4px;
    background: #FFFFF9;
    border: 1px solid #CCCCEE;
}

#tooltip td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #444;
}

#tooltip td.title {
    font-weight: bold;
}

#tooltip td.value {
    font-weight: bold;
}

/* --------------------------- Column Report --------------------------------------------------- */

.columnReport table {
    border-collapse: collapse;
}

.columnReport td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 2px;
    vertical-align: top;
    border-bottom: 1px solid #E5E5E5;
}

.columnReportHeader td {
	background-color: #F0F0F0;
    vertical-align: top;
    white-space: nowrap;
}

.columnReportHeader td.space {
    background-color: #FFFFFF;
}

.columnReportLabel {
     /*bh modified to make label black
	color: #666666;*/
	color: #222222;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.columnReportValue {
    vertical-align: top;
}

.columnReportSpacer {
    padding-left: 1em;
    border-bottom: none;
}

/* --------------------------- YUI Tree Control ------------------------------------------------ */

/* Tree Control Styles from YUI treeview .css file
 Copyright (c) 2007, Yahoo! Inc. All rights reserved.
 Code licensed under the BSD License:
 http://developer.yahoo.net/yui/license.txt
 version: 2.2.2
 */

/* first or middle sibling, no children */
.ygtvtn {
    width: 16px;
    height: 22px;
    background: url(../../ab-system/graphics/treeview/tn.gif) 0 0 no-repeat;
}
/* first or middle sibling, collapsable */
.ygtvtm {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/tm.gif) 0 0 no-repeat;
}
/* first or middle sibling, collapsable, hover */
.ygtvtmh {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/tmh.gif) 0 0 no-repeat;
}
/* first or middle sibling, expandable */
.ygtvtp {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/tp.gif) 0 0 no-repeat;
}
/* first or middle sibling, expandable, hover */
.ygtvtph {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/tph.gif) 0 0 no-repeat;
}
/* last sibling, no children */
.ygtvln {
    width: 16px;
    height: 22px;
    background: url(../../ab-system/graphics/treeview/ln.gif) 0 0 no-repeat;
}
/* Last sibling, collapsable */
.ygtvlm {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/lm.gif) 0 0 no-repeat;
}
/* Last sibling, collapsable, hover */
.ygtvlmh {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/lmh.gif) 0 0 no-repeat;
}
/* Last sibling, expandable */
.ygtvlp {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/lp.gif) 0 0 no-repeat;
}
/* Last sibling, expandable, hover */
.ygtvlph {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(../../ab-system/graphics/treeview/lph.gif) 0 0 no-repeat;
}
/* Loading icon */
.ygtvloading {
    width: 16px;
    height: 22px;
    background: url(../../ab-system/graphics/treeview/loading.gif) 0 0 no-repeat;
}
/* the style for the empty cells that are used for rendering the depth
 * of the node */
.ygtvdepthcell {
    width: 16px;
    height: 22px;
    background: url(../../ab-system/graphics/treeview/vline.gif) 0 0 no-repeat;
}

.ygtvblankdepthcell {
    width: 16px;
    height: 22px;
}
/* the style of the div around each node */
.ygtvitem {
}
/* the style of the div around each node's collection of children */
.ygtvchildren {
}

* html .ygtvchildren {
    height: 2%;
}
/* the style of the text label in ygTextNode */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
    margin-left: 2px;
    text-decoration: none;
    background-color: #FFFFFF;
    white-space: normal;
}
/* the style of the primary key text label in ygTextNode */
.ygtvlabel_pk, .ygtvlabel_pk:link, .ygtvlabel_pk:visited, .ygtvlabel_pk:hover {
    margin-left: 2px;
    text-decoration: none;
    font-weight: bold;
    background-color: #FFFFFF;
    white-space: normal;
}

.ygtvspacer {
    height: 10px;
    width: 10px;
    margin: 2px;
}

/* --------------------------- Wizard ---------------------------------------------------------- */

.tabFrame {
    position: relative;
    top: 0;
    left: 0;
}

/**
 * These CSS classes override Ext JS 2.0 tabs CSS classes to imitate wizard steps.
 * Usage: <tabs id="tabs" workflow="enforced" tabRefreshPolicy="refreshOnLoad" cssClass="wizard">
 */
div.wizard {
    margin-right: 8px;
}

div.wizard .x-tab-panel-header, div.wizard .x-tab-panel-footer {
    background: #6b869f;
    border-color: #4f657b;
}

div.wizard .x-tab-panel-header {
    border-color: #abc;
}

div.wizard .x-tab-panel-footer {
    border-color: #abc;
}

div.wizard ul.x-tab-strip-top {
    background: #fff;
    background-image: none;
    border-color: #4c647e;
}

div.wizard ul.x-tab-strip-bottom {
    background-image: none;
    border-color: #566c82;
}

div.wizard .x-tab-strip span.x-tab-strip-text {
    color: #333;
    font:bold 14px Arial, Helvetica, sans-serif;
}

div.wizard .x-tab-strip-over span.x-tab-strip-text {
    color: #111;
}

div.wizard .x-tab-strip-active span.x-tab-strip-text {
    color:#a44;
}

div.wizard .x-tab-strip-disabled .x-tabs-text {
    color: #aaaaaa;
}

div.wizard .x-tab-strip-top .x-tab-right {
    background-image: none;
}

div.wizard .x-tab-strip-top .x-tab-left {
    background-image: none;
}

div.wizard .x-tab-strip-top .x-tab-strip-inner {
    background-image: none;
}

div.wizard .x-tab-strip-bottom .x-tab-right {
    background-image: none;
}

div.wizard .x-tab-strip-bottom .x-tab-left {
    background-image: none;
}

div.wizard .x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
    background-image: none;
}

div.wizard .x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
    background-image: none;
}

div.wizard .x-tab-panel-body {
    border-color: #abc;
    background: #fff;
}

div.wizard .x-tab-panel-bbar .x-toolbar {
    border-color: #abc;
}

div.wizard .x-tab-panel-tbar .x-toolbar {
    border-color: #abc;
}

div.wizard .x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color: #abc;
    background: #6b869f;
}

/* --------------------------- Data View Control ----------------------------------------------- */

table.dataView {
    border-collapse: collapse;
    width: 100%;
}

.dataView tr.level1 td {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #a0c0f0;
}

.dataView td {
    border-bottom: 1px solid #E5E5E5;
    padding: 2px 4px 2px 4px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
}

.dataView tr.last td {
    padding-bottom: 6px;
    border-bottom: 4px solid #a0c0f0;
}

.dataView td.first {
    width: 12em;
    padding-left: 10px;
}

.dataView td.fill {
}

.dataView td.last {
    width: 10em;
    padding-right: 10px;
}

.dataView td.status {
    font-weight: bold;
}

.dataView td a {
    display: block;
    text-align: right;
    font-weight: normal;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.dataView td a:hover {
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.dataView td h3 {
    padding-left: 0px;
}

.dataHeader td {
    border-bottom: 4px solid #c0c0c0;
    margin-bottom: 8px;
}

.dataHeader td a {
    padding-top: 4px;
}

.dataFooter {
    margin-top: 8px;
}

/* --------------------------- Cross Table Control --------------------------------------------- */

.AbMdx_Table {
        border-collapse: collapse;
        border: 0px;
        margin: 6px;
}

.AbMdx_Table table {
        border: 1px solid #9F9F9F;
        border-collapse: collapse;
        font-size: 11px;
}

.AbMdx_Table .odd {
    background-color: #F5F5F5; /* (theme) */
}

.AbMdx_Table table td.first {
        border-left: 1px solid #9F9F9F;
}

.AbMdx_Table table td {
        border-top: 1px solid #E8E8F0;
	    border-left: 1px solid #E8E8F0;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 11px;
        padding: 1px 4px 1px 4px;
        vertical-align: middle;
}

.AbMdx_Table table a {
        text-decoration: none;
        color: #000080;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 11px;
}

table td.AbMdx_DimensionNames {
        border-top: 1px solid #d5d5d5;
	    border-left: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
}
 
table tr.first td.AbMdx_DimensionNames {
        border-top: 1px solid #9F9F9F;
        text-align: center;
}
 
table td.AbMdx_DimensionRowHeader {
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
}

table td.AbMdx_MeasureName {
        border: 1px solid #d5d5d5;
}

table td.AbMdx_MeasureColumn {
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
}

table td.AbMdx_TotalCellHeader {
        border: 1px solid #d5d5d5;
}

table td.AbMdx_TotalCellData {
        border: 1px solid #d5d5d5;
}

table td.AbMdx_SubTotalRowData {
        border-top: 1px solid #d5d5d5;
	    border-left: 1px solid #d5d5d5;
}

.AbMdx_DimensionNames {
	    background-color: #E0E0E0;
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
        font-size: 11px;
}

.AbMdx_TotalCellHeader {
        background-color: #C0D8F8;
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
        color: black;
        font-size: 11px;
}

.AbMdx_TotalCellHeader a {
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
        color: black;
        font-size: 11px;
}

.AbMdx_TotalCellHeader a:hover {
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
        color: #FF3300;
        font-size: 11px;
}

.AbMdx_SubTotalRowData {
        background-color: #C0D8F8;
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_SubTotalRowData a {
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_SubTotalRowData a:hover {
        text-align: right;
        color: #FF3300;
        white-space: nowrap;
        font-size: 11px;
}

table td.AbMdx_SubTotalColumnData {
	    border-top: 1px solid #D5D5D5;
        border-left: 1px solid #D5D5D5;
	    background-color: #C0D8F8;
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_SubTotalColumnData a {
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_SubTotalColumnData a:hover {
        text-align: right;
        color: #FF3300;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_TotalCellData {
        background-color: #C0D8F8; 
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_TotalCellData a {
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_TotalCellData a:hover {
        text-align: right;
        color: #FF3300;
        white-space: nowrap;
        font-size: 11px;
}

table td.AbMdx_DimensionColumnHeader {
        border-top: 1px solid #d5d5d5;
	    background-color: #FFF5D1;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
}

table tr.first td.AbMdx_DimensionColumnHeader {
        border-top: 1px solid #9F9F9F;
}
 
.AbMdx_DimensionColumnHeader a {
        text-align: center;
        font-weight: bold;
        font-size: 11px;
}

.AbMdx_DimensionColumnHeader a:hover {
        text-align: center;
        color: #A51818;
    font-weight: bold;
        font-size: 11px;
}

.AbMdx_DimensionRowHeader {
    background-color: #D8E4FF;
        text-align: left;
        color: black;
        font-weight: bold;
        font-size: 11px;
}

.AbMdx_DimensionRowHeader a {
        text-align: left;
        color: black;
        font-weight: bold;
        font-size: 11px;
}

.AbMdx_DimensionRowHeader a:hover {
        text-align: left;
        color: #FF3300;
        font-weight: bold;
        font-size: 11px;
}

.AbMdx_MeasureCellData {
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_MeasureCellData a {
        text-align: right;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_MeasureCellData a:hover {
        text-align: right;
        color: #FF3300;
        white-space: nowrap;
        font-size: 11px;
}

.AbMdx_MeasureName {
    background-color: #C0D8F8;
        text-align: left;
        font-weight: bold;
        font-size: 11px;
}

.AbMdx_MeasureColumn {
    background-color: #D8E4FF;
        text-align: left;
        font-weight: bold;
        font-size: 11px;
}

/* --------------------------- Other controls --------------------------------------------- */

.smartFilterPalette {
    float: left;
    text-align: left;
    background-color: #E0E0E0;
    padding: 2px 6px 2px 6px;
}

table.htmlWizardPanel {
	border-top: 4px solid #D8E4FF;
}

table.htmlWizardPanel td {
    padding-left: 10px;
    border: 1px solid #F0F0F0;
    vertical-align: middle;
}

table.htmlWizardPanel td.section {
    border-top: 4px solid #D8E4FF;
}

.htmlWizardPanel .title {
	font-weight: bold;
	color: #3333CC;
}

.htmlWizardPanel .label {
    font-weight: bold;
     /*bh modified to make label black
	color: #666666;*/
	color: #222222;
}

.htmlWizardPanel .radio {
    vertical-align: middle;
}

.htmlWizardPanel .checkbox {
    vertical-align: middle;
}

table.htmlWizardPanel a, table.htmlWizardPanel a:hover {
    font-size: 12px;
}

/* --------------------------- Ext.JS overrides ------------------------------------------------- */

ul.x-tab-strip-top{
    padding-top:2px;
    background: #8db2e3; /* theme */
    border-bottom:1px solid #8db2e3;
}
