/*************************************************************************************************
 Default Web Central CSS file - Ochre theme.
 See notes on afm_users.clr_scheme, which dictates which style sheet is in use for each user.
 (theme) in comments refers to display theme specific properties.
 *************************************************************************************************/

/* --------------------------- Dashboard IFrames ----------------------------------------------- */

.iframes_body {
    background-color: #AEBAB6; /* Matches processes tab row (theme) */
}

/* --------------------------- Process Navigator ----------------------------------------------- */

.nav_body {
    background-color: #F7FCF8; /* (theme) */
}

.nav_wrapper {
    background-color: #F7FCF8; /* (theme) */
    border-right: 1px solid #000000; /* (theme) */
}

.nav_parents_title {
    background-image: url(../../ab-core/graphics/ab-ochre-gradient-pnav-parentstitle.png); /* (theme) */
}

.selectedparents {
    background-image: url(../../ab-core/graphics/ab-ochre-gradient-pnav-selected.png); /* (theme) */
    background-color: #AEBAB6; /* (theme) */
}

.selectedparents_over {
    background-image: url(../../ab-core/graphics/ab-ochre-gradient-pnav-unselected.png); /* (theme) */
    background-color: #4A5452; /* (theme) */
}

.parentnodes {
    background-image: url(../../ab-core/graphics/ab-ochre-gradient-pnav-unselected.png); /* (theme) */
    background-color: #4A5452; /* (theme) */
}

.parentnodes_over {
    background-image: url(../../ab-core/graphics/ab-ochre-gradient-pnav-selected.png); /* (theme) */
    background-color: #AEBAB6; /* (theme) */
}

.leafnodes {
    background-color: #F7FCF8; /* (theme) */
    border-bottom: 1px solid #F7FCF8; /* (theme) */
}

.leafnodes_over {
    background-color: #D5E1E5; /* (theme) */
}

/* --------------------------- Solution Explorer ----------------------------------------------- */

.table-model td {
    background-color: #C9D5D1; /* (theme) */
    border: 1px solid #C9D5D1; /* (theme) */
}

/* --------------------------- Dashboard Activity Tabs ----------------------------------------- */

#activities td {
    background-image: url(../../ab-system/graphics/ab-olive-gradient-activities.png); /* (theme) */
}

#activities hr {
    border-left: 1px solid #263300; /* (theme) */
    border-right: 1px solid #969EA0; /* (theme) */
}

#activities .selected {
    background-image: url(../../ab-system/graphics/ab-olive-gradient-activities-selected.png); /* (theme) */
}

/* --------------------------- Dashboard Process Tabs ------------------------------------------ */

#processes td {
    background-image: url(../../ab-system/graphics/ab-olive-gradient-processes.png); /* (theme) */
}

#processes hr {
    border-left: 1px solid #828D8C; /* (theme) */
    border-right: 1px solid #E1ECEA; /* (theme) */
}

/* --------------------------- Toolbars -------------------------------------------------------- */

div.navigatorToolbar {
    background-image: url('../../ab-core/graphics/ab-ochre-gradient-maintoolbar.png'); /* (theme) */
}

div.viewToolbar {
    background-image: url('../../ab-core/graphics/ab-ochre-gradient-viewtoolbar.png'); /* (theme) */
}

.panelToolbar {
    background-image: url('../../ab-core/graphics/ab-ochre-gradient-paneltoolbar.png'); /* (theme) */
}

/* --------------------------- Panel Elements -------------------------------------------------- */

.panel td {
    background-color: #F7FCF8; /* #F3F7FA; very light blue grey (theme) */
}

.panelTop td.labelTop {
    background-color: #F3F7FA; /* (theme) */
}

.panelTop td.labelValidatedTop {
    background-color: #F3F7FA; /* (theme) */
}

.panelTop .space td {
    background-color: #F3F7FA; /* very light blue grey (theme) */
}

.panelTop .space .formTopSpace {
    border-bottom: 1px solid #F3F7FA; /* (theme) */
}

.panelReport .odd {
    background-color: #E7ECE8; /* (theme) */
}

/* --------------------------- Cross Table Control --------------------------------------------- */

.AbMdx_Table table {
        border: 1px solid #7F7F7F; /* (theme) */
}

.AbMdx_Table .odd {
    background-color: #F5F5F5; /* (theme) */
}

.AbMdx_Table table td.first {
        border-left: 1px solid #9F9F9F; /* (theme) */
}

.AbMdx_Table table td {
        border-right: 1px solid #7F7F7F; /* (theme) */
        border-bottom: 1px solid #7F7F7F; /* (theme) */
}

.AbMdx_DimensionNames {
        background-color: #CDD9D5; /* theme */
}

.AbMdx_TotalCellHeader {
        background-color: #B5CDE2; /* theme */
}

.AbMdx_SubTotalRowData {
        background-color: #B5CDE2; /* theme */
}

table td.AbMdx_SubTotalColumnData {
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    background-color: #CDD9D5; /* theme */
}

.AbMdx_TotalCellData {
    background-color: #B5CDE2; /* theme */
}

.AbMdx_DimensionRowHeader {
    background-color: #D6DEEB; /* theme */
}

.AbMdx_MeasureName {
    background-color: #B5CDE2; /* theme */
}

.AbMdx_MeasureColumn {
    background-color: #D6DEEB; /* theme */
}

/* --------------------------- Ext.JS overrides ------------------------------------------------- */

ul.x-tab-strip-top {
	background: #a9a9a9; /* theme */
}

.x-border-layout-ct {
    background-color: #e0e0e0; /* theme */
}

.x-layout-split {
    background-color: #e0e0e0; /* theme */
}

.x-layout-cmini-north {
    background-color: #e0e0e0; /* theme */
}