/*************************************************************************************************
 Default Web Central CSS file - High Impact theme.
 See notes on afm_users.clr_scheme, which dictates which style sheet is in use for each user.
 (theme) in comments refers to display theme specific properties.
 *************************************************************************************************/

/* --------------------------- Dashboard IFrames ----------------------------------------------- */

.iframes_body {
    background-color: #A1A8B6; /* Matches processes tab row (theme) */
}

/* --------------------------- Process Navigator ----------------------------------------------- */

.nav_body {
        background-color: #F9F9FB; /* (theme) */
}

.nav_wrapper {
        background-color: #F9F9FB; /* (theme) */
        border-right: 1px solid #1E4949; /* (theme) */
}

.nav_parents_title {
        background-image: url(../graphics/ab-impact-gradient-pnav-parentstitle.png); /* (theme) */
}

.selectedparents {
        background-image: url(../graphics/ab-impact-gradient-pnav-selected.png); /* (theme) */
        background-color: #99C5EB; /* (theme) */
}

.selectedparents_over {
        background-image: url(../graphics/ab-impact-gradient-pnav-unselected.png); /* (theme) */
        background-color: #386AA5; /* (theme) */
}

.parentnodes {
        background-image: url(../graphics/ab-impact-gradient-pnav-unselected.png); /* (theme) */
        background-color: #386AA5; /* (theme) */
}

.parentnodes_over {
        background-image: url(../graphics/ab-impact-gradient-pnav-selected.png); /* (theme) */
        background-color: #99C5EB; /* (theme) */
}

.leafnodes {
        background-color: #F9F9FB; /* (theme) */
        border-bottom: 1px solid #F9F9FB; /* (theme) */
}

.leafnodes_over {
        background-color: #CAD6E4; /* (theme) */
        border-bottom: 1px solid #000080; /* (theme) */
}

/* --------------------------- Solution Explorer ----------------------------------------------- */

.table-model td {
        background-color: #B9DCF9; /* (theme) */
        border: 1px solid #B9DCF9; /* (theme) */
}

/* --------------------------- Dashboard Activity Tabs ----------------------------------------- */

#activities td {
        background-image: url(../graphics/ab-impact-gradient-activities.png); /* (theme) */
}

#activities hr {
        border-left: 1px solid #111823; /* (theme) */
        border-right: 1px solid #8D94A4;/* (theme) */
}

#activities .selected {
        background-image: url(../graphics/ab-impact-gradient-activities-selected.png); /* (theme) */
}

/* --------------------------- Dashboard Process Tabs ------------------------------------------ */

#processes td {
        background-image: url(../graphics/ab-impact-gradient-processes.png); /* (theme) */
}

#processes hr {
        border-left: 1px solid #5C6578; /* (theme) */
        border-right: 1px solid #C6C8D3; /* (theme) */
}

/* --------------------------- Panel Elements -------------------------------------------------- */

.panel td {
        border-top: 1px solid #C7CCC8; /* light blue grey (theme) */
        border-right: 1px solid #C7CCC8; /* light blue grey (theme) */
        background-color: #E3EBF0; /* (theme) */
}

.panel td.labelTop {
        color: #666666;
        background-color: #FFFFFF;
}

.panel td.labelValidatedTop {
        color: #000080;
        background-color: #FFFFFF;
}

.panel .space td {
        background-color: #E3EBF0; /* very light blue grey (theme) */
}

.panelReportHeader {
        background-image: url(../graphics/ab-impact-gradient-panelreportheader.png); /* (theme) */
        width: 100%;
        height: 24px;
        border-collapse: collapse;
}

.panelReport th {
        border-right: 1px solid #CCCCCC; /* (theme) */
        border-bottom: 1px solid #9F9F9F; /* (theme) */
        background-color: #D7DCD8; /* (theme) */
}

.panelReport td {
        border-right: 1px solid #CCCCCC; /* (theme) */
        border-bottom: 1px solid #CCCCCC; /* (theme) */
}

.panelReport th.index {
    background-color: #DDFFDD; /* (theme) */
}

.panelReport tr.indexRow {
    background-color: #DDFFDD; /* (theme) */
    border: 0px none #DDFFDD; /* (theme) */
}

.panelReport th.index span.count {
    color: #8A8A8A; /* Blue #0000C8; (theme) */
}

.panelReport tr.selected {
    background-color: #FFFADC; /* (theme) */
}

.panelReport .odd {
    background-color: #E3EBF0; /* (theme) */
}

.panelReport td.message {
    background-color: #D7DCD8; /* (theme) */
}


/* --------------------------- Cross Table Control --------------------------------------------- */

.AbMdx_Table table {
        border: 1px solid #7F7F7F; /* (theme) */
}

.AbMdx_Table table td {
        border-right: 1px solid #7F7F7F; /* (theme) */
        border-bottom: 1px solid #7F7F7F; /* (theme) */
}

.AbMdx_DimensionNames {
        background-color: #CDD9D5; /* (theme) */
}

.AbMdx_TotalCellHeader {
        background-color: #B5CDE2; /* (theme) */
}

.AbMdx_SubTotalRowData {
        background-color: #B5CDE2; /* (theme) */
}

.AbMdx_SubTotalColumnData {
        background-color: #CDD9D5; /* (theme) */
}

.AbMdx_TotalCellData {
        background-color: #B5CDE2; /* (theme) */
}

.AbMdx_DimensionColumnHeader {
        background-color: #FFF5D1; /* (theme) */
}

.AbMdx_DimensionRowHeader {
    background-color: #C3CBD8; /* (theme) */
}

.AbMdx_MeasureName {
    background-color: #C3CBD8; /* (theme) */
}

.AbMdx_MeasureColumn {
    background-color: #C3CBD8; /* (theme) */
}

/* --------------------------- Ext.JS overrides ------------------------------------------------- */

div#viewToolbar_layoutWrapper {
    background: #d0def0; /* theme */
    height: 28px; /* theme */
}

ul.x-tab-strip-top{
    background: #d0def0; /* theme */
}
