/*************************************************************************************************
 Default Web Central CSS file - Slate/Large Font theme.
 See notes on afm_users.clr_scheme, which dictates which style sheet is in use for each user.
 (theme) in comments refers to display theme specific properties.
 *************************************************************************************************/

a {
    font-size: 12px;
}

a:hover {
    font-size: 12px;
}

/* --------------------------- Process Navigator ----------------------------------------------- */

.nav_parents_title {
    font-size: 12px;
}

.parentnodes {
    font-size: 12px;
}

.parentnodes_over {
    font-size: 12px;
}

.parentnodes_text {
    font-size: 12px;
}

.leafnodes {
    font-size: 12px;
}

.leafnodes_over {
    font-size: 12px;
}

/* --------------------------- Panel Elements -------------------------------------------------- */
 
.panelToolbar span {
    font-size: 12px;
}
 
.panelToolbar button {
    font-size: 12px;
}
 
.panel td {
    font-size: 12px;
}

.columnReport td {
    font-size: 12px;
}

/* --------------------------- Cross Table Control --------------------------------------------- */

.AbMdx_Table table td {
    font-size: 12px;
}
