/*************************************************************************************************
 Default Web Central CSS file - Slate theme.
 See notes on afm_users.clr_scheme, which dictates which style sheet is in use for each user.
 (theme) in comments refers to display theme specific properties.
 *************************************************************************************************/

/* --------------------------- Dashboard IFrames ----------------------------------------------- */

.iframes_body {
    background-color: #99C5EB; /* Matches processes tab row (theme) */
}

/* --------------------------- Process Navigator ----------------------------------------------- */

.nav_body {
    background-color: #F3F7FA; /* (theme) */
}

.nav_wrapper {
    background-color: #F3F7FA; /* (theme) */
    border-right: 1px solid #1E4949; /* (theme) */
}

.nav_parents_title {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-parentstitle.png); /* (theme) */
}

.selectedparents {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-selected.png); /* (theme) */
    background-color: #99C5EB; /* (theme) */
}

.selectedparents_over {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-unselected.png); /* (theme) */
    background-color: #386AA5; /* (theme) */
}

.parentnodes {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-unselected.png); /* (theme) */
    background-color: #386AA5; /* (theme) */
}

.parentnodes_over {
    background-image: url(../../ab-core/graphics/ab-slate-gradient-pnav-selected.png); /* (theme) */
    background-color: #99C5EB; /* (theme) */
}

.leafnodes {
    background-color: #F3F7FA; /* (theme) */
    border-bottom: 1px solid #F3F7FA; /* (theme) */
}

.leafnodes_over {
    background-color: #C3D2D9; /* (theme) */
}

/* --------------------------- Solution Explorer ----------------------------------------------- */

.table-model td {
    background-color: #B9DCF9; /* (theme) */
    border: 1px solid #B9DCF9; /* (theme) */
}

/* --------------------------- Dashboard Activity Tabs ----------------------------------------- */

#activities td {
    background-image: url(../../ab-system/graphics/ab-slate-gradient-activities.png); /* (theme) */
}

#activities hr {
    border-left: 1px solid #0054BF; /* (theme) */
    border-right: 1px solid #7CB6E5; /* (theme) */
}

#activities .selected {
    background-image: url(../../ab-system/graphics/ab-slate-gradient-activities-selected.png); /* (theme) */
}

/* --------------------------- Dashboard Process Tabs ------------------------------------------ */

#processes td {
    background-image: url(../../ab-system/graphics/ab-slate-gradient-processes.png); /* (theme) */
}

#processes hr {
    border-left: 1px solid #5EA5DE; /* (theme) */
    border-right: 1px solid #C6BBEF; /* (theme) */
}

/* --------------------------- Toolbars -------------------------------------------------------- */

div.navigatorToolbar {
    background-image: url('../../ab-core/graphics/ab-slate-gradient-maintoolbar.png'); /* (theme) */
}

div.viewToolbar {
    background-image: url('../../ab-core/graphics/ab-slate-gradient-viewtoolbar.png'); /* (theme) */
}

.panelToolbar {
    background-image: url('../../ab-core/graphics/ab-slate-gradient-paneltoolbar.png'); /* (theme) */
}

/* --------------------------- Panel Elements -------------------------------------------------- */

.panel td {
    background-color: #FAFAFE; /* #F3F7FA; very light blue grey (theme) */
}

.panelTop td.labelTop {
    background-color: #F2F7FB; /* (theme) */
}

.panelTop td.labelValidatedTop {
    background-color: #F2F7FB; /* (theme) */
}

.panelTop .space td {
    background-color: #F2F7FB; /* very light blue grey (theme) */
}

.panelTop .space .formTopSpace {
    border-bottom: 1px solid #F2F7FB; /* (theme) */
}

.panelReport .odd {
    background-color: #F5F5F5; /* (theme) */
}

/* --------------------------- Cross Table Control --------------------------------------------- */

.AbMdx_Table table {
        border: 1px solid #9F9F9F; /* (theme) */
}

.AbMdx_Table .odd {
    background-color: #F5F5F5; /* (theme) */
}

.AbMdx_Table table td.first {
        border-left: 1px solid #9F9F9F; /* (theme) */
}

.AbMdx_Table table td {
        border-top: 1px solid #E8E8F0; /* (theme) */
	    border-left: 1px solid #E8E8F0; /* (theme) */
}

table td.AbMdx_DimensionNames {
        border-top: 1px solid #d5d5d5;
	    border-left: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
}
 
table tr.first td.AbMdx_DimensionNames {
        border-top: 1px solid #9F9F9F;
}
 
table td.AbMdx_DimensionRowHeader {
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
}

table td.AbMdx_MeasureName {
        border: 1px solid #d5d5d5;
}

table td.AbMdx_MeasureColumn {
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
}

table td.AbMdx_TotalCellHeader {
        border: 1px solid #d5d5d5;
}

table td.AbMdx_TotalCellData {
        border: 1px solid #d5d5d5;
}

table td.AbMdx_SubTotalRowData {
        border-top: 1px solid #d5d5d5;
	    border-left: 1px solid #d5d5d5;
}

.AbMdx_DimensionNames {
	    background-color: #E0E0E0; /* theme */
}

.AbMdx_TotalCellHeader {
        background-color: #C0D8F8; /* theme */
}

.AbMdx_SubTotalRowData {
        background-color: #C0D8F8; /* theme */
}

table td.AbMdx_SubTotalColumnData {
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    background-color: #C0D8F8; /* theme */
}

.AbMdx_TotalCellData {
    background-color: #C0D8F8; /* theme */
}

.AbMdx_DimensionRowHeader {
    background-color: #D8E4FF; /* theme */
}

.AbMdx_MeasureName {
    background-color: #C0D8F8; /* theme */
}

.AbMdx_MeasureColumn {
    background-color: #D8E4FF; /* theme */
}

/* --------------------------- Ext.JS overrides ------------------------------------------------- */

ul.x-tab-strip-top{
    background: #8db2e3; /* theme */
}
