/**************************************************************************
 Style Sheet
 login.css file used to format the opening login screen only.
***************************************************************************/

a:link {	
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
 	text-decoration: none;
}
 
a:hover {	
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
 	text-decoration: underline;
}

.loginContainer {
	position: absolute;
	background-image: url(../../ab-core/graphics/ab-login-margin.jpg);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.loginToolbar {
	position: absolute;	top: 0px; left: 0px; z-index: 5;
	background-image: url(../../ab-core/graphics/ab-slate-gradient-maintoolbar.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 27px;
	border-collapse: collapse;
	white-space: nowrap;
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif ;
	font-size: 11px;
	letter-spacing: 1px;
	vertical-align: middle;
	color: #333399;
}

.graphic_afm_logo { /* uses /graphics/ab-login-afm-logo.gif */
	position: absolute; top: 28px; left: 650px;
	display: none;  /* to display logo change 'none' to 'block' */
}

.graphic_user_logo { /* uses /graphics/ab-login-user-logo.gif */
	position: absolute; top: 475px; left: 650px;
	display: none;  /* to display logo change 'none' to 'block' */
}

.project_selector {
	vertical-align: middle; 
	width: 75%;
	position: absolute; top: 58px; left: 147px;
}

.textBasic {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
	text-align: left;
	white-space: nowrap;
}

.textTitle  {
	font-weight: bold;
	color: #507093;	
}

#project_name  {
	margin-left: 50px;
}

.signin_label  {
	position: absolute; top: 125px; left: 174px;
}

.signin_text {
	position: absolute; top: 145px; left: 174px;
}

.login_block {
	padding-left: 36px;
	padding-top: 18px;
	vertical-align: top; 
	background-color: #D7D7DF;
	width: 720px;
	height: 260px !important; /* Firefox */ 
	height: 280px;
	position: absolute; 
	top: 108px; 
	left: 148px; 
}

.login_textBox {
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif ;
	width: 250px;
	letter-spacing: 1px;
	border: 3px solid #F1F3F9;
	padding-left: 3px;
	padding-top: 1px;
	margin-top: 3px;
}

.login_form {
	position: relative; 
	top: 180px; 
	left: 174px; 
	width: 300px;
}

.forgot_title {
	position: absolute; 
	top: 256px;
	left: 448px; 
    cursor: pointer;
}

.rememberCheck {
	position: absolute; 
	top: 345px; 
	left: 171px; 
}

.remember_text {
	position: absolute;
	top: 348px; 
	left: 196px; 
}

.case_sensi_text {
	background-color: #D7D7DF;
}


.formButton {
    cursor: pointer;
}

.user_signin {
	position: absolute; 
	top: 295px;
	left: 220px;
	height: 32px;
	width: 160px;
}

.login_guest {
	position: absolute; 
	top: 420px; 
	left: 148px;
}

.guest_signin {
	margin-left: 52px;
	margin-top: 12px;
	height: 32px;
	width: 200px;
}