//stackedBars.css

.stacked-bar-graph {
    margin: 0 10px 0 5px;
    font-size: 14px;
}
.stacked-bar-graph tr.data {
    border-style: solid;
    border-width: thin;
}
.stacked-bar-graph td.data {
    border-style: solid;
    border-width: thin;
    padding: 2px;
    height: 12px;
    font-size: 14px;
}

.stacked-bar-graph td.alt, td.lbl {
    border-style: none;
}

.bar-graphic {
    height: 12px;
    z-index: 10;
    padding: 4px 0 4px 0;
    background: #ccc;
}
