
.defaultButton button {
    color: #007700;
    letter-spacing: 1px;
}

.defaultInput {
    color: #007700;
    background-color: #007700;
    letter-spacing: 1px;
}

.UCinputField{
    background-color: #0000ff;
    font-size: 12;
    font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
}