<!DOCTYPE html>
<html>
<head>
<link href="ab-sign-in.css" type="text/css" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:300,400,700' rel='stylesheet' type='text/css'>
<script>
function showBlock (id) {
    var theDiv = document.getElementById (id);
    if (theDiv) {
		theDiv.style.visibility = 'visible';
	}
}
function hideBlock (id) {
    var theDiv = document.getElementById (id);
    if (theDiv) {
		theDiv.style.visibility = 'hidden';
    }
}
</script>
</head>
	<body>
        <div class="loginContainer"></div> <!-- contains the css background-image to prevent a scroll -->
        
        <div class="logo"></div>

        <div class="loginDialog">
            <div class="main">
            
            <div id="login_form" class="loginForm">
                <ol>
                    <li>
                        <label for="project_input">Project:</label>
                        <div class="dropdown">
                            <select id="project_input" class="loginControl">
                            <option value="Headquarters">Headquarters</option>
                            <option value="Another project">Another project</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <input class="loginTextBox loginControl" id="username_input" type="text" placeholder="Username" title="Enter Username" onFocus="showBlock('usernameHint');" onBlur="hideBlock('usernameHint');" onchange="handleUsername(); " tabindex="100"/>
                        <div class="inputHint" id="usernameHint">Usernames are not case-sensitive</div>
                    </li>
                    <li>
                        <input class="loginTextBox loginControl" id="password_input" type="password" placeholder="Password" title="Enter Password" onFocus="showBlock('passwordHint');" onBlur="hideBlock('passwordHint');" onchange="handlePassword();" tabindex="200"/>
                        <div class="inputHint" id="passwordHint">Case-sensitive</div>
                    </li>
                </ol>                        
                <div class="signInContainer">
                    <input class="loginDialogButton loginControl" id="signin_button" type="button" title="Sign in" accesskey="S" value="Sign in" tabindex="300"/>
                </div>
            </div>
            
            
            </div>
            
            <div class="misc">
                <div class="misc-inner">
                    <div class="left-side">
                    
                        <a onClick="showBlock('lostPasswordCallout'); hideBlock('changeLanguageCallout');">
                        I forgot my password</a>
                        
                        <div class="callout" id="lostPasswordCallout">
                            <div style="display:block; padding-bottom: 10px;">
                                Send a change-password link to carlo.hernandez@acme.com?
                            </div>
                            <div>
                                <input class="loginControl loginDialogButton" id="lost_password_y_button" type="button" title="Yes" accesskey="Y" value="Yes" tabindex="400" onClick="hideBlock('lostPasswordCallout');"/>
                                <input class="loginControl loginDialogButton" id="lost_password_n_button" type="button" title="No" accesskey="N" value="No" tabindex="500"  onClick="hideBlock('lostPasswordCallout');"/>
                            </div>
                            
                            <div class="closeX">
                                <a onClick="hideBlock('lostPasswordCallout');">
                                    <img src="close-x.png">
                                </a>
                            </div>
                            <div class="calloutTriangle"></div>
                        </div>
                    
                    
                        <a>Sign in as &ldquo;guest&rdquo;</a>
                        
                        
                        <a class="localizeLink" onClick="showBlock('changeLanguageCallout'); hideBlock('lostPasswordCallout'); ">
                            <img class="localizeFlag" src="flag-english.png">
                            <span>English</span>
                        </a>
                        
                        <div class="callout" id="changeLanguageCallout">
                            <div style="display:block; padding-bottom: 10px;">
                                Select your language:
                            </div>
                            <div>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-english.png">
                                    <span>English</span>
                                </a>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-spanish.png">
                                    <span>Spanish</span>
                                </a>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-french.png">
                                    <span>French</span>
                                </a>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-german.png">
                                    <span>German</span>
                                </a>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-dutch.png">
                                    <span>Dutch</span>
                                </a>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-italian.png">
                                    <span>Italian</span>
                                </a>
                                <a class="localizeLink" onClick="hideBlock('changeLanguageCallout');">
                                    <img class="localizeFlag" src="flag-chinese.png">
                                    <span>Chinese</span>
                                </a>
                            </div>
                            
                            <div class="closeX">
                                <a onClick="hideBlock('changeLanguageCallout');">
                                    <img src="close-x.png">
                                </a>
                            </div>
                            <div class="calloutTriangle"></div>
                        </div>

                    </div>
                    
                    <div class="right-side">
                        <input type="checkbox" id="round-trip" checked>                   
                            <div style="display:inline-block; vertical-align: top; color: #e6e9eb;"> Remember my username<br>on this computer</div>
                        </input>
                    </div>
                    
                    <div style="clear:both;"></div>
                    <div class="bottom">
                        Days remaining on this time-limited version: 245
                    </div>
            </div>
        </div>
	</body>
</html>