/**
 * Example: wizard form with customized UI style.
 * These HTML classes are used to customize the look of standard panels, or style custom HTML elements.
 *
 * Use application domain-specific prefix in custom CSS class names.
 * For example, in Building Operations applications use names like "bldgopsCalloutFormPanel".
 */

.exCalloutFormPanel {
    background: url("img/left-large-triangle.png") no-repeat 120px center;
    overflow: hidden;
}
.exCalloutFormPanel > form {
    margin: 20px 20px 0 150px;
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
}

.exSummaryPanel {
    background: white;
    height: 500px;
}
.exSummaryPanel .panelToolbar {
    background: white;
    padding-right: 10px;
    float: right;
}
.exSummaryPanel h3 {
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

.exSummaryBlock {
    float: left;
    padding-left: 10px;
    padding-right: 20px;
}
.exSummaryBlock > div {
    float: left;
    display: inline-block;
    width: 250px;
    height: 400px;
    padding-left: 10px;
}
.exSummaryBlock h4 {
    background: #d2d2da;
    color: white;
}
.exSummaryBlock h4.exSummaryComplete {
    background: black;
}
.exSummaryBlock .columnReport td {
    border-bottom: none;
}

#workflowOptionsForm {
    height: 180px;
}
#workflowOptionsForm .exWorkflowForm {
    padding-top: 0;
    background-image: none;
}
#workflowOptionsForm a {
    cursor: pointer;
}

.exOptionsBlock {
    clear: left;
    float: left;
    width: 400px;
    padding: 10px 20px;
    margin-top: 10px;
}
.exOptionsBlock span {
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.exSaveBlockWrapper {
    float: right;
    width: 650px;
    height: 100px;
}
.exSaveBlock {
    float: right;
    width: 250px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 10px;
    background: white;
    border-radius: 10px;
}
.exSaveBlock span {
    display: block;
    padding-bottom: 4px;
}
.exSaveBlock input {
    font-size: 14px;
}
.exSaveBlock .mainAction {
    font-size: 14px;
    padding: 0px 8px;
}

.inputContainer {
    padding: 8px 8px 8px 20px;
}
.inputContainer span {
    display: inline-block;
    width: 125px;
    padding-right: 4px;
    text-align: right;
}