/* HTML classes for example templates. */

.exWorkflowForm {
    float: left;
    padding-left: 10px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    background: url("img/down-orange-long-arrow.png") no-repeat 40px 75px;
}

.exWorkflowForm h3 {
    color: #E47505;
    font-weight: bold;
}

.exWorkflowStep {
    padding: 4px;
}

.exWorkflowStep a {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 2px;
}

.exWorkflowActions {
    padding-bottom: 4px;
    background: url("img/down-gray-arrow.png") no-repeat 8px bottom;
}

.exWorkflowActions a {
    font-weight: normal;
    padding-left: 24px;
    background: url("img/down-gray-arrow-shaft.png") repeat-y 8px;
}

.exListItem {
    width: 307px;
    background: #F3F7FA;
    border: 1px solid #99BBE8;
    border-radius: 5px;
    padding: 2px 20px 2px 8px;
    margin-bottom: 4px;
    font-size: 16px;
}

.exListItem a {
    display: inline-block;
    float: right;
    position: relative;
    width: 16px;
    height: 16px;
    right: -16px;
    top: 2px;
}

@-moz-document url-prefix() {
    .exListItem a {
        top: -18px;
    }
}

a.exListItemEdit {
    background: url(../../../../ab-core/graphics/icons/view/edit.png) no-repeat;
}

a.exListItemDelete {
    background: url(../../../../ab-core/graphics/icons/view/delete.png) no-repeat;
}

a.exListItemDown {
    background: url(../../../../ab-core/graphics/icons/view/arrow-down.png) no-repeat;
}

a.exListItemUp {
    background: url(../../../../ab-core/graphics/icons/view/arrow-up.png) no-repeat;
}

