.leaflet-popup-tip {
    display: none; !important
}

.pgnav-map-marker-tooltip {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 4px 4px 4px 4px;
    color: black;
    font-size: 8pt;
    opacity:0.75;
    filter:alpha(opacity=35); /* IE8 and earlier */
    min-width: 60px;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 999;
}

.pgnav-map-marker-tooltip-label {


}

.pgnav-map-marker-tooltip-value {


}

.pgnav-map-error {
    color: red;
    font-size: 8pt;
    font-style: italic;
    bottom: 10px;
    left: 15px;
    z-index: 999;    
}

.esri-leaflet-logo {
    display: none; !important
}

.leaflet-map-pane {
    cursor: default !important;
}

.leaflet-div-cluster-marker
{
  background:black;
  border:5px solid rgba(255,255,255,0.5);
  color:white;
  border-radius:50%;
  line-height:25px;
  text-align:center;
}

.leaflet-div-cluster-marker-label
{
  color:white;  
  font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
  font-size: 11pt;  
  width:25px;
  text-align:center;
}