/*
TODO refactor colors to use global color css VERIFY as done
TODO refactor fonts to use global css
TODO urls with webAppContextPath
TODO use css sprites for sparkline graph, top-priority bullets, scrolling bucket navigation blips, etc.
http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/css-sprite-sheets-best-practices-tools-and-helpful-applications/
http://css-tricks.com/css-sprites/
http://www.w3schools.com/css/css_image_sprites.asp

*/
/**
    Each page has a fixed number of rows.
    Rows are made of a fixed number of columns of buckets. [e.g., 4 single, 2 double, 2 single & 1 double,...]
    Each bucket is either a 1-column bucket or a 2-column bucket (a "double-wide").
    Rows are either full-height, three-quarter-height, or half-height.
    Rows and columns are fixed widths and heights.
    They display the same pixel size and font size on screens of all resolutions.
    They are designed to fit at a minimum of 1200x800 pixel screen, leaving space on each side for the browser border
    (the actual width is around 1,100 pixels).
    Rows can be divided by a ruling line or by a heavy title bar (e.g. "ARCHIBUS In Depth" above).
*/
/*---------- header -------------------------------------*/
.head-banner-home {
    height: 57px;
    padding: 5px 0 0 0;
    position: absolute;
    min-width: 1100px;
}
.head-banner-home #banner-logo {
    z-index: 30;
    margin: 0;
    position: relative;
    left: 7px;
    width: 260px;
    height: 55px;
    background: url(../../graphics/icons/pagenav/logo.png) 0 0 no-repeat;
}

.head-banner-home #banner-logo span {
    color: transparent;
    cursor: pointer;
    position: absolute;
    width: 260px;
    height: 55px;
}
.head-banner-home #bannerMenu {
    position: absolute;
    top: 5px;
    right: 25px;
    z-index: 15;
    width: 340px; /* searchText width + padding*/
    /* font-family: Calibri,Tahoma,Helvetica,Arial; */
    font-family: Arial;
    font-size: 13px;
    white-space: nowrap;
}
.head-banner-home #bannerMenu a {
    float: right;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
    margin-right: 5px;
}
.head-banner-home #bannerMenu a#bannerMenuUserLink {
    float: left;
    width: 190px;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 35;
}

.banner-user-menu-container {
    width:185px;
    overflow-x:hidden;
    white-space:nowrap;
}

.head-banner-home .search-text {
    font-size: 12px;
    width: 322px;
    float: right;
    margin-right: 12px;
    position: relative;
    top: -30px;
    z-index: 35;
}

#breadCrumbContainer {
    position: absolute;
    top: 30px;
    display: none;
    z-index: 20;
}
.bread-crumb-title {
    font-size: 13px;
    opacity: 0.5;
    margin-right: 3px;
}
.process-bread-crumbs {
    width:100%;
    padding: 4px 0 0 13px;
}
.bread-crumb-link {
    cursor: pointer;
    padding: 0 0 5px 0;
    line-height: 1.2;
}
.bread-crumb-process-tasks {
    padding-bottom: 3px;
}
.bread-crumb-process-tasks {
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.bread-crumb-ptask-label > li {
    line-height: 1.0;
}

.hovertip ol.bread-crumb-ptask-label{
    margin-top: 0;
    margin-bottom: 0;
}
.hovertip ol.bread-crumb-process-tasks{
    margin-top: 2px;
}

/*---------- tabs ---------------------------------------*/
/** classes starting with .ui override jQuery UI classes */

#navigationTabs {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    margin-top: 0;
    margin-left: 0;
    z-index: 10;    
    min-width: 1100px;
}

/* comment out for favorites portlets

.ui-widget-content {
    border: none;
}
*/

.ui-tabs {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    font-size: 14px;
    /* font-family: "Myriad Pro",Calibri,Tahoma,Arial; */
    font-family: Arial;
    border-bottom: none;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}
.ui-tabs .ui-tabs-nav {
    height: 48px;
    margin: 0;
    padding-left: 280px;
    padding-top: 10px;
    padding-right: 0;
}
/* height of tabs */
.ui-tabs .ui-tabs-nav li {
    top: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.ui-tabs .ui-tabs-nav li a {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}

.ui-corner-all {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding-right: 0.2em;
}
.ui-dialog-titlebar {
    border-radius: 6px 6px 0 0;
}

/*---------- nav pages -------------------------------------*/
.page {
    display: block;
    float: none;
    width: 1100px;
    height: 850px;
    font-size: 14px;
    margin: 0 auto;
}
.nav-pages {
    display: block;
    min-width: 1100px;
}
.page-row div {
    float: left;
}
.page-row {
    padding: 0;
    margin: 10px 0 10px 0;
}
/*----------------  Row Heights  ---------------------------*/
.full-height {
    height: 530px;
}
.three-quarter-height {
    height: 400px;
}
.half-height {
    height: 270px;
}
/*----------------  Bucket-in-Row Heights  ---------------------------*/
.full-height div.bucket-process,
.full-height div.bucket-application  {
    height: 500px;
}
.three-quarter-height div.bucket-process,
.three-quarter-height div.bucket-application {
    height: 380px;
}
.half-height div.bucket-process,
.half-height div.bucket-application {
    height: 260px;
}

h3 {
    margin:0 15px 5px 0;
}

.product-title-text {
    padding-right: 40px;
    word-wrap:break-word;
}

.application-title-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 170px;
}

.application-horizontal-rule {
    height:5px;
    margin:0 10px 0 0;
}

/**
 * div 'frame' for viewing ptasks on home or applications tab, and processes on applications
 */
.task-view {
    position: relative;
    border-width: 0;
    border-style: none;
    width: auto;
}

.quick-view-toolbar {
    position: relative;
    top: -8px;
    left: -8px;
    height: 28px;
    width: 100%;
}
/*---------- buckets -------------------------------------*/
.bucket-process,
.bucket-application {
    margin-top: 5px;
    position: relative;
    border: none;
    margin-right: 10px;
}
.bucket-process {  /* bucket-process are 4 columns per page */
    width: 260px;
}
.bucket-application {  /* bucket-application is 5 columns per page */
    width: 210px;
}
.double-wide {
    width: 530px;
}
.bucket-wrapper {
    padding-left: 7px; /* same as left padding of bucket h2 */
    padding-top: 10px;
    margin-right: 5px;
    width: 100%;
}
.bucket-process ol {
    margin-top: 1px;
    margin-bottom: 8px;
    list-style: none;
    padding: 0;
}

.ptask-labels > li {
    font-weight: bold;
    margin-bottom: 3px;
}
.ptask-labels > ol {
    padding-left: 3px;
}
.bucket-application ol {
    margin-top: 1px;
    margin-bottom: 3px;
    list-style: none;
}
.bucket-process li {
    left: auto;
    position: relative;
    margin: 1px 5px 2px 0;
    z-index: 10;
}
.bucket-application li {
    left: -40px;
    position: relative;
    margin: 1px 0 2px 0;
    min-width: 190px;
    line-height: 1.1;
    padding: 2px 0 2px 0;
 }
.ptask-labels > li.empty-taskgroup-title {
    line-height: 0.7em;
    margin: 0;
    padding: 0;
}

ol.process-tasks {
    padding-left: 0;
    width: 100%;
}

ol.process-toppicks {
    font-size: 18px;
}
ol.process-toppicks li img {
    float: left;
    margin-right: 15px;
    vertical-align: middle;
}

.bucket-process h4,
.bucket-application h4 {
    font-size: 14px;
    line-height: 1.0;
    margin-top: 12px;
    margin-bottom: 6px;
    padding-left: 5px;;
}

.favorites {
    margin-top: 36px;
    width: 100%;
}

.bucket-process .favorites-items {
    min-width: 190px;
}

.bucket-application .favorites-items {
    min-width: 180px;
}

.favorites-drop-target {
	position: absolute; left: 8px; right: 8px;
    height: 30px;
}

.favorites-add-target {
    position:absolute;left: 0; right: 35px;
    padding: 5px 0 5px 0;
    font-style: italic; 
    display: inline-block;
    text-align: center;
}

.favorites-delete-target {
    position:absolute; 
    right: 0;
    height: 32px;
    width: 28px;
    background-image: url(../../graphics/icons/pagenav/remove2.png);
    background-repeat:no-repeat;
    opacity: 0.4;
}

.process-tasks > li > a.ui-draggable-dragging {
    font-weight: bold;
}

.items ol.priority-items {
    width: 250px;
    padding-left: 0;
    margin-left: 0;
}
.priority-items span.priority-title {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}
.items ol.priority-items li, ol.alert-items li {
    background-position: 0 0;
}
.priority-high {
    width: 25px;
    background: url(../../graphics/icons/pagenav/priority-bullet-high.png) no-repeat center center;
}
.priority-med {
    width: 25px;
    background: url(../../graphics/icons/pagenav/priority-bullet-med.png) no-repeat center center;
}
.priority-low {
    width: 25px;
    background: url(../../graphics/icons/pagenav/priority-bullet-low.png) no-repeat center center;
}

.items ol.alert-items {
    width: 250px;
    padding-left: 0;
    margin-left: 0;
}

ol.alert-items li {
    left: 20px;
    width: 225px;
    padding: 4px 0;
    line-height: 16px;
    border-bottom: solid 1px #bbb;
}
ol.alert-items li.alert-high {
    list-style-image:url(../../graphics/icons/pagenav/ab-red-bullet.gif);
}
ol.alert-items li.alert-medium {
    list-style-image:url(../../graphics/icons/pagenav/ab-yellow-bullet.gif);
}
ol.alert-items li.alert-low {
    list-style-image:url(../../graphics/icons/pagenav/ab-green-bullet.gif);
}

ol.search-results,
ul.search-results {
    list-style: none;
    padding: 0;
    margin: 1em 0 1em 0;
}
ol.search-results li,
ul.search-results li {
    padding-bottom: 2px;
}

ol.profile-menu,
ul.profile-menu {
    list-style: none;
    padding: 0;
    margin: 1em 0 1em 0;
}

/* TODO  padding and top are dependent on font-size and label length. Calc & set in JS code */

ol.profile-submenu,
ul.profile-submenu {
    list-style: none;
    padding: 0 0 0 73px;
    margin: 0;
    position:relative;
    top:-18px;
}
.hovertip {
    width: 200px;
}

.profile-item-title {
    line-height: 1.0;
    font-size: 10px;
    font-style: italic;
}

.page-break-banner {
    position: relative;
    left: -1px;
    top: 0;
    height: 48px;
    line-height: 48px;
    margin-right: 30px;
    border-left: none;
    border-right: none;
}
/* Go-to-Top link */
a.page-top-link {
    font-size: 16px;
    font-weight: normal;
    float: right;
    margin-right: 50px;
}
.page-break-archibus {
    padding-left: 15px;
    text-transform: uppercase;
    vertical-align: bottom;
    display: inline-block;
}
.page-break-archibus span {
    display: inline;
    vertical-align: bottom;
}

#tabExpressHome {
    padding:0;
    width:0;
}
#tabLabelHome, #tabLabelApplication {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}
.clear-float {
    clear: both;
}

.stacked-bar-graph td.alt, td.lbl {
    border-style: none;
}


/* Use three-border triangle r.t. content */
/* http://jonrohan.me/guide/css/creating-triangles-in-css/ */

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
}

/* Process Metrics table and charting */
table.process-metrics  {
    margin: 0;
    position:absolute;
    left: -1px;
    table-layout: fixed;
}
.process-metrics tr.even {
	background: #d2deec;
}
.process-metrics tr.odd {
	background: #fff;
}
.process-metrics th {
    padding-left: 6px;
	line-height: 16px;
	background: none;
    vertical-align: bottom;
    padding-bottom: 6px;
    text-align: left;
}
.process-metrics th.mtitle {
    width: 136px;
}
.process-metrics th.spark {
    width: 74px;
    padding-left: 0;
}
.process-metrics th.value {
    width: 60px;
    word-wrap: break-word;
}
.process-metrics th.chart {
    width: 100px;
    padding-left: 12px;
}
.process-metrics td {
    height: 36px;
    vertical-align: middle;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    line-height: 1;
    font-weight: normal;
}
.process-metrics td.pmtitle {
    white-space: normal;
}
.process-metrics td.pmtitle:hover {
    color: #0000ff;
    cursor: pointer;
}
.process-metrics .value {
    text-align: right;
    padding-right: 0;
    white-space: normal;
}
.process-metrics td div {
    width: auto;
    overflow: hidden;
    text-align: left;
    line-height: 16px;
    white-space: normal;
    font-weight: normal;
}
.process-metrics td.sparkline {
    padding-left: 0;
}
.process-metrics td.delta-up {
    color: #02a974;
    font-weight: bold;
}
.process-metrics td.delta-down {
    color: red;
    font-weight: bold;
}

/* Percentage Complete Barcharts */
.pchart {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.pchart .target, .pchart .current {
	height: 15px;
}
.pchart .target {
	text-align: right;
	z-index: 100;
}
.pchart span {
	position: relative; top: 2px; left: -88px;
	color: #fff;
	z-index: 300;
	font-weight: normal;
}
.pchart .current  {
	z-index: 200;
}

/* Horizontal Barcharting */
.hchart {
	padding: 4px 8px 0 8px;
	white-space: normal;
	line-height: 1;
}
.hchart .hchart-title {
    font-weight: bold;
    padding-left: 0;
    margin-top: 3px;
}
.hchart .bar-row {
    display: block;
    width: 100%;
}
.hchart .bar-title {
    font-size: .85em;
    font-weight: normal;
    white-space: nowrap;
    /* sets the spacing between bar components */
    padding: 3px 0 0 0;
    display: block;
    line-height: 14px;
}
.hchart .bar {
    display: inline-block;
	height: 14px;
	text-align: right;
	color: #fff;
	padding-right: 2px;
	line-height: .9;
}
.hchart .bar-point {
    font-size: .85em;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
	height: 13px;
    line-height: 13px;
    padding: 0 4px 0 4px;
}
.hchart .error {
    position: relative; top: 12px;
    font-style: italic;
}

/* Define all the possible bar colors here */
/* Horizontal Bar chart colors */
.hchart .pos {
	background: #5f5f5f; /* positive bars if not using stoplights */
}
.hchart .neg {
	background: #ff0000; /* negative bars if not using stoplights */
}
/* Also Percent Complete chart bar stoplight colors */
.hchart .red, .pchart .current.red {
	background: #9b3636; /* stoplight */
}
.hchart .green, .pchart .current.green {
	background: #589358; /* stoplight */
}
.hchart .yellow, .pchart .current.yellow {
	background: #dab300; /* stoplight */
}
.hchart .black, .pchart .current.black {
	background: #5f5f5f; /* stoplight "black" */
}

/* Percent Complete chart bar colors for percentiles */
.pchart .current.bar25 {
	background: #9b3636; /* 0 - 25% */
}
.pchart .current.bar50 {
	background: #589358; /* 26 - 50% */
}
.pchart .current.bar75 {
	background: #dab300; /* 51 - 75% */
}
.pchart .current.bar100 {
	background: #5f5f5f; /* 76 - 100% */
}

/* Metric Value text colors ( optionally same as stoplight bar color) */
.process-metrics td.red {
    color: #000;
}
.process-metrics td.green {
    color: #000;
}
.process-metrics td.yellow {
    color: #000;
}
.process-metrics td.black {
    color: #000;
}

/* Percent Complete chart text color using stoplight colors */
.pchart span.red {
	color: #fff;
}
.pchart span.green {
	color: #000;
}
.pchart span.yellow {
	color: #000;
}
.pchart span.black {
	color: #fff;
}

/* Percent Complete chart text color using percentile bars */
.pchart span.bar25 {
	color: #fff;
}
.pchart span.bar50 {
	color: #fff;
}
.pchart span.bar75 {
	color: #fff;
}
.pchart span.bar100 {
	color: #fff;
}

.processMetricDrilldown {
    font-size: 11px;
    cursor: pointer;
}

/**
 * Custom scroller. Developed by Dave Wallace 12 June 2012
 * to replace the use of background graphics.
 *
 * All CSS3 capable browsers will display rounded elements. Otherwise squared elements.
 * This will enable easier theming.
 *
 */

/* Default state without jsScrollbars enabled */
/* Older browsers and browsers without javascript get this */
.jssb-content {
    overflow: auto;
    height: 100%;
}

/* Enable jsScrollbars in capable browsers */
.jssb-applied > .jssb-content {
    overflow: hidden;
    height: auto; /* Use positioning to size the content...reset height to auto */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Shrink the content a little to make room for the scrollbars */
.jssb-scrollx .jssb-content { bottom: 16px; }
.jssb-scrolly .jssb-content { right: 16px; }

/* Hide scrollbars by default */
.jssb-x, .jssb-y { display: none; }

/* Show scrollbars when needed */
.jssb-scrollx .jssb-x,
.jssb-scrolly .jssb-y { display: block; }

/*  HORIZONTAL SCROLLBAR   */
/* Set horizontal scrollbar position and size in the container */
.jssb-x {
    position: absolute;	bottom: 4px; left: 4px; right: 4px;
    height: 8px;
}

/* Set horizontal scrollbar position when vertical scrollbar is present */
.jssb-scrolly .jssb-x {
    right: 12px;
}

/*  Horizontal Track  */
.jssb-x-track, .jssb-x-track-mid {
    position: absolute; left: 0; right: 4px;
    height: 8px;
}

/*  Horizontal Thumb - Minimum Size  */
.jssb-x-thumb {
    width: 20px;
}

/*  Horizontal Thumb - Default  */
.jssb-x-thumb, .jssb-x-thumb-mid {
    position: absolute;
    height: 8px;
}

/*  VERTICAL SCROLLBAR   */
/* Set vertical scrollbar position and size in the container */
.jssb-y {
    position: absolute;	top: 4px; right: 4px; bottom: 4px;
    width: 8px;
}

/* Set vertical scrollbar position when horizontal scrollbar is present */
.jssb-scrollx .jssb-y {
    bottom: 12px;
}

/*  Vertical Track  */
.jssb-y-track, .jssb-y-track-mid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
}

/*  Vertical Thumb - Default  */
.jssb-y-thumb, .jssb-y-thumb-mid {
    position: absolute;
    width: 8px;
}

/*  COMMON SCROLLBAR PROPERTIES  */

/*  Common Track  */
.jssb-x-track, .jssb-x-track-mid, .jssb-y-track, .jssb-y-track-mid {
    background-color: #E4EBF6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/*  Common Thumb  */
.jssb-x-thumb, .jssb-x-thumb-mid, .jssb-y-thumb, .jssb-y-thumb-mid {
    background-color: #A2B6D3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* Set the sprite position of the thumb click state */
.jssb-y-thumb-click { background-position: -30px 0; }
.jssb-y-thumb-click .jssb-y-thumb-mid { background-position: -50px 0; }
.jssb-y-thumb-click .jssb-y-thumb-end { background-position: -70px bottom; }



.portlet {
    margin: 2px;
    padding: 0.3em;
    /*width: 90%;*/
}
.portlet-header {
    position: relative;
    padding: 0.2em 0.3em;
    cursor: move;
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    cursor: pointer;
}
.portlet-content {
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}
.portlet-content-input {
    padding-right:0;
    margin:0;
    width:99%;
}
.portlet-button-panel {
    float:right;
    margin-top:2px;
}

.favorites-dialog ol {
    list-style-type:none;
    padding:0;
}

.favorites-dialog-status span {
    font-family: Calibri,Tahoma,Helvetica,Arial;
    font-size: 14px;
    font-weight: bold;
    color: #f47e00;
    margin-left: 5px;
}
.no-license {
    margin:10px;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
 
.spinner {
    min-width: 24px;
    min-height: 24px;
}
 
.spinner:before {
    content: 'Loading�';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}
 
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

