/*
**  "Quiet" theme for Navigator
*/


/*---------- Theme-wide ---------------------------*/

body {
    font-family: 'Myriad Pro', Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
    background: #F6F9FE; /* #C5D5EC; */
}

input[type="text"],
select[class*="home-page"] {
    font-size: 12px;
    font-weight: normal;
    padding: 4px 10px 2px 4px;
    color: black;
    margin: 0 0 0 5px;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.6);

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f7fb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f7fb), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f7fb 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f7fb 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f7fb 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #f3f7fb 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f7fb', endColorstr='#ffffff', GradientType=0); /* IE6-8 */
}

a { text-decoration: none; }
a:link,
a:visited { color: #819dd7; }
a:hover,
a:active {
    cursor: pointer;
    color: #f47e00;
    font-weight: normal;
}

.ui-widget-content a { text-decoration: none; color: black; }

a:link,
a:visited  { color: #819dd7; }
.ui-widget-content a:link,
.ui-widget-content a:visited,
.bucket li a:link,
.bucket li a:visited,
.profile-menu li a:link,
.profile-menu li a:visited { color: black; }

a:hover,
a:active,
.ui-widget-content a:hover,
.ui-widget-content a:active,
.bucket li a:hover,
.bucket li a:active,
.profile-menu li a:hover,
.profile-menu li a:active  { color: #f47e00; }




/*---------- header -------------------------------------*/

.ui-widget-header {  
    background-color: #C5D5EC;
    background-image: none;
}
.head-banner-home #bannerMenu {
    font-family: Calibri,Tahoma,Helvetica,Arial;
    font-size: 13px;
}
.head-banner-home #bannerMenu a {
    font-family: Calibri,Tahoma,Helvetica,Arial;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.head-banner-home .search-text {
    font-size: 13px;
    /* width: 243px; */
    color: #aaa;
    font-family: 'Myriad Pro', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.ui-button .ui-button-text {
    line-height: 0.7em;
    font-size: 13px;
    font-family: 'Myriad Pro', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.ui-dialog {
    border-radius: 8px;
    background-color:#d2dfee;
}
.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin-top: 3px;
    margin-bottom: 0;
}
.ui-dialog .ui-dialog-content,
.ui-widget-content {
    /* background-color :#d2dfee; */
    background-color :#fff;
}


/*---------- tabs ---------------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #dde6f0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #f6f9fe;
}
.ui-tabs .ui-tabs-nav li {
    font-family: "Myriad Pro",Calibri,Tahoma,Arial;
    font-size: 16px;
    top: 10px;
}
.ui-widget {
    font-family: "Myriad Pro",Calibri,Tahoma,Arial;
    font-size: 14px;
}
.ui-widget select {
    font-family: "Myriad Pro",Calibri,Tahoma,Arial;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

/* Tab when selected and showing a pTask should match the color of the adjoining viewToolbar  */
/* Keep this color synched with div.toolbar in ab-core-[slate-small].css */
#navigationTabs>.ui-widget-header>.ui-task-tab-active[aria-selected="true"],
.ui-task-tab-active a.ui-tabs-anchor span {
    background: #537AC0;
    font-weight: bold;
    color: #fff;
}

.quick-view-toolbar {
    background: #537AC0;
}

/*---------- nav pages -------------------------------------*/

/*
.nav-pages,.task-view
*/
.ui-tabs  .ui-tabs-panel
{
background: #f6f9fe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmRmZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f6f9fe 0%, #d2dfee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fe), color-stop(100%,#d2dfee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f9fe 0%,#d2dfee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f9fe 0%,#d2dfee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f9fe 0%,#d2dfee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f9fe 0%,#d2dfee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fe', endColorstr='#d2dfee',GradientType=0 ); /* IE6-8 */
}

h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.0;
}

/*---------- buckets and other containers -----------------*/

.bucket {
    font-family: "Myriad Pro",Calibri,Tahoma,Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
    background: transparent;
}
.bucket-process h2,
.bucket-application h2 {
    font-weight: normal;
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    top: 10px;
    padding: 4px 3px 2px 7px;
    margin: 0;
    cursor: context-menu;
}
.bucket-application h2 {
    height: 45px;
}
.bucket-process h6,
.bucket-application h6 {
    font-weight: normal;
    font-style: italic;
    font-size: 11px;
    line-height: 1.0;
    color: #aaa;
    border-bottom: solid 1px #bbb;
    margin: 0 10px 5px 0;
    padding: 10px 0 2px 0;
    clear: both;
}

ol.process-toppicks {
    font-size: 16px;
}



.favorites, .bar-metrics {
    z-index: 0;
    /* background: rgba(255,255,255, 0.4);
    border: 1px solid rgba(180,180,180,0.3);*/
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin-bottom: 2px;
}

.favorites-add-target {
    border: dashed 1px #aaa;
    opacity: 0.5;
}

.process-bread-crumbs {
    font-size: 13px;
    color: #708090;
    background: #F6F9FE;
}

.bucket-process li a:link,
.bucket-process li a:visited,
.bucket-application li a:link,
.bucket-application li a:visited {
    color: black;
}

.bucket-process li a:hover,
.bucket-process li a:active,
.bucket-application li a:hover,
.bucket-application li a:active {
    cursor: pointer;
    color: #819dd7;
}

#processFrame .process-tasks {
    border-bottom: solid 1px #aaa;
}

.bucket-background-light {
    background-color: #ddd;
}
.bucket-background-medium {
    background-color: #d2dfee;
}
.bucket-background-dark {
    background-color: #819dd7;
}


.bucket-background-light-gray	{   background-color: #f2f2f2; 	}
.bucket-background-medium-gray	{   background-color: #d8d8d8;	}
.bucket-background-dark-gray  	{   background-color: #bfbfbf;	}

.bucket-background-light-ochre	{   background-color: #ddd9c3; 	}
.bucket-background-medium-ochre	{   background-color: #c4bd97;	}
.bucket-background-dark-ochre  	{   background-color: #938953;	}

.bucket-background-light-blue	{   background-color: #c6d9f0; 	}
.bucket-background-medium-blue	{   background-color: #8db3e2;	}
.bucket-background-dark-blue  	{   background-color: #548dd4;	}

.bucket-background-light-lblue	{   background-color: #dbe5f1; 	}
.bucket-background-medium-lblue	{   background-color: #b8cce4;	}
.bucket-background-dark-lblue  	{   background-color: #95b3d7;	}

.bucket-background-light-red	{   background-color: #f2dcdb; 	}
.bucket-background-medium-red	{   background-color: #e5b9b7;	}
.bucket-background-dark-red  	{   background-color: #d99694;	}

.bucket-background-light-green	{   background-color: #ebf1dd; 	}
.bucket-background-medium-green	{   background-color: #d7e3bc;	}
.bucket-background-dark-green  	{   background-color: #c3d69b;	}

.bucket-background-light-purple		{   background-color: #e5e0ec; 	}
.bucket-background-medium-purple	{   background-color: #ccc1d9;	}
.bucket-background-dark-purple  	{   background-color: #b2a2c7;	}

.bucket-background-light-aqua	{   background-color: #dbeef3; 	}
.bucket-background-medium-aqua	{   background-color: #b7dde8;	}
.bucket-background-dark-aqua  	{   background-color: #92cddc;	}

.bucket-background-light-orange		{   background-color: #fdeada; 	}
.bucket-background-medium-orange	{   background-color: #fbd5b5;	}
.bucket-background-dark-orange  	{   background-color: #fac08f;	}






/*---------- infographics --------------------------------*/

.sparkline-metrics tr.alt {
    background: rgba(0,40,128, 0.05);
}

.bar-graphic {
    color: black;
    background: rgba(180,180,180,0.5);
}

/*---------- page-break banner ---------------------------*/

.page-break-banner {
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}
.page-break-banner > a {
    color: black;
}
.page-break-archibus {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

/*---------- tooltip styling ---------------------------*/
/* match .ui-tabs .ui-tabs-nav li */
.bread-crumb-title {
    font-family: "Myriad Pro",Calibri,Tahoma,Arial;
    font-size: 16px;
    cursor: pointer;
}
.bread-crumb-title:hover {
    color: black;
}
.bread-crumb-application-title {
    font-size:12px;
    color: #7F7F7F;
}
.bread-crumb-process-title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: thin solid #819dd7;
    margin-bottom: 7px;
}
.bread-crumb-process-tasks {
    border-bottom: thin solid #819dd7;
}
.bread-crumb-process-tasks a {
    font-size: 12px;
}

.search-tip-title {
    color: black;
    padding-bottom: 8px;
}
.search-tip-item-title {
    color: blue;
}
.caret {
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    opacity: 0.5;
}



/****  Copied from "skin.css" delivered for Space/Ops Express  ****/

.light-wash {
    background: rgba(255,255,255, 0.4);
}
.dark-wash {
    background: rgba(0,40,128, 0.05);
}
.background-no-gradient {      /* color theme dependent */
    background: #d2dfee;
}
.background-linear-gradient {      /* color theme dependent */
background: #f6f9fe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmRmZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f6f9fe 0%, #d2dfee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fe), color-stop(100%,#d2dfee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f9fe 0%,#d2dfee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f9fe 0%,#d2dfee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f9fe 0%,#d2dfee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f9fe 0%,#d2dfee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fe', endColorstr='#d2dfee',GradientType=0 ); /* IE6-8 */
}


/* New class */
.background-radial-gradient {      /* color theme dependent */
background: #d2dfee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNmY5ZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDJkZmVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #f6f9fe 0%, #d2dfee 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f6f9fe), color-stop(100%,#d2dfee)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #f6f9fe 0%,#d2dfee 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #f6f9fe 0%,#d2dfee 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #f6f9fe 0%,#d2dfee 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  #f6f9fe 0%,#d2dfee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fe', endColorstr='#d2dfee',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}



