/**
 * Wrapper element for the scrollable.  set the viewport dimensions.
 */
.scrollable-wrapper {
    margin: 0 auto;
}

/**
 * Root element for the scrollable. when scrolling occurs this element stays still.
 */
.scrollable-root {
    /* required settings */
    position: relative;
    overflow: hidden;
}

.scrollable-wrapper-full-height,
.scrollable-full-height {
    height: 420px;
}
#applicationsTabView .scrollable-wrapper-full-height,
#applicationsTabView .scrollable-full-height {
    height: 405px;
}
.scrollable-wrapper-three-quarter-height,
.scrollable-three-quarter-height {
    height: 305px;
}
#applicationsTabView .scrollable-wrapper-three-quarter-height,
#applicationsTabView .scrollable-three-quarter-height {
    height:290px;
}
.scrollable-wrapper-half-height,
.scrollable-half-height {
    height:200px;
}
#applicationsTabView .scrollable-wrapper-half-height,
#applicationsTabView .scrollable-half-height {
    height:185px;
}

/*
.scrollable-favorites-wrapper-full-height,
.scrollable-favorites-full-height {
    height: 384px;
}
.scrollable-favorites-wrapper-three-quarter-height,
.scrollable-favorites-three-quarter-height {
    height: 278px;
}
.scrollable-favorites-wrapper-half-height,
.scrollable-favorites-half-height {
    height:164px;
}

diff above to below are the changes for KB 3044422
when favorites aged, drop target is out of overflow region
*/

.scrollable-favorites-wrapper-full-height {
    height: 348px;
    padding-top: 36px;
}
.scrollable-favorites-full-height {
    height: 384px;
    padding-top: 36px;
    top: -72px;
}
.scrollable-favorites-wrapper-three-quarter-height {
    height: 228px;
    padding-top: 36px;
}
.scrollable-favorites-three-quarter-height {
    height: 264px;
    padding-top: 36px;
    top: -72px;
    z-index: 0;
}
.scrollable-favorites-wrapper-half-height {
    height: 120px;
    padding-top: 36px;
}
.scrollable-favorites-half-height {
    height: 156px;
    padding-top: 36px;
    top: -72px;
}

/**
 * Root element for scrollable items. Must be absolutely positioned & have an extremely large width
 * to accomodate scrollable items. It's enough that you set the width and height for the root element r.t. this element.
 */
.scrollable-full-height .items,
.scrollable-three-quarter-height .items,
.scrollable-half-height .items,
.scrollable-favorites-full-height .items,
.scrollable-favorites-three-quarter-height .items,
.scrollable-favorites-half-height .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}
/*
 */
.scrollable-full-height ol,
.scrollable-three-quarter-height ol,
.scrollable-half-height ol,
.scrollable-favorites-full-height ol,
.scrollable-favorites-three-quarter-height ol,
.scrollable-favorites-half-height ol {
    display: inline-table;
    list-style: none;
    margin-bottom: 4px;
}

/**
 * single scrollable item
 */
.scrollable-full-height li,
.scrollable-three-quarter-height li,
.scrollable-half-height li {
    margin: 1px 0 1px 0;
}

.bucket-process .scrollable-wrapper-full-height,
.bucket-process .scrollable-wrapper-three-quarter-height,
.bucket-process .scrollable-wrapper-half-height,
.bucket-process .scrollable-full-height,
.bucket-process .scrollable-three-quarter-height,
.bucket-process .scrollable-half-height,
.bucket-process .scrollable-full-height ol,
.bucket-process .scrollable-three-quarter-height ol,
.bucket-process .scrollable-half-height ol {
    width: 245px;
}

.bucket-process .scrollable-favorites-wrapper-full-height,
.bucket-process .scrollable-favorites-wrapper-three-quarter-height,
.bucket-process .scrollable-favorites-wrapper-half-height,
.bucket-process .scrollable-favorites-full-height,
.bucket-process .scrollable-favorites-three-quarter-height,
.bucket-process .scrollable-favorites-half-height,
.bucket-process .scrollable-favorites-full-height ol,
.bucket-process .scrollable-favorites-three-quarter-height ol,
.bucket-process .scrollable-favorites-half-height ol {
    width: 245px;
}
.bucket-application .scrollable-wrapper-full-height,
.bucket-application .scrollable-wrapper-three-quarter-height,
.bucket-application .scrollable-wrapper-half-height,
.bucket-application .scrollable-full-height,
.bucket-application .scrollable-three-quarter-height,
.bucket-application .scrollable-half-height,
.bucket-application .scrollable-full-height ol,
.bucket-application .scrollable-three-quarter-height ol,
.bucket-application .scrollable-half-height ol,
.bucket-application .scrollable-favorites-wrapper-full-height,
.bucket-application .scrollable-favorites-wrapper-three-quarter-height,
.bucket-application .scrollable-favorites-wrapper-half-height,
.bucket-application .scrollable-favorites-full-height,
.bucket-application .scrollable-favorites-three-quarter-height,
.bucket-application .scrollable-favorites-half-height,
.bucket-application .scrollable-favorites-full-height ol,
.bucket-application .scrollable-favorites-three-quarter-height ol,
.bucket-application .scrollable-favorites-half-height ol {
    width:204px;
}

/* position and dimensions of the navigator */
.navi {
    margin: 0 80px;
    width: 100px;
    height: 18px;
}
/* items inside navigator */
.navi a {
    width:12px;
    height:12px;
    float:left;
    margin:3px;
    background:url(../img/navigator.png) 0 0 no-repeat;
    display:block;
    font-size:1px;
}
/* mouseover state */
.navi a:hover {
    background-position:0 -12px;
}
/* active state (current page state) */
.navi a.active {
    background-position:0 -24px;
}