## First page of applications tab shows Products (domains) and their Activities (applications)
## Each activity leads to its own page of Processes and Tasks
##
## -- Macro for listing activities within a product --
##
#macro (listActivities $activities)
                               <ol class="app-processes">
#foreach ($activity in $activities)
                                   <li><a href="$activity.activityFile" class="application-title" rel="activityProcess" data-activityId="$activity.activityId" data-helpLink="$!activity.helpLink" data-helpLink="$!activity.helpSystem" title="$!activity.summary">$activity.title</a></li>
#end
                               </ol>
#end
##
## -- Begin fragment output --
##
<div class="nav-pages" id="navPagesApps">
    <div class="page">
#set ($imgPath = $requestContext + "/schema/ab-system/graphics/")
##
## -- loop over blocks and output via relevant macro
##
#if ($navigationBlocks.isEmpty())
<h3 id="no_license_app_notice" class="no-license">No Applications are licensed</h3>
#end
#foreach ($navigationBlock in $navigationBlocks)
#if ($navigationBlock.blockType == "DIVIDER")
#set ($rowTitle = $navigationBlock.displayTitle)
##set ($rowShading = $navigationBlock.backgroundShading)
#elseif ($navigationBlock.blockType == "ROW")
        <div class="page-row ${navigationBlock.displayHeight}-height" >
#if ($rowTitle)
            <h3 oncontextmenu="return false;">$rowTitle</h3>
            <hr class="application-horizontal-rule">
#set ($rowTitle = false)
#end
#foreach ($navigationBucket in $navigationBlock.navigationBuckets)
#if ($navigationBucket.bucketType == 'domain')
            <div class="bucket-application $!navigationBucket.widthClass" data-productId="$navigationBucket.productId" oncontextmenu="return false;">
                <h2 class="product-title" title="$!navigationBucket.tooltip" data-helpLink="$!navigationBucket.helpLink">
                    <span class="product-title-text">$navigationBucket.title</span>
#if ($navigationBucket.iconFile)
                    <img src="$imgPath${navigationBucket.iconFile}" alt="" class="application-title-icon"/>
#end
                </h2>
                <div class="bucket-wrapper" id="wrapper_$navigationBucket.identifier"  onMouseUp="openProcess(this,event);">
#listActivities ($navigationBucket.activities)
                </div>
            </div>
#end
#end
       </div>
#end
#end
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    setPageDimensions();
    bindTaskContextMenu();
    pageTallApplicationBuckets();
    modifyProductTitleDisplay();
});
</script>