## Second-level pages of Applications tab displaying one activity's processes and tasks
##
##
## --
## -- Macro for enumerating a group of tasks within a process --
## --
#macro (listTaskGroups $taskGroups)
                        <ol class="ptask-labels">
#foreach ($taskGroup in $taskGroups)
#if ($taskGroup.title == '&nbsp;')
                            <li class="empty-taskgroup-title">&nbsp;</li>
#else
                            <li>$taskGroup.title</li>
#end
                            <ol class="process-tasks">
#foreach ($pTask in $taskGroup.tasks)
                                <li><a href="$pTask.taskFile" rel="pTask" data-taskId="$pTask.taskId" data-taskIcon="$!pTask.taskIcon">$pTask.taskName</a></li>
#end
                            </ol>
#end
                        </ol>
#end
## --
## -- Macro for rendering the favorites bucket
## --
#macro (renderAppProcFavoritesBucket $bucket)
            <div id="appProcFavoritesBucket" class="bucket-application $!bucket.backgroundShading $!bucket.widthClass" data-activityId="$bucket.parentRestriction" data-processId="$bucket.parentRestriction" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="$bucket.parentRestriction" title="$!bucket.tooltip">$bucket.title</h2>
                <div class="bucket-wrapper" id="wrapper_$bucket.identifier">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
#end
## --
## --
## -- Beginning fragment output --
## --
<div class="nav-pages" id="$activity.identifier">
    <div class="page">
#set ($imgPath = $requestContext + "/schema/ab-system/graphics/")
##
## -- loop over blocks and output via relevant macro
##
#foreach ($navigationBlock in $navigationBlocks)
#if ($navigationBlock.blockType == "DIVIDER")
#set ($rowTitle = $navigationBlock.displayTitle)
#set ($rowShading = $navigationBlock.backgroundShading)
#elseif ($navigationBlock.blockType == "ROW")
        <div class="page-row ${navigationBlock.displayHeight}-height" >
            <h3 class="application-title" data-activityId="$activity.activityId">$activity.title</h3>
            <hr class="application-horizontal-rule">
#foreach ($bucket in $navigationBlock.navigationBuckets)
#if ($bucket.bucketType == 'process')
            <div class="bucket-application $!bucket.widthClass" data-productId="$activity.productId" data-activityId="$activity.activityId" data-processId="$bucket.processId" data-productTitle="$activity.productTitle" data-activityTitle="$activity.title" data-processTitle="$bucket.title" data-subfolder="$!activity.subfolder" data-helpLink="$!bucket.helpLink" data-helpSystem="$!bucket.helpSystem" data-dashboardLayout="$!bucket.dashboardLayout" data-dashboardView="$!bucket.dashboardView" title="$!bucket.tooltip" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="$!bucket.tooltip">
                    <span class="process-title-text">$bucket.title</span>
#if ($bucket.iconFile)
                    <img src="$imgPath${$bucket.iconFile}" alt="" class="application-title-icon"/>
#end
                </h2>
                <div class="bucket-wrapper" id="wrapper_$bucket.identifier">
#listTaskGroups ($bucket.taskGroups)
                </div>
            </div>
#elseif ($bucket.bucketType == 'favorites')
#renderAppProcFavoritesBucket ($bucket)
#end
#end
        </div>
#end
#end
##
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>