## --
## -- Macro for rendering an app-specific bucket, just a wrapper for runtime control
## --
#macro (renderAppSpecificBucket $bucket $bucketCounter)
                        <div id="bucket_${bucket.identifier}_h$bucketCounter" class="bucket-process $!bucket.backgroundShading $!bucket.widthClass" oncontextmenu="return false;">
                            <h2 class="process-title" title="$!bucket.tooltip">$bucket.title</h2>
                            <div class="bucket-wrapper app-specific-bucket" id="wrapper_${bucket.identifier}_h$bucketCounter">
#set ($attributesMap = $bucket.attributes)
#if ($attributesMap.size() == 0)
                                <div class="$bucket.controlType">
#else
                                <div class="$bucket.controlType"
#foreach($attributeKey in $attributesMap.keySet())
                                    $attributeKey="$attributesMap.get($attributeKey)"
#end
                                >
#end
                                </div>
                            </div>
                        </div>
#end
## --
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="description" content="Reporting dialog for app-specific buckets including leaflet and leaflet-image with the property L_PREFER_CANVAS = true .">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/jquery-ui-1.10.1.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/normalize.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/main.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/page-navigator.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/quiet.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/scrollable-bucket.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/hovertip.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/jquery.contextMenu.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/ab-pgnav-map.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/MarkerCluster.Default.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/MarkerCluster.css"/>

        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery-1.8.0.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/modernizr-2.6.1.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/plugins.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery-ui-1_11_0.min.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/base/base.js" language="JavaScript"> </script>
        <script src="$requestContext/schema/ab-core/libraries/json/jsonrpc.js" language="JavaScript"> </script>
        <script src="$requestContext/schema/ab-core/controls/ab-namespace-no-ext.js" language="JavaScript"> </script>
        <script src="$requestContext/schema/ab-core/controls/ab-data.js" language="JavaScript"> </script>
        <script src="$requestContext/schema/ab-core/views/ab-secure.js" language="JavaScript"> </script>
        <script src="$requestContext/schema/ab-core/controls/ab-workflow-standalone.js" language="JavaScript"> </script>

        <script> L_PREFER_CANVAS = true; </script>
        <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="//cdn-geoweb.s3.amazonaws.com/esri-leaflet/1.0.0-rc.5/esri-leaflet.js"></script>
        <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/leaflet-google.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>

        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/hovertip.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.contextMenu.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.mousewheel.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.sparkline-2.1.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.ui.position.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/html2canvas.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-alerts-list.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-bucket-paging.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-context-menu.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-file-management.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-history.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-localization.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-runtime-controls.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-reporting.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-view-controller.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-view-type.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-map.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/leaflet-markercluster.js"></script>
        <script src="$requestContext/dwr/interface/workflow.js" language="JavaScript"> </script>
        <script src="$requestContext/dwr/interface/AdminService.js" language="JavaScript"> </script>
        <script src="$requestContext/dwr/interface/SecurityService.js" language="JavaScript"> </script>
        <script src="$requestContext/dwr/engine.js" language="JavaScript"> </script>
	</head>

	<body>
        <div id="reportDialogWrapper" class="task-view ui-widget" style="display:block;overflow:hidden;width:98%;height:98%;">
            <div class="nav-pages">
                <div class="page" style="height:820px;">
#set ($bucketCounter = 0)
#foreach($navigationBlock in $navigationBlocks)
#if ($navigationBlock.blockType == 'ROW')
                    <div class="page-row ${navigationBlock.displayHeight}-height" >
#foreach ($bucket in $navigationBlock.navigationBuckets)
#if($bucket.bucketType == 'app-specific')
#renderAppSpecificBucket($bucket $bucketCounter)
#set ($bucketCounter = $bucketCounter + 1)
#end
#end
                    </div>
#end
#end
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                var imagesContainer = {};
                capturedCount = 0;
                $('#presentation_job_spinner').hide();

                setTimeout(function() {
                    loadHorizontalBarCharts();
                    loadAlertsBuckets();
                    loadProcessMetricsControls();
                    PageNavReportingConfig.bucketMapHash = loadMapControls();
                }, 300);

                // collect all app-specific buckets' properties
                var appSpecificBuckets = $('div.app-specific-bucket');
                $(appSpecificBuckets).each(function (n) {
                    var bucketElement = $(this).parent('.bucket-process');
                    var bucketId = $(bucketElement).attr('id');
                    var bucketTitle = $(bucketElement).children('h2')[0].innerHTML;

                     imagesContainer[bucketId] = {
                        index: n,
                        title: bucketTitle,
                        images: {}
                    };
                });

                ///setTimeout(function() {captureReportImages(imagesContainer, appSpecificBuckets.length)}, 1000);
            });
        </script>
    </body>
</html>
