## Home tab displaying roles most used processes and tasks, plus runtime controls for alerts, graphs and other metrics
##
## -- Macro for listing the tasks within a process --
## --
#macro (renderProcessBucket $bucket $bucketCounter)
            <div id="bucket_${bucket.identifier}_h$bucketCounter" class="bucket-process $!bucket.backgroundShading $!bucket.widthClass" data-productId="$!bucket.productId" data-activityId="$!bucket.activityId" data-processId="$!bucket.processId" data-productTitle="$!bucket.productTitle" data-activityTitle="$!bucket.activityTitle" data-processTitle="$!bucket.title" data-subfolder="$!bucket.subfolder" data-helpLink="$!bucket.helpLink"  data-helpSystem="$!bucket.helpSystem" data-dashboardLayout="$!bucket.dashboardLayout" data-dashboardView="$!bucket.dashboardView" title="$!bucket.tooltip" oncontextmenu="return false;">
                <h2 class="process-title" $!bucket.tooltipAttributeString>$bucket.title</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_${bucket.identifier}_h$bucketCounter" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
#foreach ($taskGroup in $bucket.taskGroups)
#if ($taskGroup.title == '&nbsp;')
                        <li class="empty-taskgroup-title">&nbsp;</li>
#else
                        <li>$taskGroup.title</li>
#end
                        <ol class="process-tasks">
#foreach ($task in $taskGroup.tasks)
                            <li><a href="$task.taskFile" rel="eTask" data-taskId="$task.taskId" data-taskIcon="$!task.taskIcon">$task.taskName</a></li>
#end
                        </ol>
#end
                    </ol>                    
                </div>
            </div>
#end
## --
## -- Macro for rendering the favorites bucket
## --
#macro (renderFavoritesBucket $bucket $bucketCounter)
            <div id="homeFavoritesBucket_h$bucketCounter" class="bucket-process $!bucket.backgroundShading $!bucket.widthClass" oncontextmenu="return false;">
                <h2 class="process-title" title="$!bucket.tooltip">$bucket.title</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_${bucket.identifier}_h$bucketCounter">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
#end
## --
## -- Macro for rendering an app-specific bucket, just a wrapper for runtime control
## --
#macro (renderAppSpecificBucket $bucket $bucketCounter)
            <div id="bucket_${bucket.identifier}_h$bucketCounter" class="bucket-process $!bucket.backgroundShading $!bucket.widthClass" oncontextmenu="return false;">
                <h2 class="process-title" title="$!bucket.tooltip">$bucket.title</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_${bucket.identifier}_h$bucketCounter">
#set ($attributesMap = $bucket.attributes)
#if ($attributesMap.size() == 0)
                    <div class="$bucket.controlType">
#else
                    <div class="$bucket.controlType"
#foreach($attributeKey in $attributesMap.keySet())
                        $attributeKey="$attributesMap.get($attributeKey)"
#end
                    >
#end
                    </div>
                </div>
            </div>
#end
## --
## -- Macro for rendering a page divider
## --
#macro (renderPageDivider $bucket)
        <div class="page-break-banner ui-widget-header $!bucket.backgroundShading">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>$bucket.title</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
#end
## --
## --
## -- Beginning fragment output --
## --
#set ($bucketCounter = 0)
<div class="nav-pages">
    <div class="page">
#if ($navigationBlocks.isEmpty())
<h3 id="no_license_home_notice" class="no-license">No Applications are licensed</h3>
#end
#foreach($navigationBlock in $navigationBlocks)
#if ($navigationBlock.blockType == 'ROW')
	    <div class="page-row ${navigationBlock.displayHeight}-height" >
#foreach ($bucket in $navigationBlock.navigationBuckets)
#if ($bucket.bucketType == 'process')
#renderProcessBucket($bucket $bucketCounter)
#elseif($bucket.bucketType == 'favorites')
#renderFavoritesBucket($bucket $bucketCounter)
#elseif($bucket.bucketType == 'app-specific')
#renderAppSpecificBucket($bucket $bucketCounter)
#end
#set ($bucketCounter = $bucketCounter + 1)
#end
	    </div>
#elseif ($navigationBlock.blockType == 'DIVIDER')
#renderPageDivider ($navigationBlock)
#end
#end
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>