## -- Macro for include files in the steppingStone template --
## -- \ab-products\common\views\page-navigation\generated\page-navigator.html
## --
#macro (initialPageIncludes $requestContext)
        <link rel="shortcut icon" href="$requestContext/schema/ab-core/graphics/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="$requestContext/schema/ab-core/libraries/jquery/css/smoothness/jquery-ui-1.11.4.min.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/normalize.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/main.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/page-navigator.css">
        <!-- Theme here -->
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/quiet.css">
        <!-- include jQuery, modernizer & jQuery plugins -->
        <script src="$requestContext/schema/ab-core/libraries/jquery/js/jquery-1.11.3.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/modernizr-2.6.1.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/plugins.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.tools-1.2.7.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/jquery-tools-tabs-renamer.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/jquery/js/jquery-ui-1.11.4.custom.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-localization.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-file-management.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-login-redirector.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/base/base.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/json/jsonrpc.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-namespace-no-ext.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-data.js"></script>
        <script src="$requestContext/schema/ab-core/views/ab-secure.js"></script>
        <script src="$requestContext/dwr/engine.js"></script>
        <script src="$requestContext/dwr/util.js"></script>
        <script src="$requestContext/dwr/interface/workflow.js"></script>
        <script src="$requestContext/dwr/interface/AdminService.js"></script>
        <script src="$requestContext/dwr/interface/SecurityService.js"></script>
        <script src="$requestContext/dwr/interface/DocumentService.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-workflow-standalone.js"></script>
#end

## -- Macro for include files in the skeleton template when Debug == true --
## -- \ab-products\common\views\page-navigation\generated\[lang]\[role]\page-navigator-[lang].html
## --
#macro (skeletonHeadIncludesDebug $requestContext)
        <link rel="shortcut icon" href="$requestContext/schema/ab-core/graphics/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="$requestContext/schema/ab-core/libraries/jquery/css/smoothness/jquery-ui-1.11.4.min.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/normalize.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/main.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/page-navigator.css">
         <!-- Theme here -->
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/quiet.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/scrollable-bucket.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/libraries/jquery/hovertip/hovertip.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/jquery.contextMenu.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/leaflet.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/ab-pgnav-map.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/MarkerCluster.Default.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/MarkerCluster.css"/>
        <!-- include jQuery, modernizer & jQuery plugins -->
        <script src="$requestContext/schema/ab-core/libraries/jquery/js/jquery-1.11.3.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/modernizr-2.6.1.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/plugins.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.tools-1.2.7.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/jquery-tools-tabs-renamer.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/jquery/js/jquery-ui-1.11.4.custom.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.ba-bbq.min.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/base/base.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/json/jsonrpc.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-namespace-no-ext.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/jquery/hovertip/hovertip.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.contextMenu.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.mousewheel.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.sparkline-2.1.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.ui.position.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/html2canvas.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-alerts-list.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-bucket-paging.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-user-menu.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-context-menu.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-file-management.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-history.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-localization.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-my-favorites.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-my-favorites-dialog.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-page-navigator.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-runtime-controls.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-reporting.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-sibling-tasks.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-view-controller.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-view-type.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/leaflet.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/esri-leaflet.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/google-maps-api.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/leaflet-google.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/ab-pgnav-map.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/leaflet-markercluster.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-data.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-scroller.js"></script>
        <script src="$requestContext/schema/ab-core/views/ab-secure.js"></script>
        <script src="$requestContext/schema/ab-products/common/views/page-navigation/javascript/ab-pgnav-custom-code-plugin.js"></script>
        <script src="$requestContext/dwr/engine.js"></script>
        <script src="$requestContext/dwr/util.js"></script>
        <script src="$requestContext/dwr/interface/workflow.js"></script>
        <script src="$requestContext/dwr/interface/AdminService.js"></script>
        <script src="$requestContext/dwr/interface/SecurityService.js"></script>
        <script src="$requestContext/dwr/interface/DocumentService.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-workflow-standalone.js"></script>
#end

## -- Macro for include files in the skeleton template when Debug == false --
## -- \ab-products\common\views\page-navigation\generated\[lang]\[role]\page-navigator-[lang].html
## --
#macro (skeletonHeadIncludes $requestContext)
        <link rel="shortcut icon" href="$requestContext/schema/ab-core/graphics/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="$requestContext/schema/ab-core/libraries/jquery/css/smoothness/jquery-ui-1.11.4.min.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/normalize.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/main.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/page-navigator.css">
        <!-- Theme -->
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/quiet.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/scrollable-bucket.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/libraries/jquery/hovertip/hovertip.css">
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/jquery.contextMenu.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/vendor/leaflet.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/ab-pgnav-map.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/MarkerCluster.Default.css"/>
        <link rel="stylesheet" href="$requestContext/schema/ab-core/page-navigation/css/MarkerCluster.css"/>
        <!-- include jQuery, modernizer & jQuery plugins -->
        <script src="$requestContext/schema/ab-core/libraries/jquery/js/jquery-1.11.3.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/modernizr-2.6.1.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/plugins.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.tools-1.2.7.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/jquery-tools-tabs-renamer.js"></script>
        <!-- jQuery UI 1.10.4 still misbehaves in SmartClient -->
        <script src="$requestContext/schema/ab-core/libraries/jquery/js/jquery-ui-1.11.4.custom.min.js"></script>
        <script src="$requestContext/schema/ab-core/page-navigation/js/vendor/jquery.ba-bbq.min.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/base/base.js"></script>
        <script src="$requestContext/schema/ab-core/libraries/json/jsonrpc.js"></script>
        <script src="$requestContext/schema/ab-core/ab-pgnav.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-data.js"></script>
        <script src="$requestContext/schema/ab-core/controls/ab-scroller.js"></script>
        <script src="$requestContext/schema/ab-core/views/ab-secure.js"></script>
        <script src="$requestContext/schema/ab-products/common/views/page-navigation/javascript/ab-pgnav-custom-code-plugin.js"></script>
        <script src="$requestContext/dwr/engine.js"></script>
        <script src="$requestContext/dwr/util.js"></script>
        <script src="$requestContext/dwr/interface/workflow.js"></script>
        <script src="$requestContext/dwr/interface/AdminService.js"></script>
        <script src="$requestContext/dwr/interface/SecurityService.js"></script>
        <script src="$requestContext/dwr/interface/DocumentService.js"></script>
#end
