<!DOCTYPE html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
        <meta charset="UTF-8">
        <title>$windowTitle</title>
        <meta name="description" content="Main page skeleton. Imports CSS and JavaScript, shows banner, and provides tabs' divs. Home and Applications tabs' fragments are inserted into these divs.">
        <meta name="viewport" content="width=device-width">
#if ($isDebug)
#skeletonHeadIncludesDebug ($requestContext)
#else
#skeletonHeadIncludes ($requestContext)
#end
##set ($bannerTitleClickLink = "http://maps.google.com")
#set ($bannerTitleClickLink = $bannerTitleLink)
        <!-- Generated on $generationDate -->
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div class="head-banner-home" id="headBannerHome">
            <div id="banner-logo"><a href="$!bannerTitleClickLink"><span>&nbsp;</span></a></div>
            <div id="bannerMenu">
                <a id="helpLink" rel="eTask" onClick="showHelp();"></a>
                <a id="signOutLink" onClick="doSignOut();"></a>
            </div>
            <div id="searchBox">
                <input id="searchText" type="text" class="search-text" onclick="onSearchBoxSelect(this);" onselect="onSearchBoxSelect(this);" onkeypress="onSearchBoxKeyPress(event);">
            </div>
            <div id="breadCrumbContainer">
                <a id="breadCrumbs" class="bread-crumb-title"><b class="caret"></b></a>
                <div id="breadCrumbContent" class="hovertip" target="breadCrumbs" onMouseUp="breadCrumbSelectChanged(this,event);"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="searchDialog" title="Search"></div>
        <div id="messageDialog" title="Message"></div>
        <div id="reportingDialog" title="Reporting"></div>

        <div id="navigationTabs">
            <ul>
                <!-- Tab name is related to user's role(s) -->
#if ($includeHomeTab)
                <li><a href="#tabPageNavigationHome" id="tabHome" onClick="goHome();"><span id="tabLabelHome">$homeTabTitles.get(0)</span></a></li>
#end
#if ($includeAppTab)
                <li><a href="#tabPageApplications" id="tabApplications" onClick="goApps();"><span id="tabLabelApplication">$appTabTitle</span></a></li>
#end
            </ul>

#if ($includeHomeTab)
            <div id="tabPageNavigationHome">
                <!-- iframe class="task-view" id="taskFrame"> inserted and deleted at runtime </iframe -->
                <!-- quasi-iframe for holding home tab process & task view -->
                <div class="task-view" id="homeTabView"></div>
            </div>
#end
#if ($includeAppTab)
            <div id="tabPageApplications">
                <div id="applicationsViewParent" >
                    <!-- quasi-iframe for holding process & task view -->
                    <div class="task-view" id="applicationsProcessView" ></div>
                    <!-- quasi-iframe for holding application product & application view -->
                    <div class="task-view" id="applicationsTabView" ></div>
                </div>
            </div>
#end
        </div>

        <script>
            var context = {
#if ($includeHomeTab)
                includeHomeTab: $includeHomeTab,
                homeTabTitles: "$homeTabTitles",
                homeTabFileNames: "$homeTabFileNames",
#end
#if ($includeAppTab)
                includeAppTab: $includeAppTab,
                appTabTitle: "$appTabTitle",
#end
                version: "$version",
                locale: "$locale",
                logoutView: "$logoutView",
                systemMgmtHelpLink: "$!systemAdminUrl",
                archibusHelpLink: "$!helpLink",
                userHelpExtension: "$!userHelpExtension"
            };

            $(document).ready(function() {
                $('#navigationTabs').find('a').click(function() {return false;});
                startInitialization();
                });
        </script>
    </body>
</html>