.AbMdx_DimensionColumnHeader {
    width: 10%;
    text-align: right;
}

.AbMdx_MeasureColumn {
    font-weight: normal;
}

.CARating1 {
    cursor: hand;
    background-color: #FF6500;
    text-align: right;
}

.CARating2 {
    cursor: hand;
    background-color: #FF9A00;
    text-align: right;
}

.CARating3 {
    cursor: hand;
    background-color: #FFCF00;
    text-align: right;
}

.CARating4 {
    cursor: hand;
    background-color: #FFFF00;
    text-align: right;
}

.CARating5 {
    cursor: hand;
    background-color: #FFFFCE;
    text-align: right;
}