

.columnReport table {
    border-collapse: collapse;
}

.columnReport td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
	background_color: #0000ff;
    padding: 2px;
    vertical-align: top;
    border-bottom: 1px solid #E5E5E5;
}

.columnReportHeader td {
	background-color: #F0F0F0;
    vertical-align: top;
    white-space: nowrap;
}

.columnReportHeader td.space {
    background-color: #FFFFFF;
}

.columnReportLabel {
    color: #666666;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.columnReportValue{
    vertical-align: top;
	color: #0000ff
}

.columnReportSpacer {
    padding-left: 1em;
    border-bottom: none;
}
