/**
 * @class Ext.field.Checkbox
 */

@mixin checkmark($color: $boston-blue) {
	@extend .x-checkmark-base;
	color: $color;
}

.x-checkmark-base {
	position: absolute;
	top: 0;
	bottom: 0;
    content: '\e60f';
	font-family: 'abicons';
	font-size: 1.8em;
	text-align: right;
	line-height: 1.3em;
}

.x-field-checkbox .x-field-mask,
.x-field-radio .x-field-mask {
	&::after {
		@include checkmark($boston-header-background);
	}
}

.x-input-checkbox,
.x-input-radio {
	visibility: hidden;
}

.x-input-checkbox:checked + .x-field-mask::after {
	color: $boston-blue;
}

.x-item-disabled {
	.x-input-checkbox:checked + .x-field-mask::after {
		color: lighten($boston-blue, 20%);
	}
}

