/**
 * @class Ext.field.Search
 */

.x-field-search {
  .x-field-input {
    position: relative;

    &:before {
      @include absolute-position;
      text-align: center;
      font-family: "abicons";
      content:"\e619";
      font-size:1.2em;
    }

    &:before {
      color: #ccc;
      top: .7em;
      left: .5em;
      right: auto;

      .x-toolbar & {
        top: .3em;
      }
    }

    .x-form-field {
      margin-left: 1em;
    }
  }
}