.scorecardDiv{
	font-family: 'PT Sans' !important;
}

.amcharts-graph-bullet{
  fill: #134A8C;
}

.barPercentContainer .amcharts-guide, .barContainer .amcharts-category-axis path {
  stroke: #134A8C;
}


.amcharts-label, .amcharts-axis-label{
	font-family: 'PT Sans' !important;
}

.amcharts-axis-label tspan{
  transform: translate(-8, 0);
}

.scorecard{
	border-bottom: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
}

.dataRow td:last-child {
	border-right: 1px solid #D4D4D4;  
}

.legendCell{
	width: 200px;	
	min-width: 200px;	
	border-top: 8px solid #F3F7FA;
  border-bottom: 1px solid #ffffff;
}

.empty{
  background-color: #000000;
}

.regionCell{
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000000;
  text-align: center; 
  border-right: 1px solid;
	border-left: 1px solid;	
	border-bottom: 1px solid #000000;
	border-color:transparent;	
}

.typeCell{
  color: #5D798E;
  background-color: #E2E9F2;
  vertical-align: middle;
  text-align: right !important;
  padding-right: 15px;
  border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	width: 150px;	
  height: 120px;
}

.rowLabel{
  font-size: 16px !important;
  font-weight: bold;
}

.rowSubLabel{
  font-size: 16px !important;
  font-weight: bold;
}

.chartCell{
  vertical-align: middle;
  text-align: center;
	border-bottom: 0px solid transparent;
  width: 100px;
  padding-left: 10px;			
  padding-right: 40px;		
  //padding-top: 20px;
  	
  border-right: 1px solid #ffffff !important;
	border-left: 1px solid #ffffff;	
} 

.legendRow .highlighted {
	//border-right: 1px solid #000000;
	//border-left: 1px solid #000000;	
	border-top: 1px none #000000;	
}

.regionRow .highlighted {
  background-color: #4D4D4D !important;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;	
}

.dataRow .highlighted {
	border-right: 1px solid #000000 !important;
	border-left: 1px solid #000000;	
}

.lastDataRow td{
	border-bottom: 1px solid #000000;
	border-color:transparent;
}

.lastDataRow .highlighted {
	border-bottom: 1px solid #000000 !important;
}

.pieContainer, .piePercentContainer, .donutContainer{
  padding-left: 0px !important;
  padding-right: 30px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.barContainer {
  padding-left: 8px !important;
  padding-right: 6px !important;
  height: 130px !important;	
}

.barPercentContainer {
  padding-left: 37px !important;
  padding-right: 20px !important;
  //height: 130px !important;	
}