
#innerDIV { 
	position: absolute; 
	/*border: solid 1px #999; */
	/* set container width slightly bigger than print widths */
	width: 760px; 
	margin: 18px auto 0; 
	margin-left: 15px;
	}
#fullContent {
	width: 100%;
	border-collapse: collapse;
}
.companyLogo {
	height: 84px;
	/*width: 126px;*/
}
.tableFullContent {
	width: 100%; 
	font-size: 10px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}
.tdHeader {
	background-image:url('gradient.png'); 
	background-repeat:repeat-x; 
	font-size: 10px;
	font-weight: bold;
	padding-left: 5px;
	border: 1px solid grey;
}
.tdHeaderSub {
	font-size: 10px;
	font-weight: bold;
}
.tdHzHeader {
	background-image:url('gradient2.png'); 
	background-repeat:repeat-x; 
	font-size: 10px;
	font-weight: bold;
	padding-left: 5px;
	border: 1px solid grey;
}
.tdSpacer {
	height: 10px;
}
.table50Content {
	width: 50%; 
	border-collapse: collapse;
	vertical-align:top;
}
#spacer {
	width: 100%;
	height: 10px;
}
#headerspacer {
	width: 100%;
	height: 5px;
}
.tdheaderspacer {
	display: block;
	height: 5px;
}
.tdSpacerDescNotes {
	height: 4px;
	/*display: none;*/
}
.headerTitle {
	font-size: 14px;
	font-weight: bold;
}
.headerTitleWR {
	font-size: 14px;
	font-weight: bold;
}
.tdHeaderLogoImage {
	width: 150px; 
	text-align: left;
}
.tdCheckListLeftLeft {
	width: 50%;
	border-collapse: collapse;
	vertical-align:top;
}
.tdCheckListLeftRight {
	width: 50%;
	border-collapse: collapse;
	vertical-align:top;
}
.tdCheckListRightLeft {
	width: 35%;
	border-collapse: collapse;
	vertical-align:top;
}
.tdCheckListRightRight {
	width: 65%;
	border-collapse: collapse;
	vertical-align:top;
}
.tdCheckListQuarters {
	width: 25%;
	border-collapse: collapse;
	vertical-align:top;
}
.tdCheckListAddHazardsHeader {
	/*height: 100%*/;
}
.tdCheckListAddHazards {
	height: 100%;
}
.tdCheckListAddHazardsLeft {
	width: 25%;
	border-right: 1px solid grey;
	/*border-bottom: 1px solid grey;*/
}
.tdCheckListAddHazardsMiddle {
	width: 10%;
	/*border-bottom: 1px solid grey;*/
}
.tdCheckListAddHazardsRight {
	width: 65%;
	border-left: 1px solid grey;
	/*border-bottom: 1px solid grey;*/
}
.tableJobCompletion {
	width: 50%; 
	border-collapse: collapse;
	vertical-align:top;
	/*border: 1px solid grey;*/
}
.tableDescribe {
	width: 50%; 
	border-collapse: collapse;
	vertical-align:top;
	/*border-left: 1px solid grey;
	border-top: 1px solid grey;*/
}
.tableMatrixInner {
	height: 100%; 
	width: 100%; 
	border: 1px solid grey;
}
.resourcesHeader {
	padding-left: 3px;
	border-bottom: 2px solid grey;
}
.resourcesData {
	padding-left: 3px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid grey;
}
.resourcesStatData {
	padding-left: 3px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid grey;
	border-top: 3px double black;
}
.page-break { 
	display:none; 
}
.tdMLHeading {
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
.tdHzMessage {
	font-size: 10px;
	font-style: italic;
	padding-left: 5px;
	border: 1px solid grey;
}
.resourceDataLeft {
	border-left: 1px solid grey;
}
.resourceDataRight {
	border-right: 1px solid grey;
}

