.map .queryTooltip {
        background-color: black;
        border: 1px solid #000000;
        border-radius: 4px 4px 4px 4px;
        color: white;
        font-size: 8pt;
		opacity:0.75;
		filter:alpha(opacity=35); /* IE8 and earlier */
		padding: 5px;
        position: absolute;
        /* width: 110px; */
        z-index: 9999;
 }
 
 .map .infowindow {
	background-color: #000000; 
 
 }
 /*
  .map .queryTooltip {
        background-color: white;
        border: 1px solid #7EABCD;
        border-radius: 4px 4px 4px 4px;
        font-size: 8pt;
        padding: 5px;
        position: absolute;
        width: 110px;
        z-index: 9999;
 }
 */