    fieldset {
        margin:20px;
        padding:0 10px 10px;
        border:1px solid #666;
        border-radius:8px;
        box-shadow:0 0 10px #666;
    }
    legend {
        padding:2px 4px;
        background:#fff; /* For better legibility against the box-shadow */
        style:font-size:9pt;color:black;font-weight:bold
    }
