<configuration>
	<fonts>
		<font metrics-file="arialuni.xml" kerning="yes" embed-file="arialuni.TTF">
			<font-triplet name="Arial" style="normal" weight="normal"/>
			<font-triplet name="Arial" style="normal" weight="bold"/>
			<font-triplet name="Arial" style="italic" weight="normal"/>
			<font-triplet name="Arial" style="italic" weight="bold"/>
		</font>
	</fonts>
</configuration>
