/*
Do not add CSS definitions to this file. This file is copied from ../schema/ab-core/css/placement.css
and is overwritten during the build
*/

.edit {
  cursor: pointer;
}

.edit rect {
  fill: #ff0;
  fill-opacity: .5;
  stroke: none;
}

.edit path, .group path {
  fill: #333;
  stroke: none;
}

.clone path, .move path {
  fill: #f6f6f6;
  stroke: #333;
  stroke-width: .5px;
}

.edit circle, .group circle {
  pointer-events: all;
  fill: #f6f6f6;
  stroke: #333;
  stroke-width: .5px;
  cursor: pointer;
}

.edit line {
  stroke: #000;
}

rect.group {
  fill: #f3f3ff;
  fill-opacity: .5;
  stroke-width: .5px;
  stroke: #333;
}

.rotate-angle circle {
  cursor: move;
}
