
.taskday {
    position:relative;
    top:0px;
    width:15px;
    background:blue;
    border-left:1px solid blue;
    border-right:1px solid blue;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    float:left;
    font-size:3pt;  /* fix for ie div height */
 }
.workpkgday {
    position:relative;
    top:0px;
    //width:15px;
    height:5px;
    background:#000000;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    float:left;
    font-size:3pt;  /* fix for ie div height */
}
.day {
    //width:15px;
    background:#C5C5C5;
    border-left:1px dotted #C5C5C5;
    border-right:1px solid #C5C5C5;
    border-top:1px solid #C5C5C5;
    border-bottom:1px solid #C5C5C5;
    float:left;
}

.weekend {
    width:15px;
    border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    background:#acacac;
    position:relative;
    z-index:10;
}

.Weekday {
    width:15px;
    border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    background: #E8E8E8;
    position:relative;
    z-index:10;
}


.weekendFixed {
    width:15px;
    border-left: 1px solid #c0c0c0;
    background:#acacac;
    top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
    position:relative;
    z-index:20;
}

.WeekdayFixed {
	width:15px;
	border-left: 1px solid #c0c0c0;
	background: #E8E8E8;
        top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
        position:relative;
        z-index:20;
}


.daysFixed {
        width:15px;
        border-left: 1px solid #808080;
	background: #003063;
	font-family: Verdana;
	font-weight: bold;
	float:center;
	font-size: 8pt;
	color : White;
	text-align : center;
        top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
        left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
        position:relative;
        z-index:30;
}

.days {
        width:15px;
        border-left: 1px solid #808080;
 	background: #003063;
	font-family: Verdana;
	font-weight: bold;
	float:center;
	font-size: 8pt;
	color : White;
	text-align : center;
        top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
        position:relative;
        z-index:20;
}

.week {
    text-align:center;
    //width:117px;
    border:1px solid #808080;
    background:#ACACAC;
    float:left;
}
.taskpane {
    text-align:center;
    background:#FFFFFF;

}

.error {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:10px;
    color:red;
}

.label {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:9pt;
    color:#000000;
}

.labelsmall {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:7pt;
    color:#ffffff;
    font-weight: bold;
}

.NameItems {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:8pt;
    color:#000000;
    text-align: left;
    left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
    position:relative;
    z-index:20;
}

.NameItemsHeader {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:8pt;
    color:#000000;
    text-align: left;
    font-weight: bold;
    top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
    left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
    position:relative;
    z-index:30;
}

.WeekHeaderFixed {
	background: #669966;
	font-family : Verdana;
	font-weight : bold;
	font-size: 9pt;
	border-bottom:3px solid #000000;
	border-left: 1px solid Gray;
	color:#ffffff;
        top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
        left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
        position:relative;
        z-index:30;
}

.WeekHeader {
	background: #669966;
	font-family : Verdana;
	font-weight : bold;
	font-size: 9pt;
	border-bottom:3px solid #000000;
	border-left: 1px solid Gray;
	color:#ffffff;
        top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-2);
        position:relative;
        z-index:20;
}

.labelsmallbold {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:7pt;
    font-weight:700;
    color:#000000;
}

.message {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:10pt;
    font-weight:700;
    color:#000000;
}

.labelerror {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:8pt;
    font-weight:700;
    color:#000000;
}

.field {
    font-family:Verdana, Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
    font-size:9pt;
    color:red;
}

div#tbl-container {
    width: 100%;
    height: 320px;
    overflow: auto;
    scrollbar-base-color:#f5f5dc;
}
