/**************************************************************************
Style Sheet
o .css file used to format all ARCHIBUS/FM elements.
	MODIFIED (QUICK & DIRTY) FOR IDS IFRAME CONTENT
***************************************************************************/
/*
	html page body and scrolling bar as default 
*/
		body{ 
		background-color:#FFFCF2; /* White-ish: SS 04.13.2005 Change form IDS's warm light beige */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;  
		margin-left: "0";
		margin-right: "0";
		margin-bottom: "0";
		margin-top: "0";
		}
		
/*
   report table in level1: header; backgroup color is deeper than that of high levels 
	padding-left and padding-right are only working when css class for td instead of tr 
*/	
	.AbHeaderTable1 td{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color:#91B3D0; 
		font-weight: bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		vertical-align: bottom ; 
		nowrap:1;
		padding-left: 6; 
		padding-right:6;
		}
/*
     report table in level2: header 
*/
	.AbHeaderTable2 td{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color: #E0E0E8; 
		font-weight: bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		vertical-align: bottom ; 
		nowrap:1;
		padding-left: 6 ; 
		padding-right:6 ;
		}
/*
    report table in level3: header 
*/
	.AbHeaderTable3 td{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color: #EEEEEE; 
		font-weight: bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		vertical-align: bottom ; 
		nowrap:1;
		padding-left: 6 ; 
		padding-right: 6 ;
		}
/*
	printing report table: header 
*/
	.AbHeaderTable_print td{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color: white; 
		font-weight: bold; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		vertical-align: bottom ;
		padding-left: 6 ; 
		padding-right: 6 ;
		}
/*
	report table: data 
*/
	.AbDataTable td{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		vertical-align: middle ;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		padding-left: 6 ; 
		padding-right: 6 ; 
		nowrap:1;
		}
/*
	the report table: data - autoclor row
	background-color is #EEEEEE;
	this class is used for td instead of tr
*/
	.AbDataTableAutocolor{
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		background-color:#EEEEEE; 
		vertical-align: middle ;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		padding-left: 6 ; 
		padding-right: 6 ; 
		nowrap:1;
		}
/*
	printing report table: data
*/
	.AbDataTable_print td{
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color: white; 
		vertical-align: middle ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		padding-left: 6 ; 
		padding-right: 6 ; 
		nowrap:1;
		}
/*
	statistics report: header (td) 
*/
	.AbHeaderRecord{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		background-color: #91B3D0;
		font-weight: bold ; 
		text-align: left ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
/*
	printing statistics report: header (td) 
*/
	.AbHeaderRecord_print{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		background-color: white ; 
		font-weight: bold ; 
		text-align: right ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
/*
	statistics report: data (td)
*/
	.AbDataRecord{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: left ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
/*
	statistics report: data (td)
*/
	.AbDataRecord_print	{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		background-color: white ;
		text-align: left ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
		
/*
	selectV action button 
*/	
	.AbDataRecord_moreInDB_text{
		color:#A51818; /* red */
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		font-weight:bold;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-align: center ;
		vertical-align: top;
	}
	
/*
	statistics report: data (td)
*/
	.AbStatisticData{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
/*
 	printing statistics report: data (td)
*/	
	 .AbStatisticData_print	{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		background-color: white ;
		text-align: right ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
/*
	Styles for action buttons. Redefine link color so the buttons remain unobtrusive.
*/
	.AbActionButton{ 
		background-color: #E0E0E0 ; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px ;  
		}
/*
	default for html url link 
*/
	a{ 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:arial,geneva,helvetica,sans-serif;
		text-decoration:none;
		color:blue; 
		}
	a:hover{ 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:arial,geneva,helvetica,sans-serif;
		color:#A51818; /* red */
		}
/*

*/
	.copyright	{
		font-size: -4 ; /* IDS: CHANGED FROM -3 */
		font-family: Arial  ; 
		font-weight: bold; 
		text-align: center; 
		}
/*
	those classes are designed for tabs in html page
*/
	.content{
    	top: 30px;
       font-family: Arial, sans-serif;
       padding: 8px 12px 12px 12px;
       border: 1px solid #666;
       width: 99%;
       border-top: 1px solid #999;
       border-left: 1px solid #666;
       z-index: 500;
       background-color:  #FAF0E6;
       }
    .content .padder{
       height: 200px;
       }
    div.tabs{
		font-size: 11px ; /* IDS: CHANGED FROM 14 */
       line-height: 15px;
		vertical-align: middle ;
       white-space: nowrap;
       font-family: Arial, sans-serif, Verdana, ;
       cursor: hand;
       font-weight: bold;
       white-space:nowrap;
       z-index: 10000;
     	}
    .tab{
       border-left:1px solid #347; border-right:1px solid #347; border-top:1px solid #347; border-bottom:0px solid #347; vertical-align: middle ;
       background-color: #bcd;
       color: #303036;
       z-index: 100;
       height:25; padding-left:9px; padding-right:9px; padding-top:2px; padding-bottom:1px
       }
    .tabHover {
       background-color: #46596f;
       color:#A51818; /* red */
       z-index: 1200;
       border-bottom-width: 0;
       }
    .tabActive { 
       padding: 3px 9px 3px 9px;
       color: #060610 ;
       background-color:  #FAF0E6;
       z-index: 10000;
       }
    div.tabsClone .tab, div.tabsClone .tabActive {
       border-top-width: 0 !important;
       border-bottom-width: 1px !important;
       }
    div.tabsClone .tabActive{
    	top:-2px;
    	}
/*
	date and time shown in long format in edit form
*/
	.showingDateAndTimeLongFormat{ 
		color:#A51818; /* red */
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}

/*
	input field labels in edit form
*/
	.inputFieldLabel{ 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-align: left ;
		}
/*
	input field labels in edit form: validate(forignkey)
*/
  	.inputFieldLabel_validated{ 
		color: blue;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-align: left ;
		}	
		
/*
    normal inputs without width setting in css 
    multi-values box in edit form
*/
  	.inputField_box{ 
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}
		
	
/*
	 you can use width and height in inputField to control the width and height of html inputs
    normal inputs without special requirements 
*/
  	.inputField{ 
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		width:150;
		height:20;
		}
		
/*
	 control html form inputs in login form: you can use width and height in inputField to control the width and height of html inputs
    normal inputs without special requirements 
*/
  	.login_inputField{ 
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		width:250;
		height:20;
		}		
/*
	the memo fields in default edit forms 
	you can use width and height to control the width and height of html textarea inputs  
*/	
		.defaultEditForm_textareaABData{ 
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		height:50;
		width:350;
		}
/*
	the memo fields in customed edit forms 
	you can use width and height to control the width and height of html textarea inputs  
*/	
		.textareaABData{ 
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}
/*
	the select lists in "Set Visible Fields", "Set Sot", and "Set Statistics" Forms in "Alter View Form"
	you can use width and height to control the width and height of html select inputs 
*/
		.selectListWithWidth{ 
		width:275;
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}
		
/*
	select value action buttons in edit and alter forms
*/		
	 .selectValue_AbActionButtonFormStdWidth	{
		cursor:hand; background-color: #E0E0E0 ;  
		border: border-style; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		vertical-align: middle ;
	   border-style: outset ; 
	   border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
	   font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
	   height:18;
	   padding: 0;
	   } 		
/*
	all html form standard action buttons in edit and alter forms
*/		
	 .AbActionButtonFormStdWidth	{
		cursor:hand; background-color: #E0E0E0 ;  
		border: border-style; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		vertical-align: middle ;
	   border-style: outset ; 
	   border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
	   font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
	   padding: 0;
	   }    
/*
	all html form standard action buttons in edit and alter forms
*/	
	.AbActionButtonForm a:link{
		background-color: #E0E0E0; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:black;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 

		}

	.AbActionButtonForm a:visited{
		background-color: #E0E0E0; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:black;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 

		}

	.AbActionButtonForm a:hover{ 
		background-color:  #E0E0E0;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:black;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
		
		
		/*
	all html form standard action buttons in edit and alter forms
*/	
.AbActionButtonFormActive a{
		background-color: #A51818; /* red */
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:white;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 

		}

	.AbActionButtonFormActive a:link{
		background-color: #A51818; /* red */
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:white;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 

		}

	.AbActionButtonFormActive a:visited{
		background-color: #A51818; /* red */
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:wite;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 

		}

	.AbActionButtonFormActive a:hover{ 
		background-color:  #A51818; /* red */
		font-size: 9 ; /* IDS: CHANGED FROM 12 */ 
		color:white;
		vertical-align: middle ;
		border-style: solid ; 
		border-width: 1px 2px 2px 1px ;  
		border-color: #91B3D0 #000000 #000000 #91B3D0 ;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		text-decoration: none ;
		text-align: center ;
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
/*
	the table to show the title of each tgrp with logo
*/
	.showingTgrpTitleTableWithLogo{
		margin-left: 3;
		margin-right: 0;
		vertical-align: top;
    	}
    .showingTgrpTitleTableWithLogo td{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-weight: bold;
		font-family: arial,geneva,helvetica,sans-serif;
		}   
		
/*
	the table to show the title of each tgrp without logo
*/
	.showingTgrpTitleTable{
		width:100%;
		margin-left: 3;
		margin-right: 0;
		vertical-align: top;
    	}

	.showingTgrpTitleTable td{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-weight: bold;
		font-family: arial,geneva,helvetica,sans-serif;
		}
		
/*		
 	requery action 
*/		
	.showingTgrpTitleTable a{
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		font-family: arial,geneva,helvetica,sans-serif;
		color:blue;
		}
	.showingTgrpTitleTable a:hover{
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		font-family: arial,geneva,helvetica,sans-serif;
		color:#A51818; /* red */
		}



/*
	 the data rows in report table
*/	

	.alterViewTopFrame{
		background-color:#FFFFCE; 
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		}
/*
	view title in alter view top frame
*/
	.alterViewTopFrameTitle{
		font-size: 11px ; /* IDS: CHANGED FROM 14 */
		font-weight:bold;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}
/*
	action separator | in alter view top frame
*/
	.alterViewTopFrameAction_separator{
		color:black;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}

	.alterViewTopFrameAction{
		color:black;
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}

	.alterViewTopFrameAction a{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:blue;
		}
		
	.alterViewTopFrameAction a:link{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:blue;
		}

	.alterViewTopFrameAction a:hover{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}
		
/*
	action separator | in alter view top frame
*/
	.alterViewTopFrameAction_active{
		color:#A51818; /* red */
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}

	.alterViewTopFrameAction_active a{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}

	.alterViewTopFrameAction_active a:hover{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}

/*
	main toolbar frame
*/
	.mainToolbar{
		background-color:#507093; 
		margin-left: "0";
		margin-right: "0";
		margin-bottom: "0";
		margin-top: "0";
	 }
/*
	home link in  main toolbar frame
*/
	.mainToolbarHomeLink a{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:white;
		}

	.mainToolbarHomeLink a:hover{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}
/*
	action separator | in  main toolbar frame 
*/
	.mainToolbarAction_separator{
		color:white;
		font-size: 11px ; /* IDS: CHANGED FROM 14 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}

	.mainToolbarAction{
		color:white;
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}
	.mainToolbarAction a{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:white;
		}
	.mainToolbarAction a:hover{
		font-size: 8 ; /* IDS: CHANGED FROM 11 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}
/*
	leaf nodes in navigator tree  and selectV tree
*/
	.treeLeafNodeTitles a{
		padding-right: 12 ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:blue;
		}

	.treeLeafNodeTitles a:hover{
		padding-right: 12 ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}
		
/*
	owner nodes in navigator tree and selectV tree
*/
	.treeParentNodeTitles {
	   padding-right: 12 ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: top;
		text-align: left;	
		font-weight:bold;
		text-decoration:none;
	}
	
	A.treeParentNodeTitles:link {
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: top;
		text-align: left;	
		font-weight:bold;
		text-decoration:none;
		color:blue;
	}
  A.treeParentNodeTitles:hover{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: top;
		text-align: left;	
		font-weight:bold;
		text-decoration:none;
		color:#A51818; /* red */
	}

/*
	nodes in alter view tree
*/
	.alterViewTreeNodeTitles a{
		font-weight:bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:blue;
		}

	.alterViewTreeNodeTitles a:hover{
		font-weight:bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
		}
/*
	bottom actions in the bottom of alter view forms and edit form
*/
	.bottomActionsTable{
		background-color: #669966; 
		margin-right:0;
		border-top:outset black;
		border-bottom:outset black;
		vertical-align: middle ;
		text-align: center;	
		width: 100%;		
		}
/*
	top table in select value window, and login form
*/
	.topTitleBarTable{
		width:100%;
		margin-right:0;
		background-color:#669966;
		border-bottom:outset black;
		vertical-align: middle ;
		text-align: center;	
		width: 100%;
		}
/*
	the title of top table in select value window, and login form
*/
	.topTitleBarTableTitle{
		font-size: 12 ; /* IDS: CHANGED FROM 16 */
		font-weight:bold;
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: top ;
		text-align: left;	
		color:white;
		}
		
		.topTitleBarTableTitle_small{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: middle ;
		text-align: left;	
		color:white;
		}

/*
	following classes are designed for calendar
	xxxxx_s is for small size
*/
	.calendarTable{
		vertical-align: top ;
		border-width:1px;
		border-color:black;
		border-style:solid;
		cellspacing:0;
		text-align:center;
		}
	.calendarTableDays{
		background-color:blue;
		border-width:1px;
		border-color:black;
		border-style:solid;
		}
	.calendarTableDays td{
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		color:white; 
		text-decoration:none;
		text-align: center;	
		}
	.calendarTableDays_s td{
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		color:white; 
		text-decoration:none;
		text-align: center;	
		}
	.calendar A{
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-weight: bold;
		color:white; 
		text-decoration:none;
		text-align: center;	
		}
	.calendar A:hover{
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-weight: bold;
		color:white; 
		text-decoration:none;
		text-align: center;	
		}
	.calendar_s A{
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		color:white; 
		text-decoration:none;
		text-align: center;	
		}
	.calendar_s A:hover{
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		color:white; 
		text-decoration:none;
		text-align: center;	
		}
	.calendarTop{
		border-width:1px;
		border-color:black;
		border-style:solid;
		width:100%;
		}
	.calendarmmyyyyA{
		color:white;
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		font-weight:bold;
		}
	.calendarmmyyyyA_s{
		color:white;
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ; 
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		}

	.calendarmmyyyyB{
		background-color:gray;
		color:white;
		border-width:1px;
		border-color:black;
		border-style:solid	
		}
	.calendarPN{
		background-color:gray;
		color:#E0E0E0;
		border-width:1px;
		border-color:black;
		border-style:solid;
		cursor:hand;
		}
	.calendarContainerTable{
		border-width:1px;
		border-color:white;
		border-style:solid;
		vertical-align: top ;
	}
/*
	the legend titles in alter forms 
*/
	.legendTitle{
		font-weight:bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: top ;
		text-align: left;	
		nowrap:1;
		color:blue;
		}
/*
	the contents in alter forms
*/
	.legendContent{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: middle ;
		text-align: left;	
		nowrap:1;
		}
/*

*/
	.columnReportContent{
		border-left:0px none; border-right:0px none; border-bottom:0px none; width: 100%;
		cellspacing:0;
		border-top:medium outset black;
	}
/*

*/
	.cursorSelector{
		cursor:hand;
	}
/*
	navigator-one-level
*/
	.nav_body{
		background-color:#507093;
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;  
		margin-left: "0";
		margin-right: "0";
		margin-bottom: "0";
		margin-top: "0";
	}
	.nav_top_bar_table{
		background-color:#669966;
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
		vertical-align: top ;
		border-bottom:outset black;
		width:100%;	
	}
	.nav_top_bar_table_text{
		color:white;
		font-size: 13 ; /* IDS: CHANGED FROM 17 */
		font-family:"Arial", "Geneva", "Verdana", "Helvetica", sans-serif ;	
		vertical-align: top;
		text-align: left;	
		font-weight:bold;
		text-decoration:none;
	}
	.nav_parents_table{
		border-bottom:outset black;
		background-color:#003063;
		nowrap:1;
		width: 100%;
		text-align: left;	
	}
	.nav_ParentNodeTitles{
		color:white;
		font-weight:bold;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none;
	}
	.nav_ParentNodeTitles_link{
		color:white;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none;
		
	}
	/*lable title*/
	.nav_leafNodeTitles{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:white;
	}

	.nav_leafNodeTitles a{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:white;
	}
	.nav_leafNodeTitles a:hover{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
	}
/*
	solution explorer 
*/	
	.explorer_leafNodeTitles a{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:blue;
	}
	
	.explorer_leafNodeTitles a:hover{
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		text-decoration:none; 
		color:#A51818; /* red */
	}

/*
	showing instructions
*/
	.instruction{
		color:#A51818; /* red */
		font-size: 8 ; /* IDS: CHANGED FROM 10 */
		font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;	
	}
/*
	room reserve - console: select fields
*/
	.rm_reserve_select_field{ 
		width:178;
		background-color: #ffffff;
		font-size: 9 ; /* IDS: CHANGED FROM 12 */
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		}
		
/*
mdx: data

IDS: CHANGED FROM 12 

.MDX_AbDataRecord{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 9 ; 
		padding-left: 6 ; 
		padding-right: 6 ; 
		}
*/

/*
Section Added SS: 04.13.2005.  Updated classes for v15.1 r01.005 and later.
mdx: data
C6D7C5 lt green

FFF6CF	lt yellow
FFEB9C	dk yellow
E2F3E1	lt green
C6D7C5	dk green
C3DDF4	lt blue
91B3CF	dk slate blue

*/
.AbMdx_DimensionNames{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color:#91B3D0;  /* slate */
		font-weight: bold;
		font-size: 8 ; 
		vertical-align: middle ; 
		nowrap:1;
		padding-left: 2; 
		padding-right:2;
		text-align: center ;
	}
	
.AbMdx_TotalCellHeader{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color:#C3DDF4; /* lt blue */
		font-weight: bold;
		font-size: 8 ; 
		vertical-align: middle ; 
		nowrap:1;
		padding-left: 2; 
		padding-right:2;
		text-align: left ;
		color:black;
	}

.AbMdx_TotalCellHeader a{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color:#99CCFF; /* blue */
		font-weight: bold;
		font-size: 8 ; 
		vertical-align: middle ; 
		nowrap:1;
		padding-left: 2; 
		padding-right:2;
		text-align: left ;
		color:black;
		text-decoration: underline;

}

.AbMdx_TotalCellHeader a:hover{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color:#99CCFF;  /* blue */
		font-weight: bold;
		font-size: 8 ; 
		vertical-align: middle ; 
		nowrap:1;
		padding-left: 2; 
		padding-right:2;
		text-align: left ;
		text-decoration: underline; 
		color:red;
}

.AbMdx_SubTotalRowData {
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#E2F3E1; /* lt green */
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		white-space:nowrap;
}

.AbMdx_SubTotalRowData a{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFFFCC; /* yellow */
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2; 
		padding-right: 2 ; 
		text-decoration: underline; 
		white-space:nowrap;
}

.AbMdx_SubTotalRowData a:hover{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFFFCC;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		text-decoration: underline; 
		color:red;
		white-space:nowrap;
}

.AbMdx_SubTotalColumnData {
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFF5D1; /* lt yellow  */
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		white-space:nowrap;
}

.AbMdx_SubTotalColumnData a{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFFFCC;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2; 
		padding-right: 2 ; 
		text-decoration: underline; 
		white-space:nowrap;
}

.AbMdx_SubTotalColumnData a:hover{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFFFCC;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		text-decoration: underline; 
		color:red;
		white-space:nowrap;
}

/*
  
*/
.AbMdx_TotalCellData{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#C3DDF4; /* lt blue */
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		white-space:nowrap;

}
.AbMdx_TotalCellData a{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFCC99;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		text-decoration: underline; 
		white-space:nowrap;
}

.AbMdx_TotalCellData a:hover{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFCC99;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		text-decoration: underline; 
		color:red;
		white-space:nowrap;
}

.AbMdx_DimensionColumnHeader{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#FFEB9C; 
		vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		font-weight: bold;
}

.AbMdx_DimensionColumnHeader a{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#91B3CF;  /* slate blue */
		vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		font-weight: bold;
		text-decoration: underline;
}

.AbMdx_DimensionColumnHeader a:hover{
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	background-color:#00FFFF; 
		vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		text-decoration: underline; 
		color:#A51818; /* red */
	    font-weight: bold;
}


.AbMdx_DimensionRowHeader{
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	    background-color:#C6D7C5;  /* dk green */
		vertical-align: middle ; 
		text-align: left ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		color:black;
		font-weight: bold;
}

.AbMdx_DimensionRowHeader a{
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		color:black;
		font-weight: bold;
		text-decoration: underline;
}

.AbMdx_DimensionRowHeader a:hover{
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
				vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		color:red;
		font-weight: bold;
		text-decoration: underline;
}


.AbMdx_MeasureCellData{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2; 
		padding-right: 2 ; 
		white-space:nowrap;
	}
		
.AbMdx_MeasureCellData a{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right:2 ; 
		text-decoration: underline;
		white-space:nowrap;
	}
		
.AbMdx_MeasureCellData a:hover{ 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		vertical-align: middle ; 
		text-align: right ; 
		font-size: 8 ; 
		padding-left: 2; 
		padding-right: 2 ; 
		text-decoration: underline;
		color:red;
		white-space:nowrap;
	}
		
.AbMdx_MeasureName{
	   font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	    background-color:#C3DDF4;  /* lt blue */
		vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		font-weight: bold;	
}

.AbMdx_MeasureColumn {
	   font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	    background-color:#C6D7C5;  /* dk green */
		vertical-align: middle ; 
		text-align: center ; 
		font-size: 8 ; 
		padding-left: 2 ; 
		padding-right: 2 ; 
		font-weight: bold;	
}