@import url("/archibus/schema/ab-system/style/ab-ex-tabs.css");
@import url("/archibus/schema/ab-system/style/abcascadingstylesheet-slate.css");

.dojoDialog {
	background : #eee;
	border : 1px solid #999; 
	padding: 4px;
	font-size: 11px;
}

.dojoDialog > td {
	font-size: 11px;
}

.dialog {
	display: none;
	z-index: 99;
	position: absolute;
	top: 100px;
    left: 200px;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    background-color:#CCC;
	padding: 10px;
	font-size: 11px;
}

.dialog table tr td { 
	font-size: 13px;
}

form {
	margin-bottom : 0;
}

div.statusHeader {
	color: #666;
	background : #CDE;
	border: solid 1px #CCF;
	margin-top: 10px;	
	margin-left: 20px;		
	height: 20px;		
	padding:3px;
	width: 750px;
}
div.statusHeader div {
	float: right; display: block;
}

div.statusContainer {
	background : #FFF;
	padding: 5px;
	border: solid 1px #CCF;
	border-top: none;
	margin-bottom: 10px;
	height: 80px;
	margin-left: 20px;
	overflow: auto;		
	width: 750px;	
}

div.panelHeader {							
	padding: 5px;
}

li div {
	float: right; display: block;
}

li table tr td {
	font-size: 11px; 
	color: #333;
}

li {
	color: #666; 
	background : #EEE; 
	margin-top: 5px;	
	padding: 3px;
	list-style: none;
	height: 18px;
	width: 700px;
	border: 1px solid #999;
}

.step table tr td {
	font-size: 11px;
}

.txt {
	font-size: 11px;
}


.step div {
	float: right; display: block;
}

.buttons { 
    float: right; display: block; width: 50px;	 
}