.dialog {
	position: absolute;
	background-color: #FFF;
	border: 1px solid #336;
	display: none;
	width: 525px;
}	

.dialog div.hd {
	background-color: #36C;
	color: #FFF;
	line-height: 20px;
	padding-left: 4px; 
	height: 20px;
	font-size: 12px;
	font-weight: bold;
}

.dialog td {
	font-size: 11px;
	color: #333;
}

form {
	margin-bottom : 0;
}

div.statusHeader {
	color: #666;
	background : #CDE;
	border: solid 1px #CCF;
	margin-top: 10px;	
	margin-left: 20px;	
	margin-right: 20px;			
	height: 20px;		
	padding: 3px;
	width: 900px;
}
div.statusHeader div {
	float: right; display: block;
	font-size: 12px;
}

div.statusContainer {
	background : #FFF;
	padding: 5px;
	border: solid 1px #CCF;
	border-top: none;
	margin-bottom: 10px;
	height: 80px;
	margin-left: 20px;
	margin-right: 20px;		
	overflow: auto;		
	width: 900px;
}

div.panelHeader {							
	padding: 5px;
}			

ul {
	margin: 2px;
	padding: 0px;
}

li div {
	float: right; display: block;
}


li {
	color: #666; 
	background : #EEE; 
	margin-top: 4px;	
	padding: 0px;
	list-style: none;
	height: 26px;
	width: 700px;
	border: 1px solid #999;
}

li table tr td {
	font-size: 11px; 
	color: #333; 
}			

.step table tr td {
	font-size: 11px;
}

.txt {
	font-size: 11px;
}


.step div {
	float: right; display: block;
}

.buttons { 
    float: right; display: block; width: 50px;	 
}

.subtab {
	float: left; display: block; width: 150px;	
	cursor: pointer;
	font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
	font-size: 12px;
	background-image: url(/archibus/schema/ab-system/graphics/ab-slate-gradient-yaltatabs.png);
	background-repeat: repeat-x;
	padding-right: 16px;
	letter-spacing: 1px;
	white-space: nowrap;
    line-height: 25px;
	text-align: center;
	font-weight: normal;
	color: #FFFFFF;
	height: 27px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: -6px !important; /* Firefox */
	border-right: 1px solid #E1ECEA;	
}

.subtab_selected {
	float: left; display: block; width: 150px;	
	cursor: pointer; 
	font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
	font-size: 12px;
	height: 27px;
	background-image: url(/archibus/schema/ab-system/graphics/ab-slate-gradient-yaltatabs-selected.png);
	background-repeat: repeat-x;
	padding-right: 16px;
	letter-spacing: 1px;
	white-space: nowrap;				 
	text-align: center;
	font-weight: normal; 
	color: #000; 
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: -6px !important; /* Firefox */
	border-right: 1px solid #E1ECEA;	 
}
	 

#subtab_container {
	position: absolute;
	display: block;		
	height: 27px; 
	line-height: 27px;
	width: 100%;
	background-image: url(/archibus/schema/ab-system/graphics/ab-slate-gradient-yaltatabs.png);
	background-repeat: repeat-x;
	padding: 0px;
}