		
/*
	
*/
	body{ 
	margin: 0px;
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
	
	.AbDataTable {
	width:100%;
	background-color: #F3F7FA;
	border-bottom: 2px solid #F3F7FA;
	}
	
	.AbDataTable_tight {
	width:100%;
	background-color: #F3F7FA;
	border-bottom: 0px solid #F3F7FA;
	}
	
	.AbDataTable td{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: top;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 2px;
	white-space: nowrap;
	border-bottom: 2px solid #F3F7FA;
	}
	
	.AbDataTable_tight td{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 2px;
	white-space: nowrap;
	border-bottom: 0px solid #F3F7FA;
	}
	
	.AbDataTable_wrap td{
	white-space: normal;
	}

	.AbTableHeader { 
	width: 100%;
	height: 24px;
	border-collapse: collapse;
	}
	
	.AbTableHeader td{ 
	background-color: #D2D2DA; 
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif ;
	padding-left: 12px;
	letter-spacing: 1px;
	color: #000000;
	vertical-align: middle;
	white-space: nowrap;
	border:0;
	}	
	
	.AbTableHeader hr {
	width: 2px;
	height: 16px;
	border-left: 1px solid #828D8C;
	border-right: 1px solid #E1ECEA;
	display: inline;
	position: absolute !important; top: -6px !important; left: 0px !important;
	position: absolute; top: 0px; left: 0px;
	}	
		
	.buttonAction {

		}
	.buttonWorkflowAction {
		color: darkgreen; 
		/*background-color:C9F7B4;*/
		}
	.buttonFormAction {
		color: darkblue; 
		/*background-color:C9F7B4;*/
		}
	.buttonFieldFormAction {
		color: darkblue; 
		height:20px;
		font-size: 12px;
		padding: 0;
		/*background-color:C9F7B4;*/
		}
	
	.inputField {	
		font-size: 11px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
		width: 150px;
		height: 20px;
		padding-top: 2px;
		padding-bottom: 1px;
		}
	
	.inputFieldLabel { 
		padding-top: 5px;
		padding-left: 11px;
		font-size: 11px;
		background-color: #FFFFFF; 
		color: #666666;
		text-align: right;
		}

	.inputFieldLabel_validated {
		padding-top: 5px;
		padding-left: 11px;
		font-size: 11px;
		text-align: right; 
		background-color: #FFFFFF; 
		color: #000080;
		}

	.inputFieldLabel_noBackground {
		padding-top: 5px;
		padding-left: 11px;
		text-align: right; 
		border-style:solid;
		border-color:#FFFCF2;
		}
		
	.AbHeaderRecord{ 
		background-color:#eeeeee;
		border-style:solid;
		border-color:#FFFCF2;
		vertical-align: middle ; 
		font-weight: normal; 
		text-align: left ; 
		font-size: 12 ; 	
		padding-right: 6 ; 
		}
		
	.selectValue_Button{
		position: relative; left: -1px; top: 6px !important;
		position: relative; left: -1px; top: 4px;
		margin-right: 4px;
		margin-top: -4px;
		}
		
	.selectValue_AbActionButtonFormStdWidth {
		vertical-align:top;
		}
  