.esTree-dragging {
    outline: dashed 1px #0000ff;
}

.esTree-hover {
    /*  background-color: #ffde8e; */

}

.esTree-line {
    border-bottom: 4px solid #5B9BD5;
}

.esTree-onNode {
    background-color: #FFFF99;
    outline: dashed 1px #5B9BD5;
}

.separator {
    height: 4px;
    width: 100%;
}

.nodeLabel {
    display: inline-table;
}

.label.color_System {
    color: blue;
}

.label.color_Assembly {
    color: green;
}

.label.color_Component {
    color: red;
}