.AbPMConsoleTabTable td { 
		font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
		background-color: #EEEEEE; 
		font-weight: bold;
		font-size: 12 ; 
		vertical-align: middle ; 
		nowrap:1;
		padding-left: 6 ; 
		padding-right: 6 ;
}

.AbPMConsoleBtn {
	background-color: transparent;
	font-size: 8pt;
	/*  width: 175px;  */
	width: 100%;
	white-space: nowrap;	
}

.AbPMConsoleBtn_active {
	background-color: #E3E3C3;
	font-size: 8pt;
	/*  width: 175px;  */
	width: 100%;
	white-space: nowrap; 
}

.AbPMConsoleBtnCommon {
	background-color: #C6D7C5;
	font-size: 8pt;
	/*  width: 175px;  */
	width: 100%;
	white-space: nowrap;
}

.AbPMConsoleMenuTable td a { 
 color: Black; 
 background-color: #D2E4FC;
 width: 175px;  
 text-decoration: none; 
 padding: 2px; 
 border-collapse: collapse; 
 border: 1px solid Black; 
} 


.AbPMConsoleMenuTable td a:hover { 
 color: #336699; 
 background-color: White; 
 border: 1px solid #FF9900; 
} 

.AbPMConsoleTab_active { 
 color: #336699; 
 background-color: White; 
 border: 1px solid #FF9900; 
} 

.AbPMButtonTable {
	background-color: #D2E4FC;
	width: 100%;
} 

.AbPMButtonTable td { 
	color: Black; 
	width: 20%;
	padding: 1px;
	border: 0;
} 
