
#modeContainer {
    background: black;
    border: 4px solid black;
}
.mode {
    background-color: black;
    height: 55px;
    width: 50%;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    cursor: pointer;
    text-align: left;
    text-indent: 50px;
    position: relative;
}
.spaceMode {
    border-right: 4px solid black;
}

.spaceMode .label, 
.employeeMode .label {
    color: white;
    opacity: 0.7;
    margin-left: 40px;
    padding-top: 10px;
    height: 30px;
}

.spaceMode .label {
    background: url('img/space-white.png') no-repeat;
    white-space: nowrap
}

.employeeMode .label {
    background: url('img/employee-white.png') no-repeat;
    white-space: nowrap
}

.spaceMode.selected .label,
.employeeMode.selected .label {
    opacity: 1.0;
}

.modeSelectedIndicator {
    visibility: hidden;
    z-index: 100;
    position: absolute;
    bottom: -4px;
    left: 43%;
    width: 24px;
    height: 10px;
    background: url('img/mode-triangle.png') no-repeat;
}

.spaceMode.selected .modeSelectedIndicator, 
.employeeMode.selected .modeSelectedIndicator {
    visibility: visible;
}

.spaceMode:hover, .spaceMode.selected,
.employeeMode:hover, .employeeMode.selected {
    background: #858b93; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1OGI5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjMxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #858b93 0%, #2f3134 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858b93), color-stop(100%,#2f3134)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #858b93 0%,#2f3134 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #858b93 0%,#2f3134 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #858b93 0%,#2f3134 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #858b93 0%,#2f3134 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858b93', endColorstr='#2f3134',GradientType=0 ); /* IE6-8 */
}

.spanWrap {
	word-break: normal; 
	display: block; 
	white-space: pre-wrap;
	word-wrap: break-word ;
}


