$include-pictos-font: false;
$include-default-icons: false;

@import 'sencha-touch/boston';
@import 'sencha-touch/boston/all';
@import 'mobileclient/shared';
@import 'mobileclient/component';
@import 'mobileclient/svg';


.list-element-right {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: end;
  -webkit-box-pack: end;

  .text-element {
    font-size: 1em;
    color: $boston-blue;
    text-align: right;
    -webkit-box-flex: 1;
    font-weight: bold;
  }

  .dot-unknown {
    color: #61C0C0;
  }

  .dot-not-listed {
    color: #69FF69;
  }

  .dot-hazardous {
    color: #FFAD69;
  }

  .dot-extremly-hazardous {
    color: #FF6969;
  }
}

.ab-list-item-button {
  .x-button-icon {

    display: block;
    width: 2em;
    height: 2em;
    margin: 0 auto;

    &:before {
      font-size: 1.8em;
      line-height: 1em;
    }
  }
}

// this class is used for list items iocn buttons and also for toolbar buttons
.x-button-icon-green {
  .x-button-icon {
    color: #088A08;
  }
}

.button-item {
  border: 1px solid $boston-searchbar-border !important;
  background-color: transparent;
  max-width: 20em;
}