.redlineColorRed {
	height: 20px; 
	width: 10%; 
	background-color: red;
}

.redlineColorBlack {
    height: 20px; 
    width: 10%; 
    background-color: black;
}

.redlineScaleText {
    color: #336699;
    display: inline-block;
    font-family: PT Sans,Verdana,Arial,Helvetica,sans-serif;
    font-size: 6px;
    padding-top: 5px;
}
