/**
 * Common report CSS for rplm\pfolio-admin\docsandcontacts reports
 */
.groupheader {
    width: 100%;
    color: #000000;
    padding-left: 6px;
    padding-right: 18px;
    text-align: left;
    font-size: 20px;
    cursor: auto;
    background-color: #99BBE8;
}
.groupheader td {
    padding: 4px;
}
.groupheader td u {
    text-decoration: none;
}
