/* HTML classes for operation templates. */

.exWorkflowForm {
    float: left;
    padding-left: 10px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    background: url("img/down-orange-long-arrow.png") no-repeat 40px 75px;
	width: 160px;
}

.exWorkflowForm h3 {
    color: #E47505;
    font-weight: bold;
}

.exOptionalWorkflowForm {
    float: left;
    padding-left: 10px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    width: 160px;
}

.exOptionalWorkflowForm h3 {
    color: #E47505;
    font-weight: bold;
}

.exWorkflowStep {
    padding: 4px;
}

.exWorkflowStep a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 2px;
    color: black
}

.exPmWorkflowStep a {
    font-size: 14px;
    display: block;
    padding: 2px;
    color: black
}

.exWorkflowActions {
    padding-bottom: 4px;
    background: url("img/down-gray-arrow.png") no-repeat 8px bottom;
}

.exWorkflowActions a {
	color: #777777;
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    padding-left: 24px;
    background: url("img/down-gray-arrow-shaft.png") repeat-y 8px;
}

.exWorkflowActionsDash {
    padding-bottom: 4px;
}

.exWorkflowActionsDash a {
    color: #777777;
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    padding-left: 24px;
}

.exListItem {
    width: 680px;
    background: #F3F7FA;
    border: 1px solid #99BBE8;
    border-radius: 5px;
    padding: 2px 20px 2px 8px;
    margin-bottom: 4px;
    font-size: 16px;
}

.exListItem a {
    display: inline-block;
    float: right;
    position: relative;
    right: -14px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Firefox only */
@-moz-document url-prefix() {
   .exListItem a {
        display: inline-block;
        float: right;
        position: relative;
        right: -14px;
        top: -18px;
        width: 16px;
        height: 16px;
    }
 }

a.exListItemEdit {
    background: url(../../../../../ab-core/graphics/icons/view/edit.png) no-repeat;
}

a.exListItemDelete {
    background: url(../../../../../ab-core/graphics/icons/view/delete.png) no-repeat;
}

a.exListItemDown {
    background: url(../../../../../ab-core/graphics/icons/view/arrow-down.png) no-repeat;
}

a.exListItemUp {
    background: url(../../../../../ab-core/graphics/icons/view/arrow-up.png) no-repeat;
}

.prioritySelected {
    color: #E47505;
    font-weight: bold!important;
    font-size:20px!important;
}
