.rm_reserve_information {
	color: blue;
	font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
	text-align: left;
}

 .rm_reserve_center_information {
	color: #000000;
    font-size:12px;
    font-family:"Verdana", "Geneva", "Arial", "Helvetica", sans-serif ;
    text-align: center;
    font-weight: bold;
}