.stackContainer {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.stackContainer td{
  vertical-align: top;
}

.axis .x path, .axis .x line {
  fill: none;
  shape-rendering: crispEdges;
}

.indicator {
  fill: #00000;
  stroke: #000000;
}

.highlight {
  stroke: orange;
}

.labelLarge {
  font-weight: bold;
}

.shadow {
  -webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,.7) );
  filter: drop-shadow( 5px 5px 5px rgba(0,0,0,.7) );
}

.d3-tip {
  font-family: Arial;
  font-size: 11px;	
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  color: #000;
  border: 1px;  
  border-style: solid;
  //color: #fff;
  //background: rgba(0, 0, 0, 0.8);
  //background: rgba(255, 255, 255, 0.3);
  background-color:rgba(192,192,192,0.8);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  //color: red;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.graph text {
	font-weight: bold;
}	
.stackProfile {
	font-family: Arial;
	font-size: 12px;
  vertical-align: top;
}

.stackProfile td {
  padding-left: 5px;
  padding-top: 5px;
}

.stackProfileTD {
  background: #D1E0FF;
}

.horizontal .profileImageTD{
  width: 30%;
}

.vertical .profileImageTD{
  width: 50px;
  padding-left: 43px;
}

.stackProfile img{
  width: 100%;
}

.vertical .stackProfile img{
  //height: 55%;
  height: 50px;
  width: 50px;
}

.stackProfile .name, .address, .use {
  font-size: 11px;
  color: #537ac0;
}

.stackProfile .name {
  font-size: 12px;
  font-weight: bold;
  fill: #537ac0;
}

.stackProfile .statisticsBl {
  font-size: 11px;
  color: #ED7842;
  //font-weight: bold;
}

.vertical .statisticsBlTd {
  text-align: right;
  padding-right: 18px;
}

#console {
  font-family: Arial;
  font-size: 12px;
  background: #D1E0FF;
  border: #2952CC 2px;
  opacity: .8;
  overflow: auto;
}

#console td{
  padding-left: 10px;
  padding-right: 10px;
}

.sepia {
  -webkit-filter: sepia(100%);	
  -ms-filter: sepia(100%);
  -filter: sepia(100%);
}

.selected rect{
  fill-opacity: 0;
  stroke: red;
  stroke-dasharray: 1;
}

.selected text{
  fill-opacity: 0;
}

.statistics {
  fill: #537ac0;
}

/*
.graph-rect {
	stroke-width: 1px;
	stroke: white;
}
*/

.vertical .collapse {
	width: 150px;
	height: 6px;
	cursor: pointer;
	background: url('../../graphics/split-handle-h.png');
}

.horizontal .collapse {
	width: 6px;
	height: 150px;
	cursor: pointer;
	background: url('../../graphics/split-handle-h.png');	
}

.vertical .expand {
	cursor: pointer;
	width: 35px ;
	height: 5px ;
	background: url('../../libraries/ext/resources/images/default/layout/mini-bottom.gif');
}

.horizontal .expand {
	cursor: pointer;
	width: 5px;
	height: 35px;
	background: url('../../libraries/ext/resources/images/default/layout/mini-right.gif');
}

.available text {
  font-weight: normal;
  fill: gray;
}

.available rect {
  fill: #CBE9EA;
}

.guide rect, .curtail rect, .roof rect, .roof-guide rect{
  fill: #ffffff;
  //fill: #F3F7FA;
}

.curtail-roof, .curtail{
  opacity: 0;
}

.default-highlight{
  stroke: #000000;
  stroke-width: 2px;
}