/**
 * Styles for Capital and Expense Matrix control.
 */

.textTitleHeader {
    font-size: 18px;
    font-weight: bold;
}
.textValueHeader, .textValueAnalyticBox {
    font-size: 28px;
}
.textAdditionalInfoHeader {
    font-size: 13px;
}
.textBoxTitle {
    font-size: 15px;
    font-weight: bold;
}
.textBoxValue {
    font-size: 14px;
}
.textRollUpTitle {
    font-size: 14px;
}

.textBoxPercent {
    font-size: 22px;
    font-weight: bold;
}
.groupHeaderAdditionalInfo {
    font-size: 11px;
}
.groupElement {
    font-size: 16px;
}
.groupElementValue {
    font-size: 16px;
}

/*.box rect:hover {
    opacity: 0.5 !important;
    cursor: pointer;
}*/
.analyticBox rect:hover {;
    cursor: pointer;
}

.textAnalyticTitle {
    font-size: 13px;
}

.capitalExpenseMatrixRollUpTooltip {
    background: #f0f8ff;
    border: 2px solid #86868a;
    position: relative;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
    box-shadow: 3px 5px 25px 1px rgba(0,0,0,0.6);
}

.capitalExpenseMatrixRollUpTooltip:after,
.capitalExpenseMatrixRollUpTooltip:before {
    content: '';
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -122px;
    bottom: -24px;
    width: 0;
}
.capitalExpenseMatrixRollUpTooltip:before {
    border-top-color: #86868a;
    border-width: 12px;
}
.capitalExpenseMatrixRollUpTooltip:after {
    border-top-color: #f0f8ff;
    border-width: 15px;
    margin-left: -125px;
}

.capitalExpenseMatrixColumnTooltip {
    background: #f0f8ff;
    border: 2px solid #86868a;
    position: relative;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
    box-shadow: 3px 5px 25px 1px rgba(0,0,0,0.6);
}

.capitalExpenseMatrixColumnTooltip:after,
.capitalExpenseMatrixColumnTooltip:before {
    content: '';
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    /*bottom: -24px;*/
    top: -24px;
    width: 0;
}
.capitalExpenseMatrixColumnTooltip:before {
    border-bottom-color: #86868a;
    border-width: 12px;
}
.capitalExpenseMatrixColumnTooltip:after {
    border-bottom-color: #f0f8ff;
    border-width: 15px;
    margin-left: -15px;
}


.capitalExpenseMatrixBoxTooltip {
  background: #f0f8ff;
   border: 2px solid #86868a;
   position: relative;
   padding: 8px;
   text-align: center;
   margin-bottom: 8px;
   box-shadow: 3px 5px 25px 1px rgba(0,0,0,0.6);
}

.capitalExpenseMatrixBoxTooltip:after,
.capitalExpenseMatrixBoxTooltip:before {
   content: '';
   border: 1px solid transparent;
   position: absolute;
   left: 50%;
   margin-left: -12px;
   bottom: -24px;
   width: 0;
}
.capitalExpenseMatrixBoxTooltip:before {
   border-top-color: #86868a;
   border-width: 12px;
}
.capitalExpenseMatrixBoxTooltip:after {
   border-top-color: #f0f8ff;
   border-width: 15px;
   margin-left: -15px;
}
 
 .capitalExpenseMatrixBoxTooltipPercent {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
 } 
 
 .capitalExpenseMatrixBoxTooltipValue {
    float: right;
    text-align: right;
    font-size: 18px;
 }
 
 .capitalExpenseMatrixBoxTooltipTitle {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
 }


.capitalExpenseMatrixZoomOutTooltipText {
    font-size: 13px;
    font-weight: bold;
}

.capitalExpenseMatrixColumnHeaderTooltip {
    background: #f0f8ff;

    padding: 8px;
    /*margin-bottom: 10px;*/
    box-shadow: 3px 5px 25px 1px rgba(0,0,0,0.2);
}

[role="button"] {
    cursor: pointer;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropup,
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
}
.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #262626;
    opacity: 1;
    background-color: #ea7500;

}

.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}



