/**
 * CSS class overrides specific to Financial Analysis Console.
 * The objective is to remove UI elements that distract from graphical content of the console.
 */

/**
 * Remove panel borders.
 */
.x-panel-body-noheader, .x-panel-body {
    border: none;
}
.x-tab-panel-noborder .x-tab-panel-body-noborder {
    border-width: 0;
}
/**
 * Remove tab stip background.
 */
ul.x-tab-strip-top {
    background: transparent;
}
.panelToolbar {
    background: transparent;
}

/**
 * Style input fields in the tab strip.
 */
.toolbarControls, li.toolbarControls {
    background: transparent;
    border: none;
}

li.toolbarControls {
    padding-left: 20px;
}

.toolbarControls td {
    padding-left: 20px;
}

.toolbarControls .x-btn td {
    padding: 0;
}

.toolbarControls div {
    display: inline-block;
}

.toolbarControls div input {
    vertical-align: top;
    margin-top: 2px;
}

.toolbarControls div span {
    display: inline-block;
    padding-left: 2px;
    padding-right: 8px;
}

.toolbarControls a {
    margin-left: 8px;
}

.toolbarControls img.fieldButton {
    width: 16px;
    height: 16px;
    margin-left: -20px;
    margin-top: -6px;
}

/**
 * Style the Select Metrics dialog.
 */
#selectMetricsForm_head {
    display: none;
}
.panel td.fieldset {
    padding-right: 4px;
}
.panel td.labelFieldset, span.labelFieldset {
    background-color: #cce0f9;
}
.panel .fieldset td.label {
    padding-left: 0;
}

table.selectMetrics th {
    border-bottom: 1px solid #888;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: bottom;
    white-space: normal;
    width: 60px;
    height: 50px;
}
table.selectMetrics td.metricName {
    padding-right: 16px;
    text-align: right;
    width: 200px;
}
table.selectMetrics td {
    padding-top: 0;
    padding-bottom: 0;
}

/**
 * Style the Select Metrics dialog tooltip window.
 */
.ui-widget {
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.ui-widget-header {
    background-color: #C5D5EC;
    background-image: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #dde6f0;
}
.ui-dialog .ui-dialog-titlebar-close span {
    margin-left: -8px;
    margin-top: -8px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
}

td.metricName {
    cursor: pointer;
}
div.metricTooltipTitle {
    padding-top: 8px;
    padding-left: 16px;
    font-weight: bold;
}
div.metricTooltipText {
    padding-left: 16px;
}


* {
    box-sizing: content-box !important;
}

#assetScorecard #sortHeader_1, #assetScorecard #sortHeader_2, #assetScorecard #sortHeader_3, #assetScorecard #sortHeader_4 {
    padding-right: 20px !important;
}

.panelReport td {
    background-color: transparent;
    //border-left: 1px solid #cad8ea;
    //border-right: 1px solid #cad8ea;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #cad8ea;
    color: #000000;
    font-size: 13px;
    padding: 2px 4px;
}

.panelReport th {
    background-color: transparent;
    border-left: 1px solid #c9d2df;
    border-right: 1px solid #c9d2df;
    color: #000000;
    font-size: 13px;
    font-style: italic;
    padding: 1px 4px;
    text-align: left;
    white-space: nowrap;
}

.footerDiv td{
    background-color: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #000000;
    font-size: 13px;
    padding: 2px 4px;
}

/**
 * Style the Asset Scorecard grid.
 */

.panelReport td.bigger {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.panelReport td.biggerBetter {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-green-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.panelReport td.biggerWorse {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-red-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.panelReport td.smaller {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}
.panelReport td.smallerBetter {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-green-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}
.panelReport td.smallerWorse {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-red-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.legendTitle {
    font-style: italic;
    padding-left: 20px;
}

.leaflet-control, .leaflet-top, .leaflet-bottom {
    z-index: 0;
}