$include-pictos-font: false;
$include-default-icons: false;

@import 'sencha-touch/boston';
@import 'sencha-touch/boston/all';
@import 'mobileclient/shared';

.text-label {
  color: #3271a0;
  padding: 0.6em;
  font-weight: bold;
}

.x-form-action-label-phone {
  padding-left: 0.2em !important;
  color: #FF7915
}

.x-form-action-label {
  color: #FF7915
}

.equipment-list {
  .x-field-checkbox {
    background-color: transparent;
  }

  .x-list-item-inner {
    padding: $list-padding;
  }

  .x-list-item-body {
    padding: 0px !important;
  }

  .equipment-list-hbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start;
    -webkit-box-pack: start;

    .equipment-list-equipment {
      font-weight: bold;
    }
  }
}

.delete-button-picker {
  border: 0px !important;
}
